.header{
    background: #7bea76;
    color:#fff;
    padding-bottom: 1.5rem;
}
.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    position: relative;
}
.header-icon{
    height:2rem;
}
.title{
    font-size: 18px;
    margin-left: 10px;
}
.left-row{
    display: flex;
    align-items: center;
    position: absolute;
    left:20px;
}
.right-row{
    position: absolute;
    right:20px;
}
.name{
    font-size: 16px;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
}
.header-logo>img{
    height:6rem;
    width:6rem;
    border-radius: 100%;
}
.header-row{
    display: flex;
}
.header-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    flex:1;
}
.header-item:last-child{
    border-right: none;
}
.header-sub-title{
}

.sta-img{
    width: 100%;
    display: block;
    padding-top: 5px;
}
.content{
    background: #fff;
}
.sta-wrapper{
    background: #fff;
    padding:0 20px;
    padding-bottom: 20px;
}
.sta-row{
    display: flex;
    justify-content: space-between;
    padding:10px 0;
}
.sta-title{
    font-size: 16px;
    font-weight: bold;
}
.video-wrapper{
    width: 100%;
    /* height:6rem; */
}
video{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
