<!DOCTYPE html>
<html> 
<head>
<title>天蓬科技</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link href="${base.contextPath}/lib/ligerUI/skins/Aqua/css/ligerui-all${resource_suffix!}.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/ligerUI/skins/Dsis/css/all${resource_suffix!}.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/lib/ligerUI/skins/ligerui-icons${resource_suffix!}.css" rel="stylesheet" type="text/css" />
<link href="${base.contextPath}/resources/css/common${resource_suffix!}.css" rel="stylesheet" type="text/css" />
<script src="${base.contextPath}/lib/jquery/jquery-1.9.0${resource_suffix!}.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.defaultPrompt = {};
$l = function(code,value){
    var al = arguments.length,p = jQuery.defaultPrompt;
    if(al == 1){
        var v = p[code];
        return v ? v : code;
    }else if(al == 2){
        p[code] = value;
    }
}
</script>
<script type="text/javascript">
$l('type.hand.commom.date.daysmin.saturday','<@spring.message "type.hand.commom.date.daysmin.saturday"/>');
$l('type.hand.commom.date.daysmin.sunday','<@spring.message "type.hand.commom.date.daysmin.sunday"/>');
$l('type.hand.commom.date.daysmin.thursday','<@spring.message "type.hand.commom.date.daysmin.thursday"/>');
$l('type.hand.commom.date.daysmin.monday','<@spring.message "type.hand.commom.date.daysmin.monday"/>');
$l('type.hand.commom.date.daysmin.friday','<@spring.message "type.hand.commom.date.daysmin.friday"/>');
$l('type.hand.commom.date.daysmin.tuesday','<@spring.message "type.hand.commom.date.daysmin.tuesday"/>');
$l('type.hand.commom.date.daysmin.wednesday','<@spring.message "type.hand.commom.date.daysmin.wednesday"/>');
$l('type.hand.commom.date.monthsshort.june','<@spring.message "type.hand.commom.date.monthsshort.june"/>');
$l('type.hand.commom.date.monthsshort.january','<@spring.message "type.hand.commom.date.monthsshort.january"/>');
$l('type.hand.commom.date.monthsshort.march','<@spring.message "type.hand.commom.date.monthsshort.march"/>');
$l('type.hand.commom.date.monthsshort.november','<@spring.message "type.hand.commom.date.monthsshort.november"/>');
$l('type.hand.commom.date.monthsshort.march','<@spring.message "type.hand.commom.date.monthsshort.march"/>');
$l('type.hand.commom.date.monthsshort.may','<@spring.message "type.hand.commom.date.monthsshort.may"/>');
$l('type.hand.commom.date.monthsshort.september','<@spring.message "type.hand.commom.date.monthsshort.september"/>');
$l('type.hand.commom.date.monthsshort.april','<@spring.message "type.hand.commom.date.monthsshort.april"/>');
$l('type.hand.commom.date.monthsshort.august','<@spring.message "type.hand.commom.date.monthsshort.august"/>');
$l('type.hand.commom.date.monthsshort.january','<@spring.message "type.hand.commom.date.monthsshort.january"/>');
$l('type.hand.commom.date.monthsshort.october','<@spring.message "type.hand.commom.date.monthsshort.october"/>');
$l('type.hand.commom.date.monthsshort.february','<@spring.message "type.hand.commom.date.monthsshort.february"/>');
$l('type.hand.commom.date.monthsshort.september','<@spring.message "type.hand.commom.date.monthsshort.september"/>');
$l('type.hand.commom.date.monthsshort.august','<@spring.message "type.hand.commom.date.monthsshort.august"/>');
$l('type.hand.commom.date.monthsshort.december','<@spring.message "type.hand.commom.date.monthsshort.december"/>');
$l('type.hand.commom.date.monthsshort.july','<@spring.message "type.hand.commom.date.monthsshort.july"/>');
$l('type.hand.commom.date.monthsshort.april','<@spring.message "type.hand.commom.date.monthsshort.april"/>');
$l('type.hand.commom.date.monthsshort.december','<@spring.message "type.hand.commom.date.monthsshort.december"/>');
$l('type.hand.commom.date.monthsshort.february','<@spring.message "type.hand.commom.date.monthsshort.february"/>');
$l('type.hand.commom.date.monthsshort.july','<@spring.message "type.hand.commom.date.monthsshort.july"/>');
$l('type.hand.commom.date.monthsshort.june','<@spring.message "type.hand.commom.date.monthsshort.june"/>');
$l('type.hand.commom.date.monthsshort.may','<@spring.message "type.hand.commom.date.monthsshort.may"/>');
$l('type.hand.commom.date.monthsshort.november','<@spring.message "type.hand.commom.date.monthsshort.november"/>');
$l('type.hand.commom.date.monthsshort.october','<@spring.message "type.hand.commom.date.monthsshort.october"/>');
$l('type.hand.commom.date.today','<@spring.message "type.hand.commom.date.today"/>');
$l('sys.hand.btn.refresh','<@spring.message "sys.hand.btn.refresh"/>');
$l('sys.hand.tab.close_others','<@spring.message "sys.hand.tab.close_others"/>');
$l('sys.hand.tab.close_all','<@spring.message "sys.hand.tab.close_all"/>');
$l('sys.hand.btn.close','<@spring.message "sys.hand.btn.close"/>');
$l('sys.hand.btn.action','<@spring.message "sys.hand.btn.action"/>');
$l('sys.hand.btn.cancel','<@spring.message "sys.hand.btn.cancel"/>');
$l('sys.hand.btn.delete','<@spring.message "sys.hand.btn.delete"/>');
$l('sys.hand.btn.edit','<@spring.message "sys.hand.btn.edit"/>');
$l('sys.hand.btn.new','<@spring.message "sys.hand.btn.new"/>');
$l('sys.hand.btn.ok','<@spring.message "sys.hand.btn.ok"/>');
$l('sys.hand.grid.pageinfo','<@spring.message "sys.hand.grid.pageinfo"/>');
$l('sys.hand.tip.loading','<@spring.message "sys.hand.tip.loading"/>');
$l('sys.hand.btn.search','<@spring.message "sys.hand.btn.search"/>');
$l('sys.hand.btn.yes','<@spring.message "sys.hand.btn.yes"/>');
$l('sys.hand.btn.no','<@spring.message "sys.hand.btn.no"/>');
$l('sys.hand.btn.query','<@spring.message "sys.hand.btn.query"/>');
$l('sys.hand.btn.save','<@spring.message "sys.hand.btn.save"/>');
$l('sys.hand.tip.delete_confirm','<@spring.message "sys.hand.tip.delete_confirm"/>');
$l('sys.hand.tip.failure','<@spring.message "sys.hand.tip.failure"/>');
$l('sys.hand.tip.info','<@spring.message "sys.hand.tip.info"/>');
$l('sys.hand.tip.invalid_field','<@spring.message "sys.hand.tip.invalid_field"/>');
$l('sys.hand.tip.loading','<@spring.message "sys.hand.tip.loading"/>');
$l('sys.hand.tip.processing','<@spring.message "sys.hand.tip.processing"/>');
$l('sys.hand.tip.success','<@spring.message "sys.hand.tip.success"/>');
$l('sys.hand.tip.session_expired','<@spring.message "sys.hand.tip.session_expired"/>');
$l('sys.hand.validate.required','<@spring.message "sys.hand.validate.required"/>');
$l('sys.hand.validate.remote','<@spring.message "sys.hand.validate.remote"/>');
$l('sys.hand.validate.email','<@spring.message "sys.hand.validate.email"/>');
$l('sys.hand.validate.url','<@spring.message "sys.hand.validate.url"/>');
$l('sys.hand.validate.date','<@spring.message "sys.hand.validate.date"/>');
$l('sys.hand.validate.dateISO','<@spring.message "sys.hand.validate.dateISO"/>');
$l('sys.hand.validate.number','<@spring.message "sys.hand.validate.number"/>');
$l('sys.hand.validate.digits','<@spring.message "sys.hand.validate.digits"/>');
$l('sys.hand.validate.creditcard','<@spring.message "sys.hand.validate.creditcard"/>');
$l('sys.hand.validate.equalTo','<@spring.message "sys.hand.validate.equalTo"/>');
$l('sys.hand.validate.accept','<@spring.message "sys.hand.validate.accept"/>');
$l('sys.hand.validate.maxlength','<@spring.message "sys.hand.validate.maxlength"/>');
$l('sys.hand.validate.minlength','<@spring.message "sys.hand.validate.minlength"/>');
$l('sys.hand.validate.rangelength','<@spring.message "sys.hand.validate.rangelength"/>');
$l('sys.hand.validate.range','<@spring.message "sys.hand.validate.range"/>');
$l('sys.hand.validate.max','<@spring.message "sys.hand.validate.max"/>');
$l('sys.hand.validate.min','<@spring.message "sys.hand.validate.min"/>');
$l('msg.info.multilanguage_editor','<@spring.message "msg.info.multilanguage_editor"/>');

</script>
<script src="${base.contextPath}/lib/ligerUI/js/ligerui.all${resource_suffix!}.js?v=20160829" type="text/javascript"></script>
<script src="${base.contextPath}/lib/jquery.cookie${resource_suffix!}.js"></script>
<script src="${base.contextPath}/lib/json2${resource_suffix!}.js"></script>
<script src="${base.contextPath}/lib/jquery-validation/jquery.validate${resource_suffix!}.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/jquery-validation/jquery.metadata${resource_suffix!}.js" type="text/javascript"></script>
<script src="${base.contextPath}/resources/js/app/hap${resource_suffix!}.js?v=20160710" type="text/javascript"></script>
<script src="${base.contextPath}/resources/js/app/ligerTLEdit${resource_suffix!}.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/jquery-validation/messages${resource_suffix!}.js" type="text/javascript"></script>
<script type="text/javascript">
var _basePath = '${base.contextPath}',_locale='${base.locale}'; 
Hap.timeZone.set('${Session.timeZone}');
</script>
</head> 
<#macro lov lovid>${lovService.getLov(base.contextPath,base.locale,lovid)}</#macro>
