.home-header{
    background: #fff;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 10px;
    left: 0;
    right: 0;
    top:0;
    position: fixed;
}
.home-header-icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #999;
}
.trolley-icon{
    height:23px;
    margin-bottom:3px;
}
.scan-icon{
    height:20px;
    margin-bottom: 3px;
}
.home-header-input{
    background: #e8e8e8;
    height: 30px;
    margin: 0 15px;
    border-radius: 10px;
    margin-bottom: 4px;
    flex:1;
}
.home-banner{
    height:17rem;
    width: 100%;
    display: block;
}
.home-menu{
    background: #fff;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.home-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: #959595;
}
.home-menu-list-icon{
    /* box-shadow: 0px 3px 6px 0.1px rgba(56, 0, 0, 0.5); */
    width:3rem;
}
.home-advertising{
    background: #fff;
    padding:8px;
    margin:8px 0;
    display: flex;
    align-items: center;

}
.home-advertising-icon{
    height:5rem;
}
.home-advertising-item{
    display: flex;
}
.advertising-title{
    color:#8d8d8d;
}
.advertising-subtitle{
    color:#8d8d8d;
    font-size: 10px;
}
.advertising-price1{
    font-size: 1.5rem;
    color: #f53c3c;
}
.advertising-price2{
    font-size: 1.5rem;
    color: #147f3c;
}
.home-time-icon{
    height: 1rem;
}
.home-advertising-bg{
    width: 100%;
    margin:8px 0;
    display: block;
}
.home-recommend-title{
    background: #fff;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend-line{
    height:1px;
    width: 30px;
    background: #8d8d8d;
}
.home-recommend-text{
    color:#8d8d8d;
    margin:0 5px;
    font-size: 16px;
}
.home-recommend-list{
    padding:0 20px;
    padding-bottom: 8px;
}
.home-recommend-item{
    margin-top:8px;
}
.home-recommend-img{
    width: 100%;
    display: block;
}
.home-container{
    padding-top: 5rem;
}