<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright LKK Health Products Group Limited
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.platform.mapper.system.AccountRelationMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.platform.dto.system.AccountRelation" extends="com.lkkhpg.dsis.platform.mapper.BaseMapper.STD" >
    <id column="ACCOUNT_ID" property="accountId" jdbcType="BIGINT" />
    <result column="ACCOUNT_TYPE" property="accountType" jdbcType="VARCHAR" />
    <result column="REL_PARTY_ID" property="relPartyId" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ACCOUNT_ID, ACCOUNT_TYPE, REL_PARTY_ID, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
    CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15
  </sql>
  <insert id="insert" parameterType="com.lkkhpg.dsis.platform.dto.system.AccountRelation" >
    insert into sys_acc_rel (ACCOUNT_ID, ACCOUNT_TYPE, REL_PARTY_ID, 
       REQUEST_ID, PROGRAM_ID, 
      CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, 
      ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
      )
    values (#{accountId,jdbcType=BIGINT}, #{accountType,jdbcType=VARCHAR}, #{relPartyId,jdbcType=BIGINT}, 
      #{requestId,jdbcType=BIGINT}, #{programId,jdbcType=BIGINT},
      CURRENT_TIMESTAMP, #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, 
      CURRENT_TIMESTAMP, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, 
      #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}
      )
  </insert>
  <update id="update" parameterType="com.lkkhpg.dsis.platform.dto.system.AccountRelation" >
    update sys_acc_rel
    set ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      REL_PARTY_ID = #{relPartyId,jdbcType=BIGINT},
      OBJECT_VERSION_NUMBER = COALESCE(OBJECT_VERSION_NUMBER,0) + 1,
      REQUEST_ID = #{requestId,jdbcType=BIGINT},
      PROGRAM_ID = #{programId,jdbcType=BIGINT},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where ACCOUNT_ID = #{accountId,jdbcType=BIGINT}
  </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM SYS_ACC_REL
        WHERE ACCOUNT_ID = #{accountId,jdbcType=DECIMAL}
    </delete>
</mapper>