<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright LKK Health Products Group Limited
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.platform.mapper.system.PromptMapper">
    <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.platform.dto.system.Prompt" extends="com.lkkhpg.dsis.platform.mapper.BaseMapper.STD">
        <id column="PROMPT_ID" property="promptId" jdbcType="DECIMAL"/>
        <result column="PROMPT_CODE" property="promptCode" jdbcType="VARCHAR"/>
        <result column="LANG" property="lang" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    PROMPT_ID, PROMPT_CODE, LANG, DESCRIPTION, OBJECT_VERSION_NUMBER, REQUEST_ID, 
    PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from SYS_PROMPTS
        where PROMPT_ID = #{promptId,jdbcType=DECIMAL}
    </select>
    <select id="select" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.platform.dto.system.Prompt">
        select
        <include refid="Base_Column_List"/>
        from SYS_PROMPTS
        <where>
            <if test="promptId != null">
                prompt_id = #{promptId,jdbcType=DECIMAL}
            </if>
            <if test="promptCode != null">
                AND prompt_code like concat('%',concat(#{promptCode,jdbcType=VARCHAR},'%'))
            </if>
            <if test="description != null">
                AND lower(description) like lower(concat('%',concat(#{description,jdbcType=VARCHAR},'%')))
            </if>
            <if test="lang != null">
                AND LANG = #{lang,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!-- select all for cache-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_PROMPTS
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from SYS_PROMPTS
      where PROMPT_ID = #{promptId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.lkkhpg.dsis.platform.dto.system.Prompt">
        <selectKey resultType="long" keyProperty="promptId" order="BEFORE">
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
        </selectKey>
        insert into SYS_PROMPTS (PROMPT_ID, PROMPT_CODE, LANG,
        DESCRIPTION, OBJECT_VERSION_NUMBER, REQUEST_ID,
        PROGRAM_ID, CREATION_DATE, CREATED_BY,
        LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
        ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2,
        ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5,
        ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8,
        ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11,
        ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14,
        ATTRIBUTE15)
        values (#{promptId,jdbcType=DECIMAL}, #{promptCode,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, 1, #{requestId,jdbcType=DECIMAL},
        #{programId,jdbcType=DECIMAL}, #{creationDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=DECIMAL},
        #{lastUpdatedBy,jdbcType=DECIMAL}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{lastUpdateLogin,jdbcType=DECIMAL},
        #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
        #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR},
        #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR},
        #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR},
        #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR},
        #{attribute15,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.platform.dto.system.Prompt">
        update SYS_PROMPTS
        <set>
            <if test="promptCode != null">
                PROMPT_CODE = #{promptCode,jdbcType=VARCHAR},
            </if>
            <if test="lang != null">
                LANG = #{lang,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            OBJECT_VERSION_NUMBER = COALESCE(OBJECT_VERSION_NUMBER,0) + 1,
            <if test="requestId != null">
                REQUEST_ID = #{requestId,jdbcType=DECIMAL},
            </if>
            <if test="programId != null">
                PROGRAM_ID = #{programId,jdbcType=DECIMAL},
            </if>
            <if test="lastUpdatedBy != null">
                LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
            </if>
            LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
            <if test="lastUpdateLogin != null">
                LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
            </if>
            <if test="attributeCategory != null">
                ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
            </if>
            <if test="attribute1 != null">
                ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
            </if>
            <if test="attribute2 != null">
                ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
            </if>
            <if test="attribute3 != null">
                ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
            </if>
            <if test="attribute4 != null">
                ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
            </if>
            <if test="attribute5 != null">
                ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
            </if>
            <if test="attribute6 != null">
                ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
            </if>
            <if test="attribute7 != null">
                ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
            </if>
            <if test="attribute8 != null">
                ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
            </if>
            <if test="attribute9 != null">
                ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
            </if>
            <if test="attribute10 != null">
                ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
            </if>
            <if test="attribute11 != null">
                ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
            </if>
            <if test="attribute12 != null">
                ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
            </if>
            <if test="attribute13 != null">
                ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
            </if>
            <if test="attribute14 != null">
                ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
            </if>
            <if test="attribute15 != null">
                ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
            </if>
        </set>
        where PROMPT_ID = #{promptId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.platform.dto.system.Prompt">
    update SYS_PROMPTS
    set PROMPT_CODE = #{promptCode,jdbcType=VARCHAR},
      LANG = #{lang,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      OBJECT_VERSION_NUMBER = COALESCE(OBJECT_VERSION_NUMBER,0) + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where PROMPT_ID = #{promptId,jdbcType=DECIMAL}
  </update>
</mapper>