<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.dashboard.mapper.FunctionShortcutMapper">
    <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        <id column="SHORTCUT_ID" property="shortcutId" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
        <result column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL" />
        <result column="SORT_NUMBER" property="sortNumber" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="Base_Column_List">
        SHORTCUT_ID, USER_ID, ROLE_ID, FUNCTION_ID, SORT_NUMBER, OBJECT_VERSION_NUMBER, REQUEST_ID,
        PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
        ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6,
        ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13,
        ATTRIBUTE14, ATTRIBUTE15
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from SYS_FUNCTION_SHORTCUT
        where SHORTCUT_ID = #{shortcutId,jdbcType=DECIMAL}
    </select>
    <select id="selectFunctionShortcuts" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        select
        <include refid="Base_Column_List" />
        from SYS_FUNCTION_SHORTCUT
        where USER_ID = #{userId,jdbcType=DECIMAL}
        and ROLE_ID = #{roleId,jdbcType=DECIMAL}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        delete from SYS_FUNCTION_SHORTCUT
        where SHORTCUT_ID = #{shortcutId,jdbcType=DECIMAL}
    </delete>

    <delete id="deleteBatch">
        delete from SYS_FUNCTION_SHORTCUT
        where 1=1
        AND USER_ID = #{userId}
        AND ROLE_ID = #{roleId}
        <if test="functionIdList.size()>0">
            AND FUNCTION_ID NOT IN
            <foreach item="functionId" index="index" collection="functionIdList" open="(" separator="," close=")">
                #{functionId}
            </foreach>
        </if>


    </delete>
    <insert id="insert" parameterType="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        <selectKey resultType="java.lang.Long" keyProperty="shortcutId" order="BEFORE">
            select SYS_FUNCTION_SHORTCUT_s.nextval from dual
        </selectKey>
        insert into SYS_FUNCTION_SHORTCUT (SHORTCUT_ID, USER_ID, ROLE_ID,
        FUNCTION_ID, SORT_NUMBER,
        REQUEST_ID, PROGRAM_ID, CREATION_DATE,
        CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE,
        LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1,
        ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4,
        ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7,
        ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10,
        ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13,
        ATTRIBUTE14, ATTRIBUTE15)
        values (#{shortcutId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL},
        #{functionId,jdbcType=DECIMAL}, #{sortNumber,jdbcType=DECIMAL},
        #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, CURRENT_TIMESTAMP,
        #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, CURRENT_TIMESTAMP,
        #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR},
        #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR},
        #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR},
        #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR},
        #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR},
        #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        <selectKey resultType="java.lang.Long" keyProperty="shortcutId" order="BEFORE">
            select SYS_FUNCTION_SHORTCUT_s.nextval from dual
        </selectKey>
        insert into SYS_FUNCTION_SHORTCUT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            SHORTCUT_ID,CREATION_DATE,LAST_UPDATE_DATE,
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="functionId != null">
                FUNCTION_ID,
            </if>
            <if test="sortNumber != null">
                SORT_NUMBER,
            </if>
            <if test="objectVersionNumber != null">
                OBJECT_VERSION_NUMBER,
            </if>
            <if test="requestId != null">
                REQUEST_ID,
            </if>
            <if test="programId != null">
                PROGRAM_ID,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="lastUpdatedBy != null">
                LAST_UPDATED_BY,
            </if>
            <if test="lastUpdateLogin != null">
                LAST_UPDATE_LOGIN,
            </if>
            <if test="attributeCategory != null">
                ATTRIBUTE_CATEGORY,
            </if>
            <if test="attribute1 != null">
                ATTRIBUTE1,
            </if>
            <if test="attribute2 != null">
                ATTRIBUTE2,
            </if>
            <if test="attribute3 != null">
                ATTRIBUTE3,
            </if>
            <if test="attribute4 != null">
                ATTRIBUTE4,
            </if>
            <if test="attribute5 != null">
                ATTRIBUTE5,
            </if>
            <if test="attribute6 != null">
                ATTRIBUTE6,
            </if>
            <if test="attribute7 != null">
                ATTRIBUTE7,
            </if>
            <if test="attribute8 != null">
                ATTRIBUTE8,
            </if>
            <if test="attribute9 != null">
                ATTRIBUTE9,
            </if>
            <if test="attribute10 != null">
                ATTRIBUTE10,
            </if>
            <if test="attribute11 != null">
                ATTRIBUTE11,
            </if>
            <if test="attribute12 != null">
                ATTRIBUTE12,
            </if>
            <if test="attribute13 != null">
                ATTRIBUTE13,
            </if>
            <if test="attribute14 != null">
                ATTRIBUTE14,
            </if>
            <if test="attribute15 != null">
                ATTRIBUTE15,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{shortcutId,jdbcType=DECIMAL},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,
            <if test="userId != null">
                #{userId,jdbcType=DECIMAL},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=DECIMAL},
            </if>
            <if test="functionId != null">
                #{functionId,jdbcType=DECIMAL},
            </if>
            <if test="sortNumber != null">
                #{sortNumber,jdbcType=DECIMAL},
            </if>
            <if test="objectVersionNumber != null">
                1,
            </if>
            <if test="requestId != null">
                #{requestId,jdbcType=DECIMAL},
            </if>
            <if test="programId != null">
                #{programId,jdbcType=DECIMAL},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=DECIMAL},
            </if>
            <if test="lastUpdatedBy != null">
                #{lastUpdatedBy,jdbcType=DECIMAL},
            </if>
            <if test="lastUpdateLogin != null">
                #{lastUpdateLogin,jdbcType=DECIMAL},
            </if>
            <if test="attributeCategory != null">
                #{attributeCategory,jdbcType=VARCHAR},
            </if>
            <if test="attribute1 != null">
                #{attribute1,jdbcType=VARCHAR},
            </if>
            <if test="attribute2 != null">
                #{attribute2,jdbcType=VARCHAR},
            </if>
            <if test="attribute3 != null">
                #{attribute3,jdbcType=VARCHAR},
            </if>
            <if test="attribute4 != null">
                #{attribute4,jdbcType=VARCHAR},
            </if>
            <if test="attribute5 != null">
                #{attribute5,jdbcType=VARCHAR},
            </if>
            <if test="attribute6 != null">
                #{attribute6,jdbcType=VARCHAR},
            </if>
            <if test="attribute7 != null">
                #{attribute7,jdbcType=VARCHAR},
            </if>
            <if test="attribute8 != null">
                #{attribute8,jdbcType=VARCHAR},
            </if>
            <if test="attribute9 != null">
                #{attribute9,jdbcType=VARCHAR},
            </if>
            <if test="attribute10 != null">
                #{attribute10,jdbcType=VARCHAR},
            </if>
            <if test="attribute11 != null">
                #{attribute11,jdbcType=VARCHAR},
            </if>
            <if test="attribute12 != null">
                #{attribute12,jdbcType=VARCHAR},
            </if>
            <if test="attribute13 != null">
                #{attribute13,jdbcType=VARCHAR},
            </if>
            <if test="attribute14 != null">
                #{attribute14,jdbcType=VARCHAR},
            </if>
            <if test="attribute15 != null">
                #{attribute15,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        update SYS_FUNCTION_SHORTCUT
        <set>
            OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
            LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=DECIMAL},
            </if>
            <if test="roleId != null">
                ROLE_ID = #{roleId,jdbcType=DECIMAL},
            </if>
            <if test="functionId != null">
                FUNCTION_ID = #{functionId,jdbcType=DECIMAL},
            </if>
            <if test="sortNumber != null">
                SORT_NUMBER = #{sortNumber,jdbcType=DECIMAL},
            </if>
            <if test="requestId != null">
                REQUEST_ID = #{requestId,jdbcType=DECIMAL},
            </if>
            <if test="programId != null">
                PROGRAM_ID = #{programId,jdbcType=DECIMAL},
            </if>
            <if test="lastUpdatedBy != null">
                LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
            </if>
            <if test="lastUpdateLogin != null">
                LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
            </if>
            <if test="attributeCategory != null">
                ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
            </if>
            <if test="attribute1 != null">
                ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
            </if>
            <if test="attribute2 != null">
                ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
            </if>
            <if test="attribute3 != null">
                ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
            </if>
            <if test="attribute4 != null">
                ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
            </if>
            <if test="attribute5 != null">
                ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
            </if>
            <if test="attribute6 != null">
                ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
            </if>
            <if test="attribute7 != null">
                ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
            </if>
            <if test="attribute8 != null">
                ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
            </if>
            <if test="attribute9 != null">
                ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
            </if>
            <if test="attribute10 != null">
                ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
            </if>
            <if test="attribute11 != null">
                ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
            </if>
            <if test="attribute12 != null">
                ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
            </if>
            <if test="attribute13 != null">
                ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
            </if>
            <if test="attribute14 != null">
                ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
            </if>
            <if test="attribute15 != null">
                ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
            </if>
        </set>
        where SHORTCUT_ID = #{shortcutId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.dashboard.dto.FunctionShortcut">
        update SYS_FUNCTION_SHORTCUT
        set USER_ID = #{userId,jdbcType=DECIMAL},
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
        FUNCTION_ID = #{functionId,jdbcType=DECIMAL},
        SORT_NUMBER = #{sortNumber,jdbcType=DECIMAL},
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
        where SHORTCUT_ID = #{shortcutId,jdbcType=DECIMAL}
    </update>
    <select id="selectFunctionShortcutsMenu" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        SELECT sft.function_id,sfb.function_icon
        ,sft.function_description
        ,(select srb.url
        from SYS_RESOURCE_B srb
        where srb.resource_id = sfb.resource_id ) url
        ,sfb.function_code
        FROM sys_function_shortcut sfs
        ,sys_function_b sfb
        ,sys_function_tl sft
        WHERE sfs.role_id = #{roleId,jdbcType=INTEGER}
        AND sfb.function_id = sfs.function_id
        AND sfb.function_id = sft.function_id
        AND sft.lang = #{local,jdbcType=VARCHAR}
        AND sfs.user_id = #{userId,jdbcType=INTEGER}
    </select>
    
    <resultMap id="FunctionResultMap" type="com.lkkhpg.dsis.platform.dto.system.Function" extends="com.lkkhpg.dsis.platform.mapper.BaseMapper.STD" >
        <id column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL" />
        <result column="MODULE_CODE" property="moduleCode" jdbcType="VARCHAR" />
        <result column="FUNCTION_ICON" property="functionIcon" jdbcType="VARCHAR" />
        <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR" />
        <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR" />
        <result column="FUNCTION_DESCRIPTION" property="functionDesc" jdbcType="VARCHAR" />
        <result column="LANG" property="lang" jdbcType="VARCHAR" />
        <result column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL" />
        <result column="PARENT_FUNCTION_ID" property="parentFunctionId" jdbcType="DECIMAL"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
     </resultMap>
     
     <select id="selectFunctionNameByCode" resultMap="FunctionResultMap" parameterType="com.lkkhpg.dsis.platform.dto.system.Function">
        SELECT
            sfb.FUNCTION_ID,
            sft.FUNCTION_NAME
        FROM
            SYS_FUNCTION_B sfb
        LEFT OUTER JOIN SYS_FUNCTION_TL sft ON (
            sfb.FUNCTION_ID = sft.FUNCTION_ID
            AND sft.lang = #{request.locale,jdbcType=VARCHAR}
        )
        WHERE
            sfb.FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR}
    </select>
</mapper>