<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 引入dbconfig.properties属性文件 -->
    <context:property-placeholder location="classpath:config.properties"/>
    <!-- pdf 转换器 -->
    <bean class="com.lkkhpg.dsis.platform.report.pdf.ITextRendererObjectFactory">
        <property name="fontsPath" value="classpath:/report/fonts/"></property>
    </bean>

    <!-- 报表freemarker配置 -->
    <bean id="freemarkerConfiguration"
          class="com.lkkhpg.dsis.platform.report.view.FreemarkerConfiguration">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
        <property name="freeMarkerConfigurer">
            <bean
                    class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
                <property name="defaultEncoding" value="UTF-8" />
                <property name="freemarkerSettings">
                    <props>
                        <prop key="auto_import">spring.ftl as spring</prop>
                        <prop key="template_update_delay">2</prop>
                        <prop key="number_format">#</prop>
                        <prop key="date_format">yyyy-MM-dd</prop>
                        <prop key="time_format">HH:mm:ss</prop>
                        <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                    </props>
                </property>
            </bean>
        </property>
    </bean>
    <!-- Html生成器 -->
    <bean id="htmlGenerator" class="com.lkkhpg.dsis.platform.report.html.HtmlGenerator">
        <property name="freemarkerConfiguration" ref="freemarkerConfiguration"></property>
    </bean>

    <bean class="com.lkkhpg.dsis.platform.report.BirtUrlResolver">
        <property name="birtServerUrl" value="${birt.server.url}"></property>
    </bean>
</beans>
