.home-header {
    background: #fff;
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 10px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.home-header-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #999;
}

.trolley-icon {
    height: 23px;
    margin-bottom: 3px;
}

.scan-icon {
    height: 20px;
    margin-bottom: 3px;
}

.home-header-input {
    background: #e8e8e8;
    height: 30px;
    margin: 0 15px;
    border-radius: 10px;
    margin-bottom: 4px;
    flex: 1;
}

.banner-img {
    height: 15rem;
    width: 100%;
    background: #fff;
}

.filter {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding-top: 5px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 1.6rem;
}

.left-filter {
    display: flex;
    flex: 1;
}

.filter-icon {
    height: 1.5rem;
    margin-left: 3px;
}

.left-filter-row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right-filter {
    display: flex;
    align-items: center;
}

.right-filter-row2 {
    display: flex;
    align-items: center;
    border-left: 1px solid #f6f6f6;
    padding: 15px 20px;
    margin-left: 20px;
}

.more {
    display: flex;
    align-items: center;
    position: relative;
}

.active {
    color: #ff4d00;
}

.more:after {
    display: block;
    content: "";
    position: absolute;
    right: -20px;
    border-top: 6px solid #ff4d00;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.good-list-wrapper {
    background: #fff;
    padding-bottom: 20px;
}

.good-list {
    display: flex;
    margin-bottom: 10px;
}

.list-img {
    height: 10rem;
    width: 10rem;
}

.list-info {
    flex: 1;
    margin-left: 10px;
    padding-top:10px;
    border-bottom: 1px solid #f7f7f7;
}

.list-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 40px;
    padding-right: 20px;
    
}
.list-site{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom:3px;
    color:#999;
}
.tag{
    display: inline-block;
    border-radius: 4px;
    line-height: 12px;
    padding:1px 2px;
    font-size: 12px;
    margin-right: 2px;
    margin-bottom:5px;
   
}
.ad{
    border:1px solid #f1f1f1;
    color:#f1f1f1;
}
.pinkage{
    border:1px solid #ffc036;
    color:#ffc036;
}
.price{
    color:#ff4d02;
    margin-right: 10px;
}
.price-amount{
    font-size: 18px;
}
.pay-person{
    color:#999;
    font-size: 12px;
}
.pay-info-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
.more-info{
    display: flex;
}
.more-circle{
    height:4px;
    width:4px;
    border-radius: 4px;
    background: #ccc;
    margin-right: 2px;
}