.recommend-title{
    background: #8d8d8d;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend-line{
    height:1px;
    width: 30px;
    background: #fff;
}
.recommend-text{
    color:#fff;
    margin:0 5px;
    font-size: 16px;
}
.business-list{
    background: #fff;
    display: flex;
    padding:5px 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.business-item{
    width: 31.33%;
    margin:0 1%;
    height:10rem;
    background: #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business-icon{
    height:3rem;
    margin-bottom:10px;
}
.business-icon+p{
    color:#8d8d8d;
}
.recommend-list{
    background: #fff;
    display: flex;
    padding:5px 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.recommend-item{
    width: 32.33%;
    margin:0 0.5% 2% 0.5% ;
    height:10rem;
    background: #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recommend-img{
    height:10rem;
    width: 100%;
    display: block;
}
