.header{
    height:15rem;
    background: url("./images/bg1.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    color:#8d8d8d;
}
.logo-img{
    height:6rem;
    margin-right: 10px;
}
.header-name{
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.home-menu{
    background: #fff;
    padding:10px 10px 20px 10px;
    margin:5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    /* color: #959595; */
}
.home-menu-list-icon{
    box-shadow: 0px 3px 6px 0.1px 
    rgba(143, 143, 143, 0.4);
    width:3rem;
    margin-bottom:10px;
    border-radius: 5px;
}
.content{
    background: #fff;
    padding:0 20px;
}
.bg2{
    width: 100%;
    display: block;
}
.sta-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
}
.sta-icon1{
    height:2rem;
}
.sta-icon2{
    height:1rem;
}
.sta-title-text{
    font-size: 18px;
    margin:0 5px;
}
.more{
    color:#b8b8b8;
    position: relative;
    margin-right: 10px;
}
.more:after{
    position: absolute;
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    border: 1px solid #b8b8b8;
    border-left: none;
    border-bottom:none;
    transform: rotate(45deg);
    top: 5px;
    right: -9px;
}