.header{
    height:15rem;
    background: url("./images/bg1.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    color:#8d8d8d;
}
.logo-img{
    height:6rem;
    margin-right: 10px;
}
.header-name{
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.menu{
    margin-top:5px;
    background: #fff;
    display: flex;
    box-sizing: border-box;
    height:16rem;
    padding:2rem 0;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #f1f1f1;
    flex:1;

}
.menu-item:last-child{
    border-right: none;
}

.menu-icon{
    height:5rem;
    margin-bottom: 10px;
}
.state-list{
    padding:5px 20px 40px 20px;
}
.state-list-wrapper{
    background: #fff;
    border-radius: 5px;
}
.state-item{
    display: flex;
    align-items: center;
    padding:10px 15px;
    border-bottom:1px solid #f1f1f1;
    position: relative;
}
.state-item:last-child{
    border-bottom: none;
}
.state-item:after{
    display: block;
    content:"";
    position: absolute;
    right:15px;
    height:0;
    width: 0;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    border-left:8px solid #e4e4e4;
}
.state-icon{
    height:1.8rem;
    width:1.8rem;
    margin-right: 10px;
}