.fodder-buy-filter {
    background: #fff;
    padding: 10px 20px;
}

.buy-fodder-row {
    display: flex;
    margin-bottom:5px;
}

.buy-fodder-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    background: #f1f1f1;
}

.buy-fodder-icon {
    width: 2rem;
}

.buy-fodder-title {
    color: #8d8d8d;
    margin-top: 5px;
}

.buy-fodder-item {
    display: flex;
    flex: 1;
    padding: 10px 0;
    margin-left: 2px;
    background: #e8e8e8;
    border-radius: 5px;
    color:#000;
    align-items: center;
}

.buy-fodder-cell {
    margin-left: 1rem;
}

.buy-fodder-cell-active {
    color: #ff6000
}
.buy-list {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 5px 20px;
}

.buy-list-item {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}
.buy-list-img{
    width: 60%;
    height:8rem;
}
.buy-list-img-wrapper{
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 5px;
}
.buy-list-price{
    font-size: 16px;
    color:#ff6600;
}
.buy-list-subtitle{
    font-size: 12px;
    color:#8d8d8d;
}
.business-recommend-title{
    background: #8d8d8d;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-recommend-line{
    height:1px;
    width: 30px;
    background: #fff;
}
.business-recommend-text{
    color:#fff;
    margin:0 5px;
    font-size: 16px;
}
.business-bg{
    padding:5px 20px;
    background: #fff;
    position: relative;
}
.business-bg-img{
    width: 100%;
    display: block;
}
.more-btn{
    position: absolute;
    top:2rem;
    right:2.5rem;
    height:2rem;
    border-radius: 2rem;
    background: #fff;
    color:#ff6600;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    font-size: 12px;
    
}
.p-recommend-title{
    background: #f1f1f1;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-recommend-line{
    height:1px;
    width: 30px;
    background: #8d8d8d;
}
.p-recommend-text{
    color:#8d8d8d;
    margin:0 5px;
    font-size: 16px;
}
.p-recommend-list{
    padding:5px 18px;
    display: flex;
    background: #fff;
}
.p-recommend-item{
    flex:1;
    padding:0 2px;
}
.p-recommend-item-img{
    width: 60%;
    height:6rem;
}
.p-recommend-item-img-wrapper{
    background: #f1f1f1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 0;
    margin-bottom: 5px;
}
.info-row{
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 12px;
    color:#575757;
}
.info-row>p{
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.info-row-price{
    color:#ff6600;
}