<#-- 
 * description: 自动订货赠品 
 * version: 1.0 
 * author:hanrui.huang@hand-china.com
 * .
 * 
--> 
<#include "../include/head.html">
<script type="text/javascript" src="${base.contextPath}/sys/org/current"></script>
<script src="${base.contextPath}/resources/js/mm/mm.min.js" type="text/javascript"></script>
<script src="${base.contextPath}/common/code?rulestatus=OM.AUTO_GIFT_RULE_STATUS" type="text/javascript"></script>
<body style="padding: 10px;">
<form id="autoShip_form">
</form>
<div id="autoShip_grid">
</div>
<script type="text/javascript">
<#assign isedit = (RequestParameters.isedit!'0')/>
    $(function() {
        <!--自动订货赠品规则表单-->
        window['autoShip_form'] = $("#autoShip_form").ligerForm({
            fields: [{
            	label: '<@spring.message "type.com.lkkhpg.dsis.common.im.dto.poheader.marketid"/>',
            	type : 'text', name : 'narketName', newline : true,
            	readonly : true,
            	options : {
            		value : _marketName
            	}
            },
            {
            	label: '<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.rule.code"/>',
            	type : 'text', name : 'ruleCode', newline : false,
            	options : {
            		onChangeValue : function(data) {
            			if(data.length > 40){
            				Hap.showError('<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.rule.code.error"/>');
            			}
            		}
            	}
            },{
            	type: 'text',
            	label: '<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.rule.name"/>',
            	newline: false,
            	name: 'ruleName',
            	options : {
            		onChangeValue : function(data) {
            			if(data.length > 40){
            				Hap.showError('<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.rule.name.error"/>');
            			}
                    }
            	}
            },{
            	type: 'select',
            	label: '<@spring.message "type.com.lkkhpg.dsis.common.inventory.stockio.status"/>',
            	name: 'status',
            	newline: true,
            	options: {
            		valueField: 'value',
            		textField: 'meaning',
            		data: rulestatus,
            		cancelable: true
            	}
            },{
            	label: '<@spring.message "type.com.lkkhpg.dsis.common.inv.dto.transfertrx.createdate"/>',
            	type: 'date',
            	newline: false,
            	name: 'creationDate',
            	options: {
            		format: 'yyyy-MM-dd'
            	}
            }],
            buttons: [{
            	text: '<@spring.message "sys.hand.btn.query"/>', disabled:false, width: 60, click: function(){
            		Hap.gridQuery({
                        form:autoShip_form,
                        grid:autoShip_grid
                    })
            	}
            }]
        });
        <!--自动订货赠品规则表-->
        window['autoShip_grid'] = $("#autoShip_grid").ligerGrid({
        	unSetValidateAttr: false,
        	columns: [{
        		display: '<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.rule.code"/>',
        		name: 'ruleCode',isSort : true,
        		align: 'left',
        		width: 150,
        		render: function(item) {
        			var html = "<a href='#' onClick=a_click('" + item.ruleId + "')>" + item.ruleCode + "</a>";
        			return html;
        		}
        	},{
                
        		display: '<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.rule.name"/>',
        		name: 'ruleName',
        		align: 'left',
        		width: 150
        	},{
        		display: '<@spring.message "type.com.lkkhpg.dsis.common.inventory.stockio.status"/>',
        		name: 'status',
        		align: 'left',
        		width: 150,
        		isSort : false,
        		render: function(item) {
        			return getCodeDesc(rulestatus, item.status);
        		}
        	},{
        		display: '<@spring.message "type.com.lkkhpg.dsis.common.inv.dto.transfertrx.createdate"/>',
        		name: 'creationDate',
        		align: 'left',
        		format: 'yyyy-MM-dd',
        		width: 150
            }],
            url: '${base.contextPath}/om/autoshipgiftrule/query',
            toolbar: {
                items: [{
                    text: '<@spring.message "sys.hand.btn.new"/>',
                    disable: false,
                    click: function() {
                    	window.top.f_removeTab("om_autoship_gift");
                    	parent.f_addTab("om_autoship_gift",'<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.edit"/>',"${base.contextPath}/om/om_autoship_gift_rule_edit.html");
                    },
                    icon: 'add'
                },
                {
                    line: true
                }
                ]
            },
            enabledEdit: false,
            width: '100%',
            height: '99%',
            checkbox: true
        });
    });
    function a_click(data) {
    	window.top.f_removeTab("om_autoship_gift_rule");
        parent.f_addTab("om_autoship_gift_rule",'<@spring.message "type.com.lkkhpg.dsis.common.order.dto.autoshipgiftrule.edit"/>',"${base.contextPath}/om/om_autoship_gift_rule_edit.html?isedit=1&ruleId=" + data);
    }
</script>
</body>
