.modal-dialog-content {
    padding-left: 74px;
    padding-right: 15px;
    padding-bottom: 30px;
	overflow: auto;
}
.modal-dialog-image{
	width: 48px;
    height: 48px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url('../img/dialog-icons.gif') no-repeat;
}
.modal-dialog-image-donne {
	background-position: 0px 0px;
}
.modal-dialog-image-error {
    background-position: 0px -48px;
}

.modal-dialog-image-question {
	background-position: 0px -144px;
}

.modal-dialog-image-warn {
	background-position: 0px -96px;
}