<#-- 
 * description: 会员变更市场申请界面 
 * version: 1.0 
 * author:xiawang.liu
 * .
 * 
--> 
<#include "../include/head.html">

<body style="padding: 10px; overflow: hidden;">
    <form id="market_change_query_form" autocomplete = "off"></form>
    <div id="market_change_grid"></div>
    <div id="market_gds_grid" style="display: none;"></div>
    <script type="text/javascript" src="${base.contextPath}/sys/org/current"></script>
    <script src="${base.contextPath}/resources/js/mm/mm.min.js" type="text/javascript"></script>
    <script src="${base.contextPath}/common/code?approvalStatus=SYS.REVIEW_STATUS&memberStatus=MM.MEMBER_STATUS" type="text/javascript"></script>
    <script src="${base.contextPath}/resources/js/export/export2Excel.js?v=20161026" type="text/javascript"></script>
    <script type="text/javascript">
    var enabledFlag_fromMarket = false;
    var market_change_apply_dialog;
    
    var markets = [];
    function queryMarkets(){
    	$.ajax({
 			url: '${base.contextPath}/spm/market/queryMarketsByRole',
 			type:"POST",
 			dataType:"json",
 			contentType : "application/json",
             data : '',
             async: false,
             success : function(json) {
                 if(json.success){
                	 $(json.rows).each(function(i,o){
                		 markets.push({"id":o.marketId,"text":o.name})
                	 })
                 }
             },
             error : function() {
             }
 		})
    	 
    }
    queryMarkets();
    
    var openTime = 1;
    <#assign marketId = (RequestParameters._marketId ! ) />
    <#if marketId != ''>
	currentMarket = ${RequestParameters._marketId};
	</#if>
	<#if marketId == ''>
	currentMarket = _marketId;
	</#if>
    /* 变更市场form */
    window['market_change_query_form'] = $("#market_change_query_form").ligerForm({
    fields: [
	{ type: 'combobox', label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.memberdetails.belongmarket"/>', newline:false, name: 'marketId',valueField : 'text',space : 10,
		options : {
	    	value: currentMarket,
			data:markets,
			onSelected:function(o){
				if(openTime == 1){
					$.ligerDialog.confirm('<@spring.message "dsis.lkkhpg.tip.refresh_page"/>',$l('sys.hand.tip.info'),
	                          function(yes) {
	                              if(yes){
	                            	  	var tabid = window.top.tab.selectedTabId;
		              			    	var tabname = $(window.top.tab.tab).find('.l-selected').find('a').text();
		              			    	window.top.f_removeTab(tabid);
		              					window.top.f_addTab(tabid, tabname, "mm/mm_marketchange_apply.html?_marketId="+o);
	                              }else{
	                            	  	openTime = openTime + 1;
	                            		liger.get('marketId').setValue(currentMarket);
	                              }
	                          });
				}else{
					openTime = 1;
				}
					
			}
	    },
	    validate : {
	    	required: true
			}
	},        
             {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.memberid"/>',
        name: "memberId",
        type: "popup",
        newline: false,
        labelWidth:60,
        textField: 'memberCode',
        readonly:false,
        options: $.extend(${lovService.getLov(base.contextPath,base.locale, "lov_member")},{
            onLoadData: function(){
               this.setParm('marketId', liger.get('marketId').selectedValue)
           } ,
             onChangeValue: function(){
               this.setParm('marketId', liger.get('marketId').selectedValue)
           }  
       })
    },
    {
        type: 'date',
        label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.beforedate"/>',
        name: 'beforeDate',
        format: 'yyyy-MM-dd',
        space : 10,
        validate: {
            maxlength: 50
        }
    },

    {
        type: 'date',
        label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.afterdate"/>',
        name: 'afterDate',
        labelWidth:60,
        format: 'yyyy-MM-dd',
        validate: {
            maxlength: 50
        },
        newline: false
    },
    {
        name: "subOrg",
        type: "hidden",
        newline: false,
        textField: '',
        readonly:false 
    }],
    buttons : [ {
        text : '<@spring.message "sys.hand.btn.query"/>',
        disabled : false,
        width : 60,
        click : function() {
            $('#market_gds_grid').hide();
            $('#market_change_grid').show();
            Hap.gridQuery({
                form : market_change_query_form,
                grid : market_change_grid
            })
            liger.get('deleteBtn').setDisabled();
        }
    },{
        text : '<@spring.message "sys.hand.btn.apply"/>',
        <#if accessService.access("APPLY_EDITABLE") == false>
        disabled:true, 
        </#if> 
        //disabled : false,
         width : 60,
        click : function() {
            apply_dialog_open();
        }
    },{
        text : '<@spring.message "sys.hand.btn.delete"/>',
        <#if accessService.access("DELETE_EDITABLE") == false>
        disabled:true, 
        </#if> 
        //disabled : true,
        id : 'deleteBtn',
        width : 60,
        click : function() {
        	if (market_gds_grid.getSelecteds().length == 0) {
        		$.ligerDialog.warn('<@spring.message "sys.hand.btn.please_select_the_market_records_to_turn_out"/>');
            }else{
            	deleteMarketChange();
            }
        	
        }
    },{
        text : '<@spring.message "sys.hand.btn.get_transout_grid"/>',
        <#if accessService.access("APPLY_LIST_EDITABLE") == false>
        disabled:true, 
        </#if>
        id : 'gdsBtn',
        width : 80,
        click : function() {
            //b_open();
            Hap.gridQuery({
                form : market_change_query_form,
                grid : market_gds_grid
            });
            liger.get('deleteBtn').setEnabled();
            
            $('#market_change_grid').hide();
            $('#market_gds_grid').show();
        }
    }]
    });
    $.extend(liger.get('memberId').options,{parms:{"marketId":liger.get('marketId').selectedValue}})
    
    /*变更市场记录grid*/
    window['market_change_grid'] = $("#market_change_grid").ligerGrid({
    /* pageSizeOptions : [15,20,30,40,50], */
    columns: [{
        display: '<@spring.message "msg.info.member.gds_id"/>',
        name: 'gdsId',
        width: '120'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.memberid"/>',
        name: 'memberCode',
        width: '150',
        isAllowHide: false,
        render: function(item) {
            var data = item.memberId;
            return html = '<a href="javascript:toDetailsHtml('+data+')">'+ item.memberCode +'</a>';
        }
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.membername"/>',
        name: 'memberName',
        width: '150'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.frommarketid"/>',
        name: 'fromMarketName',
        width: '150'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.tomarketid"/>',
        name: 'toMarketName',
        width: '150'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.applydate"/>',
        name: 'applyDate',
        width: '150'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.approvalstatus"/>',
        name: 'approvalStatus',
        width: '150',
        render: function(item) {
            return getCodeDesc(approvalStatus, item.approvalStatus);
        }
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.approvaldate"/>',
        name: 'approvalDate',
        width: '150'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.remark"/>',
        name: 'remark'
    }],
    url: '${base.contextPath}/mm/marketChange/query',
    width: '99%',
    height: '98%',
    checkbox: true,
    delayLoad: true,
    isChecked: f_isChecked,
    onCheckRow: f_onCheckRow,
    //  onCheckAllRow: f_onCheckAllRow
    onSelectRow: function() {
                    if (this.getSelectedRows().length == 0) {
                        $.ligerui.get('deleteBtn').set('disabled', true);
                    } else {
                        var rows = this.getSelectedRows();
                        var size = rows.length;
                        for (var i = 0; i < size; i++){
                            if(rows[i].approvalStatus == 'S' || rows[i].approvalStatus == 'F') {
                                $.ligerui.get('deleteBtn').set('disabled', true);
                                return;
                            }
                        }
                        $.ligerui.get('deleteBtn').set('disabled', false);
                    }
                },
                onUnSelectRow: function() {
                    if (this.getSelectedRows().length == 0) {
                        $.ligerui.get('deleteBtn').set('disabled', true);
                    } else {
                        var rows = this.getSelectedRows();
                        var size = rows.length;
                        for (var i = 0; i < size; i++){
                            if(rows[i].approvalStatus == 'S' || rows[i].approvalStatus == 'F') {
                                $.ligerui.get('deleteBtn').set('disabled', true);
                                return;
                            }
                        }
                        $.ligerui.get('deleteBtn').set('disabled', false);
                    }
                },
                toolbar: { 
                    items: [
                        { 
                            text: '<@spring.message "msg.info.member.marketchange.history_record"/>',
                            type:'text'
                        },
                        { line: true },
                        {                   
                            text: '<@spring.message "type.com.lkkhpg.dsis.admin.export.excel"/>',
                            icon: 'save',
                            menu:{ width: 120, items:
                                    [
                                        {                   
                                            text: '<@spring.message "type.com.lkkhpg.dsis.admin.export.excel.selecetd"/>',id:'export',icon:'print', name:"export",
                                            click:   function (){exportSelected("market_change_query_form","market_change_grid",{"approvalStatus":approvalStatus},_basePath);}
                                        },
                                        { line: true },
                                        {                   
                                            text: '<@spring.message "type.com.lkkhpg.dsis.admin.export.excel.all"/>',id:'export',icon:'print', name:"export",
                                            click: function (){exportAll("market_change_query_form","market_change_grid",{"approvalStatus":approvalStatus},_basePath);}
                                            
                                        }
                                  ]
                            }                        
                        }
                    ]
                }
    });
    
    
   //由会员详情页弹出申请需要自动弹出申请窗口
    <#assign memberId = (RequestParameters.memberId ! ) />
    <#assign memberCode = (RequestParameters.memberCode ! ) />
    <#if memberId != '' && memberCode != ''>
        apply_dialog_open();
        var memberCodeObj = $.ligerui.get('market_change_apply_memberCode');
        memberCodeObj.set('readonly', true);
        
        loadMarket('${RequestParameters.memberCode}');
    </#if>
    
    /*初始化申请框中的表单*/
    function initApplyForm() {
        window['market_change_apply'] = $("<form id='market_change_apply'></form>").appendTo($('body')).ligerForm({
            fields: [{
                display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.memberid"/>',
                name: "memberId",
                id: "market_change_apply_memberCode",
                type: "popup",
                newline: false,
                space: 20,
                validate: {
                    required: true
                },
                textField: 'memberCode',
                labelWidth: 80,
                readonly:false,
                options: $.extend(${lovService.getLov(base.contextPath,base.locale, "lov_member")},{ 
                    onChangeValue:function(v){
                        window.loadMarket(v);
                    },
                    onSelect: function(obj) {
                        window.loadMarket(obj.text);
                    },
                    onLoadData: function(){
                        this.setParm('marketId', liger.get('marketId').selectedValue)
                    } 
                   
                },{parms:{"marketId":liger.get('marketId').selectedValue}})
            },
            {
                type: 'text',
                label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.oldmarket"/>',
                name: 'marketName',
                id: "market_change_apply_fromMarketName",
                value: 'marketId',
                newline: false,
                labelWidth: 80,
                readonly: true
            },
            {
                type: 'select',
                label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.newmarket"/>',
                name: 'toMarketId',
                id: "market_change_apply_toMarketName",
                validate: {
                    required: true
                },
                newline: true,
                space: 20,
                labelWidth: 80,
                delayLoad : true,
                disabled:true,
                options: {
	                textField: 'name',
	                valueField: 'marketId',
	                triggerToLoad:true,
// 	                autocomplete:false,
                    url:'${base.contextPath}/integration/gds/findSaleBranchList',
                    onBeforeOpen:function(){
                    	this.setParm('toMarketId',liger.get("market_change_apply").getData().fromMarketId||'');
                    	this.triggerLoaded = false;
                    },
                    onChangeValue:function(){
                        setDialogButtonAttr();
                    }
                }
            },
            {
                type: 'text',
                label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.remark"/>',
                name: 'remark',
                id: "market_change_apply_remark",
                options:{
                	onChangeValue:function(){
                		setDialogButtonAttr();
                	}
                },
                validate: {
                    required: true
                },
                newline: false,
                labelwidth: 80
            },
            {
                type: 'hidden',
                id:'fromMarketId',
                name: 'fromMarketId'
            },
            {
                type: 'hidden',
                id:'memberStatus',
                name: 'memberStatus'
            }]
        });
        $.ligerui.get('market_change_apply_toMarketName').set('disabled', true);
    }
    
    function loadMarket(memberCode) {
    	Hap.loadForm({
            form: market_change_apply,
            url: '${base.contextPath}/mm/marketChange/queryOldMarket',
            para: {'memberCode': memberCode,'marketId': liger.get('marketId').getValue()},
            callback:function(d,json){
            	if(json.total>0){
            		enabledFlag_fromMarket = true;
            		if($('#fromMarketId').val()){
            		    $.ligerui.get('market_change_apply_toMarketName').set('disabled', false);
            		} else{
            			$.ligerui.get('market_change_apply_toMarketName').set('disabled', true);
            		}
                    setDialogButtonAttr();
            	}else{
            		$.ligerui.get('market_change_apply_memberCode').setText(memberCode);
            		enabledFlag_fromMarket = false;
                    setDialogButtonAttr();
            	}
            }
        })
        	
    }
    /* 申请弹出框 */
    function apply_dialog_open() {
    /*变更市场申请弹出框*/
    initApplyForm();
    market_change_apply_dialog = $.ligerDialog.open({
        target: $("#market_change_apply"),
        width: 650,
        isHidden:false,
        title:'<@spring.message "type.com.lkkhpg.dsis.common.member.marketchange.apply.changemarket"/>',
        id: "apply_dialog",
        buttons: [{
        	attr:{
                      id:'btn_ok'
            },
            class:'l-button-disabled',
            text: '<@spring.message "sys.hand.btn.ok"/>',
            onclick: function(item, dialog) {
                var forms = liger.get("market_change_apply");
                if (window.formValid()) {
                          $('#btn_ok').removeClass('l-button-disabled')
                          $.ligerDialog.confirm('<@spring.message "msg.warning.member.confirm_apply"/>',
                          function(yes) {
                              if(yes){
                            	  var d = $.extend({},forms.getData());
                                  for ( var key in d) {
                                      if (!d[key]) {
                                          delete d[key]
                                      }
                                  }
                            	  
                                  submitOnlyForm({
                                      url: '${base.contextPath}/mm/marketChange/submit',
                                      para: d
                                  });
                              }
                          });
                      }else{
                    	  forms.valid()
                      }
                  }
        },
        {
            text: '<@spring.message "sys.hand.btn.cancel"/>',
            onclick: function(item, dialog) {
                dialog.close();
            }
        }]
    }) 
    }

    /*分页多选记忆*/
    var checkedCustomer = [];
    function findCheckedCustomer(changeId) {
        for (var i = 0; i < checkedCustomer.length; i++) {
            if (checkedCustomer[i] == changeId) return i;
        }
        return - 1;
    }
    function addCheckedCustomer(changeId) {
        if (findCheckedCustomer(changeId) == -1) checkedCustomer.push(changeId);
    }
    function removeCheckedCustomer(changeId) {
        var i = findCheckedCustomer(changeId);
        if (i == -1) return;
        checkedCustomer.splice(i, 1);
    }
    function f_isChecked(rowdata) {
        if (findCheckedCustomer(rowdata.changeId) == -1) return false;
        return true;
    }
    function f_onCheckRow(checked, data) {
        if (checked) addCheckedCustomer(data.changeId);
        else removeCheckedCustomer(data.changeId);
    }
    /*改变申请框的按钮属性*/
    function setDialogButtonAttr(){
        if (formValid()) {
            $('#btn_ok').removeClass('l-button-disabled')
        } else {
            $('#btn_ok').addClass('l-button-disabled')
        }
    }
    
    function formValid(){
    	var memberId = $.ligerui.get('memberId').getValue();
    	var fromMarketId = $('#fromMarketId').val();
    	var toMarketId = $.ligerui.get('market_change_apply_toMarketName').getValue();
    	var remark = $.ligerui.get('market_change_apply_remark').getValue();
        if (memberId && fromMarketId && fromMarketId != '0' && toMarketId && remark && enabledFlag_fromMarket ) {
            return true;
        }else{
        	return false;
        }
    }
    
   function submitOnlyForm(options) {
        $.ajax({
            url: options.url,
            type: options.method || "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: options.para,
            success: function(json) {
            	var manager = $.ligerDialog.open({ cls: 'success', type: 'success', content: '<div style="padding:4px">'+json.message+'</div>', allowClose: false });
                setTimeout(function (){
                    manager.close();
                    market_change_apply_dialog.close();
                }, 1000);
            },
            error: function() {
                $.ligerDialog.closeWaitting();
            }
        });
    }
    
    /*跳转至会员详情页*/
    function toDetailsHtml(data){
        window.top.f_removeTab("MEMBER_DETAIL");
        window.top.f_addTab("MEMBER_DETAIL",
              "<@spring.message 'type.com.lkkhpg.dsis.common.member.memberdetail'/>",
              "mm/mm_member_edit.html?isedit=1&memberId="+data);
    }
    
    function deleteMarketChange(){
    	$.ligerDialog.waitting($l('sys.hand.tip.processing'));
        $.ajax({
            url: '${base.contextPath}/mm/marketChange/deleteMarketChange',
            type: "POST",
            data: JSON2.stringify(market_gds_grid.getSelectedRows()),
            dataType: "json",
            contentType: "application/json",
            success: function(json) {
                if(json.success){
                    var manager = $.ligerDialog.open({ cls: 'success', type: 'success', content: '<div style="padding:4px">'+'<@spring.message "msg.info.system.delete_successful"/>'+'</div>', allowClose: false });
                    setTimeout(function (){
                        manager.close();
                    }, 1000);
                    $.ligerDialog.closeWaitting();
                    market_gds_grid.deleteRange(market_gds_grid.getSelectedRows())
                }
                else {
                	$.ligerDialog.error('<@spring.message "msg.info.system.delete_false"/>');
                }
            },
            error: function() {
                $.ligerDialog.closeWaitting();
            }
        });
    }
    
    //=================================below is added by zyc=======================================
    /*gds市场记录grid*/
    window['market_gds_grid'] = $("#market_gds_grid").ligerGrid({
    /* pageSizeOptions : [15,20,30,40,50], */
    columns: [{
        display: '<@spring.message "msg.info.member.gds_id"/>',
        name: 'gdsId',
        width: '120'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.memberid"/>',
        name: 'dealerNo',
        width: '120',
        isAllowHide: false
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.membername"/>',
        name: 'appFullName',
        width: '120'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.frommarketid"/>',
        name: 'oldSaleOrgCode',
        width: '120'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.tomarketid"/>',
        name: 'newSaleOrgCode',
        width: '120'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.applydate"/>',
        name: 'appDate'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.approvalstatus"/>',
        name: 'gdsTranStatus',
        width: '120'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.approvaldate"/>',
        name: 'appAuditedTime',
        align:'left'
    },
    {
        display: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.remark"/>',
        name: 'comments'
    }],
    url: '${base.contextPath}/mm/marketChange/queryApplyList',
    width: '99%',
    height: '98%',
    checkbox: true,
    delayLoad: true,
    isChecked: f_isChecked,
    onCheckRow: f_onCheckRow,
        toolbar: { 
            items: [
                { 
                    text: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.marketchange.transoutgrid"/>',
                    type:'text'
                },
                { line: true },
                {                   
                    text: '<@spring.message "type.com.lkkhpg.dsis.admin.export.excel"/>',
                    icon: 'save',
                    menu:{ width: 120, items:
                            [
                                {                   
                                    text: '<@spring.message "type.com.lkkhpg.dsis.admin.export.excel.selecetd"/>',id:'export',icon:'print', name:"export",
                                    click:   function (){exportSelected("market_change_query_form","market_gds_grid",{"approvalStatus":approvalStatus},_basePath);}
                                },
                                { line: true },
                                {                   
                                    text: '<@spring.message "type.com.lkkhpg.dsis.admin.export.excel.all"/>',id:'export',icon:'print', name:"export",
                                    click: function (){exportAll("market_change_query_form","market_gds_grid",{"approvalStatus":approvalStatus},_basePath);}
                                    
                                }
                          ]
                    }                        
                }
            ]
        }
    });
    
    function initgdsForm(){
        window['gds_form'] = $("<form id='gds_div_form'></form>").appendTo($('body')).ligerForm({
            fields: [{
                type: 'text',
                label: 'subOrg',
                name: 'subOrg',
                space : 10,
                validate: {
                    maxlength: 50
                }
            }]
        });
    }
    
    function b_open(){
    	 var tp=typeof(gds_form);
         if (tp=="undefined") {
        	 initgdsForm();
             /*状态变更申请弹出框*/
             $.ligerDialog.open({
                 target: $("#gds_div_form"),
                 width: 650,
                 isResize: true,
                 id: "gds_apply_dialog",
                 buttons: [{
                     attr:{
                         id:'btn_gds_ok'
                     },
                     text: '<@spring.message "sys.hand.btn.ok"/>',
                     onclick: function(item, dialog) {
                    	 Hap.gridQuery({
                             form : gds_form,
                             grid : market_gds_grid
                         });
                         liger.get('gds_apply_dialog').hide();
                         $('#market_change_grid').hide();
                         $('#market_gds_grid').show();
                     }
                 },
                 {
                     text: '<@spring.message "sys.hand.btn.cancel"/>',
                     onclick: function(item, dialog) {
                         dialog.hide();
                     }
                 }]
             }) 
         } else {
        	 gds_form.getEditor('subOrg').inputText.val("");
        	 liger.get('gds_apply_dialog').show();
         }
         $('.l-dialog-title').text('<@spring.message "type.com.lkkhpg.dsis.common.member.statuschange.query.changestatus"/>'); //设置标题
    }
    </script>
</body>
</html>