<#--
 * description: 城市详情界面.
 * version: 1.0
 * author: hanrui.huang
 * Copyright LKK Health Products Group Limited. 
 *
-->
<#include "../include/head.html">
<script src="${base.contextPath}/common/code?languageData=SPM.LANGUAGE&taxTypeData=OM.TAX_CALCULATION_TYPE&currencyCodes=SPM.CURRENCY&taxLevelData=SPM.TAX_CALCULATION_LEVEL&timezoneData=SPM.TIME_ZONE" type="text/javascript"></script>
<body style="padding: 10px;">
    <form id="spm_city_form" ></form>
    <script type="text/javascript">
    <#assign isedit = (RequestParameters.isedit!'0')/>
    var index = 0;
    var endDate=1;
    jQuery.validator.addMethod("stringMaxLength", function(value, element, param) {  
        var length = value.length;  
        for(var i = 0; i < value.length; i++){  
            if(value.charCodeAt(i) > 127){  
                length = length + 2;  
            }  
        }  
        return this.optional(element) || ( length <= param );  
    }, "<@spring.message "sys.hand.btn.string240"/>");  
    $(function(){
        window['spm_city_form'] = $("#spm_city_form").ligerForm({
            fields: [
                     {id:"__status",name : "__status",type : "hidden",attr:{value:"<#if isedit =='1'>update<#else>add</#if>"},newline : false},
                     {
                         label :'<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.citycode"/>',
                         name : "cityCode",type : "text",newline : false,
                         validate : {
                             required : true
                         },
                         group : '<@spring.message "type.com.lkkhpg.dsis.platform.dto.inv.item.baseInfo"/>'
                     },
                     {
                         label : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.language"/>',
                         name : "language",type : "select",newline : false,
                         options : {
                             valueField : 'value',
                             textField : 'meaning',
                             data : languageData
                         },
                         validate : {
                             required : true
                         }
                     },
                     {
                         label: '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.endactivedate"/>',
                         name: 'endActiveDate' , type: 'date', newline:false,
                         options : {
                             format : 'yyyy-MM-dd',
                             onChangeDate : function(data){
                                 var endActiveDate = new Date(data);
                                 var date = new Date();
                                 if (index == 0 && endActiveDate < new Date(date.getFullYear(),date.getMonth(),date.getDate())) {
                                     liger.get('endActiveDate').setValue("");
                                     $.ligerDialog.warn('<@spring.message "msg.error.config.country.dateinvalid"/>');
                                     return false;
                                 }
                                 if (endDate ==0 && endActiveDate < new Date(date.getFullYear(),date.getMonth(),date.getDate())) {
                                     liger.get('endActiveDate').setValue("");
                                     $.ligerDialog.warn('<@spring.message "msg.error.config.country.dateinvalid"/>');
                                     return false;
                                 }
                                 index =0;
                             }
                         }
                     },
                     {label : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.name"/>',
                         name : "name",newline : true,
                         type: 'tl',
                         options: {
                             idField: 'cityCode',
                             dto: 'com.lkkhpg.dsis.common.config.dto.SpmCity'
                         },
                         validate : {
                             required : true
                         },
                     },
                     {
                         label : '<@spring.message "type.com.lkkhpg.dsis.common.delivery.dto.shippingtierdtl.currencycode"/>',name : "currencyCode",textField : "currencyCodeName",type : "select",newline : false,
                         options :{ 
                             valueField : 'value', 
                             textField : 'meaning', 
                             data : currencyCodes, 
                             cancelable : false
                         },
                         validate : {
                             required : true
                         }
                     },
                     {
                         type: 'select',
                         name: 'timezoneCode',
                         textField : "timezoneCodeName",
                         label: '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.timezonecode"/>',
                         options : {
                             valueField : 'value',
                             textField : 'meaning',
                             data : timezoneData
                         },
                         newline: false,
                         validate : {
                             required : true
                         }
                     },
                     {
                         type: 'textarea',
                         name: 'remark',
                         label: '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.memwithdraw.remarks"/>',
                         validate: {
                             stringMaxLength : 240
                         }
                     },
                     {
                         type: 'int',
                         name: 'sortNum',
                         label: '<@spring.message "type.com.lkkhpg.dsis.common.system.dto.mwimages.sort_number"/>',
                         newline: false
                     },
                     {label : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.taxtype"/>',name : "taxType",type : "select",newline : true,
                         options : {
                             valueField : 'value',
                             textField : 'meaning',
                             data : taxTypeData
                         },
                         group : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.taxsettings"/>',
                     },
                     {
                         label : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.taxlevel"/>',
                         name : "taxLevel",type : "select",newline : false,
                         options : {
                             valueField : 'value',
                             textField : 'meaning',
                             data : taxLevelData
                         },
                         group : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.taxsettings"/>',
                     },
                     {label : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.taxrate"/>(%)',
                         name : "taxRate",type : "text",newline : false,
                         
                         group : '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcity.taxsettings"/>'
                     }
                 ],
                 buttons: [
                           { 
                               text: '<@spring.message "sys.hand.btn.save"/>',
                               style : 'float: right',
                               disabled:false, 
                               width: 60, 
                               click: function(){
                                   Hap.submitForm({
                                       form: spm_city_form,
                                       url: '${base.contextPath}/spm/city/save',
                                       success: function(json){
                                           $.ligerui.get('cityCode').setReadonly(true);
                                           spm_city_form.setData({'__status':'update'});
                                           $.ligerDialog.alert('<@spring.message "msg.infor.delivery.save_success"/>', '<@spring.message "type.com.lkkhpg.dsis.platform.dto.system.lov.placeholder"/>', 'success');
                                       }
                                   });
                               }
                           }
                       ]
        });

        <#if isedit == '1'>
        Hap.loadForm({form:spm_city_form,url:'${base.contextPath}/spm/city/get',para:{cityCode:'${RequestParameters.cityCode}'},callback:function(){
            var endDates=$.ligerui.get('endActiveDate').getValue();
            if(endDates == null){
                endDate = 0;
            }
        }});
        $.ligerui.get('cityCode').setReadonly(true);
        index = 1;
        </#if>
    });
    </script>
</body>
</html>