<#--
 * description: 国家查询界面
 * version: 1.0
 * author: liuxuan
 * Copyright LKK Health Products Group Limited. 
 *
-->
<#include "../include/head.html">
<body style="padding: 10px;">
    <form id="d_sc_002_form"></form>
    <div id="d_sc_002_grid" style="margin: 0; padding: 0"></div>
<script type="text/javascript">
$(function() {
    window['d_sc_002_form'] = $("#d_sc_002_form").ligerForm({
        fields: [{
            type: 'text',
            label: '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcountry.countrycode" />',
            name: 'countryCode'
        },
        {
            type: 'text',
            label: '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcountry.name" />',
            name: 'name',
            newline: false,
        }],
        buttons: [{
            text: '<@spring.message "sys.hand.btn.query" />',
            disabled: false,
            width: 60,
            click: function() {
                Hap.gridQuery({
                    form: d_sc_002_form,
                    grid: d_sc_002_grid
                })
            }
        }]
    });
    
    window['d_sc_002_grid'] = $("#d_sc_002_grid").ligerGrid({
        columns: [{
            display: '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcountry.countrycode" />',
            name: 'countryCode',
            width: 200,
            align : 'left',
            isSort: true,
            render: function(rowdata) {
                return "<a href='javascript:void(0);' onclick='countryDetail(\"" + rowdata.countryCode + "\")'>" + rowdata.countryCode + "</a>";
            },
        },
        {
            display: '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcountry.name" />',
            name: 'name',
            width: 200,
        }],
        url: ' ${base.contextPath}/spm/country/query',
        toolbar: {
            items: [{
                click: function() {
                  if (window.top.f_addTab != undefined) {
                        window.top.f_addTab("countryEdit", '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcountry.countrydetail" />',
	                        '${base.contextPath}/spm/spm_country_edit.html');
                  } else {
                      window.open('${base.contextPath}/spm/spm_country_edit.html')
                  }
                },
                text: '<@spring.message "sys.hand.btn.new" />',
                icon: 'add'
            }]
        },
        enabledEdit: true,
        width : '99%',
        height : '98%'
    });
});

function countryDetail(countryCode){
	var path = "${base.contextPath}/spm/spm_country_edit.html?isedit=1&countryCode=" + countryCode + "";
	if (window.parent.f_addTab != undefined) {
        window.parent.f_addTab('countryEdit'+countryCode, '<@spring.message "type.com.lkkhpg.dsis.common.config.spmcountry.countrydetail" />', path);
    } else {
    	window.open(path)
    }
}
</script>
</body>
</html>