<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="${base.contextPath}/resources/favicon.ico"
    rel="shortcut icon" />
<link href="${base.contextPath}/resources/css/font-awesome.min.css"
    rel="stylesheet" type="text/css" />
<script src="${base.contextPath}/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
<style type="text/css">
	.div{float: left;margin-left: 50px;}
</style>
<script type="text/javascript">
	function test1(){
		$.ajax({
            type: "POST",
            url: "${base.contextPath}/spm/param/test",
            data: {
                paramName: $("input[name='paramName']").val(),
                type: $("#type").val(),
                orgId: $("input[name='orgId']").val(),
                orgType: $("input[name='orgType']").val()
            },
            success: function(data){
            	alert("success");
            }
        });
	}
	function test2(){
		$.ajax({
            type: "POST",
            url: "${base.contextPath}/spm/param/test2",
            data: {
                paramName: $("input[name='paramName2']").val(),
                type: $("#type2").val(),
                orgId: $("input[name='orgId2']").val(),
                orgType: $("input[name='orgType2']").val()
            },
            success: function(data){
            	alert("success2");
            }
        });
	}
	function test3(){
		$.ajax({
            type: "POST",
            url: "${base.contextPath}/spm/param/test3",
            data: {
                paramName: $("input[name='paramName3']").val(),
                type: $("#type3").val(),
                orgId: $("input[name='orgId3']").val(),
                orgType: $("input[name='orgType3']").val()
            },
            success: function(data){
            	alert("success3");
            }
        });
	}
</script>
</head>
<body>
<div class="div" style="float: left;">
    paramName: <input type="text" name="paramName" value="param7"><br>
    type: <select name='type' id='type'>
		<option value='10002'>MARKET</option>
		<option value='11001'>OU</option>
		<option value='10003'>SALES_ORG</option>
		<option value='11002'>INV_ORG</option>
        <option value='10004'>COUNTRY</option>
        <option value='10005'>STATUS</option>
        <option value='10006' selected>CITY</option>
	</select><br>
    orgId: <input type="text" name="orgId" value="5"><br>
    orgType: <input type="text" name="orgType" value="SALES"><br>
	<input type="button" value="测试" onclick="test1()"/>
</div>
<div class="div" style="float: left;">
    paramName: <input type="text" name="paramName2" value="param1"><br>
    type: <select name='type2' id='type2'>
		<option value='10002'>MARKET</option>
		<option value='11001'>OU</option>
		<option value='10003'>SALES_ORG</option>
		<option value='11002' selected>INV_ORG</option>
        <option value='10004'>COUNTRY</option>
        <option value='10005'>STATUS</option>
        <option value='10006'>CITY</option>
	</select><br>
    orgId: <input type="text" name="orgId2" value="1"><br>
    orgType: <input type="text" name="orgType2" value="SALES"><br>
	<input type="button" value="测试" onclick="test2()"/>
</div>
<div class="div" style="float: left;">
    paramName: <input type="text" name="paramName3" value="param7"><br>
    type: <select name='type3' id='type3'>
		<option value='10002' selected>MARKET</option>
		<option value='11001'>OU</option>
		<option value='10003'>SALES_ORG</option>
		<option value='11002'>INV_ORG</option>
        <option value='10004'>COUNTRY</option>
        <option value='10005'>STATUS</option>
        <option value='10006' >CITY</option>
	</select><br>
    orgId: <input type="text" name="orgId3" value="5"><br>
    orgType: <input type="text" name="orgType3" value="SALES"><br>
	<input type="button" value="测试" onclick="test3()"/>
</div>
</body>
</html>