<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.system.mapper.AttachAssignMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.system.dto.AttachAssign" >
    <id column="ATTACH_ASSIGN_ID" property="attachAssignId" jdbcType="DECIMAL" />
    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR" />
    <result column="OBJECT_ID" property="objectId" jdbcType="DECIMAL" />
    <result column="ASSIGN_TYPE" property="assignType" jdbcType="VARCHAR" />
    <result column="ASSIGN_ID" property="assignId" jdbcType="DECIMAL" />
    <result column="OPERATION_TYPE" property="operationType" jdbcType="VARCHAR" />
    <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    <result column="START_ACTIVE_DATE" property="startActiveDate" jdbcType="TIMESTAMP" />
    <result column="END_ACTIVE_DATE" property="endActiveDate" jdbcType="TIMESTAMP" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    
    <result column="ASSIGN_MEANING" property="assignMeaning" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ATTACH_ASSIGN_ID, OBJECT_TYPE, OBJECT_ID, ASSIGN_TYPE, ASSIGN_ID, OPERATION_TYPE, 
    ENABLED_FLAG, START_ACTIVE_DATE, END_ACTIVE_DATE, OBJECT_VERSION_NUMBER, REQUEST_ID, 
    PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ATTACH_Assign
    where ATTACH_ASSIGN_ID = #{attachAssignId,jdbcType=DECIMAL}
  </select>
  
  <select id="selectNotIn" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.system.dto.AttachAssign">
    select 
    <include refid="Base_Column_List" />
    from SYS_ATTACH_Assign
    <where>
        <if test="attachAssignId">
            ATTACH_ASSIGN_ID != #{attachAssignId,jdbcType=DECIMAL}
        </if>
        <if test="objectType">
            AND OBJECT_TYPE = #{objectType,jdbcType=VARCHAR}
        </if>
        <if test="objectId">
            AND OBJECT_ID = #{objectId,jdbcType=DECIMAL}
        </if>
        <if test="assignType">
            AND ASSIGN_TYPE = #{assignType,jdbcType=VARCHAR}
        </if>
        <if test="assignId">
            AND ASSIGN_ID = #{assignId,jdbcType=DECIMAL}
        </if>
    </where>
  </select>
  <select id="selectByRecord" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.system.dto.AttachAssign" >
    select 
    ATTACH_ASSIGN_ID, OBJECT_TYPE, OBJECT_ID, ASSIGN_TYPE, ASSIGN_ID, OPERATION_TYPE, 
    ENABLED_FLAG, START_ACTIVE_DATE, END_ACTIVE_DATE, OBJECT_VERSION_NUMBER, REQUEST_ID, 
    PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY,
    CASE WHEN ASSIGN_TYPE = 'MKT' THEN
            (
                SELECT
                    NAME
                FROM
                    SPM_MARKET_TL sm
                WHERE
                    MARKET_ID = ASSIGN_ID
                AND lang = #{request.locale,jdbcType=VARCHAR}
            )
        WHEN ASSIGN_TYPE = 'MEM' THEN
        (
            SELECT
                "CONCAT" (
                    CASE
                    WHEN english_name IS NULL THEN
                        ''
                    WHEN chinese_name IS NULL THEN
                        english_name
                    ELSE
                        "CONCAT" (english_name, '/')
                    END,
                    chinese_name
                ) AS attribute2
            FROM
                mm_member_v 
            WHERE
                MEMBER_ID = ASSIGN_ID
        )
        END AS ASSIGN_MEANING
    from SYS_ATTACH_Assign 
    <where>
        <if test="attachAssignId">
            ATTACH_ASSIGN_ID = #{attachAssignId,jdbcType=DECIMAL}
        </if>
        <if test="objectType">
            AND OBJECT_TYPE = #{objectType,jdbcType=VARCHAR}
        </if>
        <if test="objectId">
            AND OBJECT_ID = #{objectId,jdbcType=DECIMAL}
        </if>
        <if test="assignType">
            AND ASSIGN_TYPE = #{assignType,jdbcType=VARCHAR}
        </if>
        <if test="assignId">
            AND ASSIGN_ID = #{assignId,jdbcType=DECIMAL}
        </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_ATTACH_Assign
    where ATTACH_ASSIGN_ID = #{attachAssignId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.system.dto.AttachAssign" >
    <selectKey resultType="java.lang.Long" keyProperty="attachAssignId" order="BEFORE" >
      select SYS_ATTACH_Assign_S.nextval from dual
    </selectKey>
    insert into SYS_ATTACH_Assign (ATTACH_ASSIGN_ID, OBJECT_TYPE, OBJECT_ID, 
      ASSIGN_TYPE, ASSIGN_ID, OPERATION_TYPE, 
      ENABLED_FLAG, START_ACTIVE_DATE, END_ACTIVE_DATE, 
      OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
      CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, 
      ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
      )
    values (#{attachAssignId,jdbcType=DECIMAL}, #{objectType,jdbcType=VARCHAR}, #{objectId,jdbcType=DECIMAL}, 
      #{assignType,jdbcType=VARCHAR}, #{assignId,jdbcType=DECIMAL}, #{operationType,jdbcType=VARCHAR}, 
      #{enabledFlag,jdbcType=VARCHAR}, CURRENT_TIMESTAMP, #{endActiveDate,jdbcType=TIMESTAMP}, 
      #{objectVersionNumber,jdbcType=DECIMAL}, #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, 
      #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.system.dto.AttachAssign" >
    <selectKey resultType="java.lang.Long" keyProperty="attachAssignId" order="BEFORE" >
      select SYS_ATTACH_Assign_S.nextval from dual
    </selectKey>
    insert into SYS_ATTACH_Assign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ATTACH_ASSIGN_ID,
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="objectId != null" >
        OBJECT_ID,
      </if>
      <if test="assignType != null" >
        ASSIGN_TYPE,
      </if>
      <if test="assignId != null" >
        ASSIGN_ID,
      </if>
      <if test="operationType != null" >
        OPERATION_TYPE,
      </if>
      <if test="enabledFlag != null" >
        ENABLED_FLAG,
      </if>
        START_ACTIVE_DATE,
      <if test="endActiveDate != null" >
        END_ACTIVE_DATE,
      </if>
      <if test="objectVersionNumber != null" >
        OBJECT_VERSION_NUMBER,
      </if>
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{attachAssignId,jdbcType=DECIMAL},
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=DECIMAL},
      </if>
      <if test="assignType != null" >
        #{assignType,jdbcType=VARCHAR},
      </if>
      <if test="assignId != null" >
        #{assignId,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null" >
        #{enabledFlag,jdbcType=VARCHAR},
      </if>
        CURRENT_TIMESTAMP,
      <if test="endActiveDate != null" >
        #{endActiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="objectVersionNumber != null" >
        #{objectVersionNumber,jdbcType=DECIMAL},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.system.dto.AttachAssign" >
    update SYS_ATTACH_Assign
    <set >
      <if test="objectType != null" >
        OBJECT_TYPE = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        OBJECT_ID = #{objectId,jdbcType=DECIMAL},
      </if>
      <if test="assignType != null" >
        ASSIGN_TYPE = #{assignType,jdbcType=VARCHAR},
      </if>
      <if test="assignId != null" >
        ASSIGN_ID = #{assignId,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null" >
        OPERATION_TYPE = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null" >
        ENABLED_FLAG = #{enabledFlag,jdbcType=VARCHAR},
      </if>
      <if test="startActiveDate != null" >
        START_ACTIVE_DATE = #{startActiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endActiveDate != null" >
        END_ACTIVE_DATE = #{endActiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="objectVersionNumber != null" >
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      </if>
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
    </set>
    where ATTACH_ASSIGN_ID = #{attachAssignId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="java.lang.Long" >
    update SYS_ATTACH_Assign
    set OBJECT_TYPE = #{objectType,jdbcType=VARCHAR},
      OBJECT_ID = #{objectId,jdbcType=DECIMAL},
      ASSIGN_TYPE = #{assignType,jdbcType=VARCHAR},
      ASSIGN_ID = #{assignId,jdbcType=DECIMAL},
      OPERATION_TYPE = #{operationType,jdbcType=VARCHAR},
      ENABLED_FLAG = #{enabledFlag,jdbcType=VARCHAR},
      START_ACTIVE_DATE = #{startActiveDate,jdbcType=TIMESTAMP},
      END_ACTIVE_DATE = #{endActiveDate,jdbcType=TIMESTAMP},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where ATTACH_ASSIGN_ID = #{attachAssignId,jdbcType=DECIMAL}
  </update>
</mapper>