<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.system.mapper.SysMsMessageMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.system.dto.SysMsMessage" >
    <id column="MS_MESSAGE_ID" property="msMessageId" jdbcType="DECIMAL" />
    <result column="MARKET_ID" property="marketId" jdbcType="DECIMAL" />
    <result column="MESSAGE_NAME" property="messageName" jdbcType="VARCHAR" />
    <result column="MESSAGE_TYPE" property="messageType" jdbcType="VARCHAR" />
    <result column="MESSAGE_STATUS" property="messageStatus" jdbcType="VARCHAR" />
    <result column="PUBLISH_CHANNEL" property="publishChannel" jdbcType="VARCHAR" />
    <result column="PUBLISH_DATE_TYPE" property="publishDateType" jdbcType="VARCHAR" />
    <result column="PUBLISH_DATE" property="publishDate" jdbcType="TIMESTAMP" />
    <result column="SENDER" property="sender" jdbcType="DECIMAL" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    <result column="MESSAGE_CONTENT" property="messageContent" jdbcType="CLOB"/>
    
    <result column="SENDER_CODE" property="senderCode" jdbcType="VARCHAR"/>
    <result column="market_name" property="marketName" jdbcType="VARCHAR"/>
    
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lkkhpg.dsis.common.system.dto.SysMsMessage" extends="BaseResultMap" >
    <result column="MESSAGE_CONTENT" property="messageContent" jdbcType="CLOB"/>
  </resultMap>
  <sql id="Base_Column_List" >
    MS_MESSAGE_ID, MARKET_ID, MESSAGE_NAME, MESSAGE_TYPE, MESSAGE_STATUS, PUBLISH_CHANNEL, 
    PUBLISH_DATE_TYPE, PUBLISH_DATE, SENDER, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
    CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15
  </sql>
  <sql id="Blob_Column_List" >
    MESSAGE_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SYS_MS_MESSAGE
    where MS_MESSAGE_ID = #{msMessageId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_MS_MESSAGE
    where MS_MESSAGE_ID = #{msMessageId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.system.dto.SysMsMessage" >
    <selectKey resultType="java.lang.Long" keyProperty="msMessageId" order="BEFORE" >
      select SYS_MS_MESSAGE_S.nextval from dual
    </selectKey>
    insert into SYS_MS_MESSAGE (MS_MESSAGE_ID, MARKET_ID, MESSAGE_NAME, 
      MESSAGE_TYPE, MESSAGE_STATUS, PUBLISH_CHANNEL, 
      PUBLISH_DATE_TYPE, PUBLISH_DATE, SENDER, SENDER_CODE,
      OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
      CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, 
      ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15, 
      MESSAGE_CONTENT)
    values (#{msMessageId,jdbcType=DECIMAL}, #{marketId,jdbcType=DECIMAL}, #{messageName,jdbcType=VARCHAR}, 
      #{messageType,jdbcType=VARCHAR}, #{messageStatus,jdbcType=VARCHAR}, #{publishChannel,jdbcType=VARCHAR}, 
      #{publishDateType,jdbcType=VARCHAR}, #{publishDate,jdbcType=TIMESTAMP}, #{sender,jdbcType=DECIMAL}, 
      #{senderCode,jdbcType=VARCHAR}, 
       1, #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, 
      -1, -1, CURRENT_TIMESTAMP, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, 
      #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}, 
      #{messageContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.system.dto.SysMsMessage" >
    <selectKey resultType="java.lang.Long" keyProperty="msMessageId" order="BEFORE" >
      select MS_MESSAGE_ID.nextval from dual
    </selectKey>
    insert into SYS_MS_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      MS_MESSAGE_ID,
      <if test="marketId != null" >
        MARKET_ID,
      </if>
      <if test="messageName != null" >
        MESSAGE_NAME,
      </if>
      <if test="messageType != null" >
        MESSAGE_TYPE,
      </if>
      <if test="messageStatus != null" >
        MESSAGE_STATUS,
      </if>
      <if test="publishChannel != null" >
        PUBLISH_CHANNEL,
      </if>
      <if test="publishDateType != null" >
        PUBLISH_DATE_TYPE,
      </if>
      <if test="publishDate != null" >
        PUBLISH_DATE,
      </if>
      <if test="sender != null" >
        SENDER,
      </if>
        OBJECT_VERSION_NUMBER,
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
        CREATION_DATE,
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
        LAST_UPDATE_DATE,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
      <if test="messageContent != null" >
        MESSAGE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{msMessageId,jdbcType=DECIMAL},
      <if test="marketId != null" >
        #{marketId,jdbcType=DECIMAL},
      </if>
      <if test="messageName != null" >
        #{messageName,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null" >
        #{messageStatus,jdbcType=VARCHAR},
      </if>
      <if test="publishChannel != null" >
        #{publishChannel,jdbcType=VARCHAR},
      </if>
      <if test="publishDateType != null" >
        #{publishDateType,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=DECIMAL},
      </if>
        1,
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.system.dto.SysMsMessage" >
    update SYS_MS_MESSAGE
    <set >
      <if test="marketId != null" >
        MARKET_ID = #{marketId,jdbcType=DECIMAL},
      </if>
      <if test="messageName != null" >
        MESSAGE_NAME = #{messageName,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        MESSAGE_TYPE = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageStatus != null" >
        MESSAGE_STATUS = #{messageStatus,jdbcType=VARCHAR},
      </if>
      <if test="publishChannel != null" >
        PUBLISH_CHANNEL = #{publishChannel,jdbcType=VARCHAR},
      </if>
      <if test="publishDateType != null" >
        PUBLISH_DATE_TYPE = #{publishDateType,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        PUBLISH_DATE = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sender != null" >
        SENDER = #{sender,jdbcType=DECIMAL},
      </if>
      <if test="senderCode != null" >
        SENDER_CODE = #{senderCode,jdbcType=VARCHAR},
      </if>
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
        CREATION_DATE = CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        MESSAGE_CONTENT = #{messageContent,jdbcType=CLOB},
      </if>
    </set>
    where MS_MESSAGE_ID = #{msMessageId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lkkhpg.dsis.common.system.dto.SysMsMessage" >
    update SYS_MS_MESSAGE
    set MARKET_ID = #{marketId,jdbcType=DECIMAL},
      MESSAGE_NAME = #{messageName,jdbcType=VARCHAR},
      MESSAGE_TYPE = #{messageType,jdbcType=VARCHAR},
      MESSAGE_STATUS = #{messageStatus,jdbcType=VARCHAR},
      PUBLISH_CHANNEL = #{publishChannel,jdbcType=VARCHAR},
      PUBLISH_DATE_TYPE = #{publishDateType,jdbcType=VARCHAR},
      PUBLISH_DATE = #{publishDate,jdbcType=TIMESTAMP},
      SENDER = #{sender,jdbcType=DECIMAL},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = CURRENT_TIMESTAMP,
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      MESSAGE_CONTENT = #{messageContent,jdbcType=CLOB}
    where MS_MESSAGE_ID = #{msMessageId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.system.dto.SysMsMessage" >
    update SYS_MS_MESSAGE
    set MARKET_ID = #{marketId,jdbcType=DECIMAL},
      MESSAGE_NAME = #{messageName,jdbcType=VARCHAR},
      MESSAGE_TYPE = #{messageType,jdbcType=VARCHAR},
      MESSAGE_STATUS = #{messageStatus,jdbcType=VARCHAR},
      PUBLISH_CHANNEL = #{publishChannel,jdbcType=VARCHAR},
      PUBLISH_DATE_TYPE = #{publishDateType,jdbcType=VARCHAR},
      PUBLISH_DATE = #{publishDate,jdbcType=TIMESTAMP},
      SENDER = #{sender,jdbcType=DECIMAL},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = CURRENT_TIMESTAMP,
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where MS_MESSAGE_ID = #{msMessageId,jdbcType=DECIMAL}
  </update>
  <select id="queryBySysMsMessage" parameterType="com.lkkhpg.dsis.common.system.dto.SysMsMessage" resultMap="BaseResultMap">
    select
        smm.MS_MESSAGE_ID, smm.MARKET_ID, smm.MESSAGE_NAME, smm.MESSAGE_TYPE, smm.MESSAGE_STATUS, smm.PUBLISH_CHANNEL, smm.MESSAGE_CONTENT,
    smm.PUBLISH_DATE_TYPE, smm.PUBLISH_DATE, smm.SENDER,smm.SENDER_CODE,
    smb.name market_name,su.user_name
    from sys_ms_message smm
    left outer join SPM_MARKET_TL smb
    on(smm.market_id=smb.market_id and smb.LANG = #{request.locale,jdbcType=VARCHAR})
    left outer join sys_user su
    on(smm.sender=su.user_id)
    <where>
        <if test="msMessageId != null">
            and smm.MS_MESSAGE_ID = #{msMessageId,jdbcType=DECIMAL}
        </if>
        <if test="messageName != null">
            and Upper(smm.MESSAGE_NAME) like concat('%',concat(Upper(#{messageName,jdbcType=VARCHAR}),'%'))
        </if>
        <if test="messageStatus != null">
            and smm.MESSAGE_STATUS = #{messageStatus,jdbcType=VARCHAR}
        </if>
        <if test="publishChannel != null">
            and smm.PUBLISH_CHANNEL = #{publishChannel,jdbcType=VARCHAR}
        </if>
    </where>
        <if test="sortname =='msMessageId' and sortorder == 'asc'">
            order by smm.MS_MESSAGE_ID asc
        </if>
        <if test="sortname =='msMessageId' and sortorder == 'desc'">
            order by smm.MS_MESSAGE_ID desc
        </if>
  </select>
</mapper>