<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>天府电商</title>
<link rel="shortcut icon" href="${base.contextPath}/resources/img/favicon.ico" />
<!-- Bootstrap -->

<link href="${base.contextPath}/resources/css/bootstrap${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.carousel${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.theme${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.transitions${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/style${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/config${resource_suffix!}.css" rel="stylesheet">
<!-- HTML5 Shim and Respond${resource_suffix!}.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond${resource_suffix!}.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="${base.contextPath}/resources/js/html5shiv${resource_suffix!}.js"></script>
  <![endif]-->
<script src="${base.contextPath}/resources/js/jquery-1.11.3${resource_suffix!}.js"></script>

    <script type="text/javascript">
        !function(){
            var p = {};
            $l = function(code,value){
                var al = arguments.length;
                if(al == 1){
                    var v = p[code];
                    return v ? v : code;
                }else if(al == 2){
                    p[code] = value;
                }
            }
        }()
        $l('type.hand.commom.date.days.sunday','<@spring.message "type.hand.commom.date.days.sunday"/>');
        $l('type.hand.commom.date.days.monday','<@spring.message "type.hand.commom.date.days.monday"/>');
        $l('type.hand.commom.date.days.tuesday','<@spring.message "type.hand.commom.date.days.tuesday"/>');
        $l('type.hand.commom.date.days.wednesday','<@spring.message "type.hand.commom.date.days.wednesday"/>');
        $l('type.hand.commom.date.days.thursday','<@spring.message "type.hand.commom.date.days.thursday"/>');
        $l('type.hand.commom.date.days.friday','<@spring.message "type.hand.commom.date.days.friday"/>');
        $l('type.hand.commom.date.days.saturday','<@spring.message "type.hand.commom.date.days.saturday"/>');

        $l('type.hand.commom.date.daysshort.sunday','<@spring.message "type.hand.commom.date.daysshort.sunday"/>');
        $l('type.hand.commom.date.daysshort.monday','<@spring.message "type.hand.commom.date.daysshort.monday"/>');
        $l('type.hand.commom.date.daysshort.tuesday','<@spring.message "type.hand.commom.date.daysshort.tuesday"/>');
        $l('type.hand.commom.date.daysshort.wednesday','<@spring.message "type.hand.commom.date.daysshort.wednesday"/>');
        $l('type.hand.commom.date.daysshort.thursday','<@spring.message "type.hand.commom.date.daysshort.thursday"/>');
        $l('type.hand.commom.date.daysshort.friday','<@spring.message "type.hand.commom.date.daysshort.friday"/>');
        $l('type.hand.commom.date.daysshort.saturday','<@spring.message "type.hand.commom.date.daysshort.saturday"/>');

        $l('type.hand.commom.date.daysmin.sunday','<@spring.message "type.hand.commom.date.daysmin.sunday"/>');
        $l('type.hand.commom.date.daysmin.monday','<@spring.message "type.hand.commom.date.daysmin.monday"/>');
        $l('type.hand.commom.date.daysmin.tuesday','<@spring.message "type.hand.commom.date.daysmin.tuesday"/>');
        $l('type.hand.commom.date.daysmin.wednesday','<@spring.message "type.hand.commom.date.daysmin.wednesday"/>');
        $l('type.hand.commom.date.daysmin.thursday','<@spring.message "type.hand.commom.date.daysmin.thursday"/>');
        $l('type.hand.commom.date.daysmin.friday','<@spring.message "type.hand.commom.date.daysmin.friday"/>');
        $l('type.hand.commom.date.daysmin.saturday','<@spring.message "type.hand.commom.date.daysmin.saturday"/>');

        $l('type.hand.commom.date.months.january','<@spring.message "type.hand.commom.date.months.january"/>');
        $l('type.hand.commom.date.months.february','<@spring.message "type.hand.commom.date.months.february"/>');
        $l('type.hand.commom.date.months.march','<@spring.message "type.hand.commom.date.months.march"/>');
        $l('type.hand.commom.date.months.april','<@spring.message "type.hand.commom.date.months.april"/>');
        $l('type.hand.commom.date.months.may','<@spring.message "type.hand.commom.date.months.may"/>');
        $l('type.hand.commom.date.months.june','<@spring.message "type.hand.commom.date.months.june"/>');
        $l('type.hand.commom.date.months.july','<@spring.message "type.hand.commom.date.months.july"/>');
        $l('type.hand.commom.date.months.august','<@spring.message "type.hand.commom.date.months.august"/>');
        $l('type.hand.commom.date.months.september','<@spring.message "type.hand.commom.date.months.september"/>');
        $l('type.hand.commom.date.months.october','<@spring.message "type.hand.commom.date.months.october"/>');
        $l('type.hand.commom.date.months.november','<@spring.message "type.hand.commom.date.months.november"/>');
        $l('type.hand.commom.date.months.december','<@spring.message "type.hand.commom.date.months.december"/>');

        $l('type.hand.commom.date.monthsshort.january','<@spring.message "type.hand.commom.date.monthsshort.january"/>');
        $l('type.hand.commom.date.monthsshort.february','<@spring.message "type.hand.commom.date.monthsshort.february"/>');
        $l('type.hand.commom.date.monthsshort.march','<@spring.message "type.hand.commom.date.monthsshort.march"/>');
        $l('type.hand.commom.date.monthsshort.april','<@spring.message "type.hand.commom.date.monthsshort.april"/>');
        $l('type.hand.commom.date.monthsshort.may','<@spring.message "type.hand.commom.date.monthsshort.may"/>');
        $l('type.hand.commom.date.monthsshort.june','<@spring.message "type.hand.commom.date.monthsshort.june"/>');
        $l('type.hand.commom.date.monthsshort.july','<@spring.message "type.hand.commom.date.monthsshort.july"/>');
        $l('type.hand.commom.date.monthsshort.august','<@spring.message "type.hand.commom.date.monthsshort.august"/>');
        $l('type.hand.commom.date.monthsshort.september','<@spring.message "type.hand.commom.date.monthsshort.september"/>');
        $l('type.hand.commom.date.monthsshort.october','<@spring.message "type.hand.commom.date.monthsshort.october"/>');
        $l('type.hand.commom.date.monthsshort.november','<@spring.message "type.hand.commom.date.monthsshort.november"/>');
        $l('type.hand.commom.date.monthsshort.december','<@spring.message "type.hand.commom.date.monthsshort.december"/>');

        $l('type.hand.commom.date.today','<@spring.message "type.hand.commom.date.today"/>');

        $l('type.hand.commom.date.meridiem.am','<@spring.message "type.hand.commom.date.meridiem.am"/>');
        $l('type.hand.commom.date.meridiem.pm','<@spring.message "type.hand.commom.date.meridiem.pm"/>');

    </script>
    <script src="${base.contextPath}/resources/js/date/bootstrap-datetimepicker${resource_suffix!}.js"></script>
    <script src="${base.contextPath}/resources/js/date/bootstrap-datetimepicker.zh-CN${resource_suffix!}.js"></script>
    <link href="${base.contextPath}/resources/css/date/bootstrap-datetimepicker${resource_suffix!}.css" rel="stylesheet">
    <script src="${base.contextPath}/resources/js/bootstrap-combobox${resource_suffix!}.js"></script>


</head>
<body>
    <header id="header">
        <div>
            <img src="${base.contextPath}/resources/img/top-line.jpg" style="width: 100%; height: 24px"/>
        </div>
        <!-- / #top-bar -->

        <!-- ========== TOP BAR START ========== -->

        <!-- ========== MENU START ========== -->

        <nav id="main-nav">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".main-nav">
                            <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="${base.contextPath}/login.html"><img
                            src="${base.contextPath}/resources/img/logo.png" alt="Infinitus"
                            class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </nav>


<style>
    .input{
        width: 262px;
    }
    .vait{
        font-size: 16px;
        font-weight :900;
        color: red;
        width: 50px;
        height: 30px;
        cursor:pointer;
        margin-left: 100px;
    }
    .form-group-div{
        width: 100%;
    }
    .center { MARGIN-RIGHT: auto !important; MARGIN-LEFT: auto !important; }
</style>
<script type="text/javascript">
    $(function(){
    	var emailRemainingSec = -1;
        var phoneRemainingSec = -1;
        var curWay = null;
        //选择事件
        $("#checkSelect").change(function(){
           var checkSelect = $("#checkSelect").val();
           curWay = checkSelect;
           if(checkSelect == "EMAIL"){
               $("#phone").hide();
               $("#email").show();
               $("#checkPhone").val("");
               $("#areaCode").val("");
               $("#emailButton").show();
               $("#phoneButton").hide();
           }else if(checkSelect == "PHONE"){
               $("#email").hide();
               $("#phone").show();
               $("#checkEmail").val("");
               $("#emailButton").hide();
               $("#phoneButton").show();
           }
       });
    });

   //提交
    function f_button(){
        var uname = $("#uname").val();
        var phone = $("#checkPhone").val();
        var areaCode = $("#areaCode").val();
        var password = $("#password").val();
        var confirm_password = $("#confirm-passwd").val();
        var genderValue = $("input[type='radio']:checked").val();
        var dob = new Date($("#dob").val());
        if ($("#dob").val()=='') {
            dob = new Date();
        }
        var salesOrgId = $("#salesOrg").val();
        var saleOrgName = $("#salesOrg").find("option:selected").text();
        //区号不能为空
        if(areaCode == ""){
            $("#prompt").html('<@spring.message "msg.error.user.area_code_not_isempty"/>');
            return;
        }
        var regexArea = /^[0-9]{1,3}$/;
        var regexPhone = /^1\d{10}$/;
        var regexName = /^([\u4e00-\u9fa5\·]{1,10})$/;
        if(regexName.test(uname) == false){
            $("#prompt").html('请输入全中文名');
            return;
        }

        if(regexArea.test(areaCode) == false){
            $("#prompt").html('<@spring.message "msg.error.user.area_code_format"/>');
            $("#areaCode").val("");
            return;
        }
        //手机不为空校验
        if(phone == ""){
            $("#prompt").html('<@spring.message "msg.error.user.phone_not_isempty"/>');
            return;
        }
        //手机号码格式校验
        var regexPhone = /^1\d{10}$/;
        if(regexPhone.test(phone) == false){
            $("#prompt").html('手机号格式不对');
            //$("#checkPhone").val("");
            return;
        }

        if($("input[name='verifiCode']").val() == ""){
            $("#prompt").html('<@spring.message "msg.error.user.verification_code_not_isempty"/>');
            return;
        }

        if(password != confirm_password){
            $("#prompt").html('<@spring.message "msg.error.user.password_not_equeals"/>');
            return;
        }

        /*var regexPWD = /^[0-9]{1,14}$/;
        if(regexPWD.test(password) == false){
            $("#prompt").html('<@spring.message "msg.error.user.phone_format"/>');
            $("#checkPhone").val("");
            return;
        }*/
        $.ajax({
            type: "POST",
            url: "${base.contextPath}/register/sendMessageByPhone",
            data: {
                phoneNo:phone,
                arePhone:areaCode,
                uname : uname,
                newPwd:password,
                againPwd:confirm_password,
                gender:genderValue,
                dob:dob,
                salesOrgId:salesOrgId,
                saleOrgName:saleOrgName,
                verifiCode: $( "input[name='verifiCode']").val()
            },
            dataType: "json",
            success: function(data){
                if(data.success){
                    window.localStorage["regSuc"] = JSON.stringify('Y');
                    top.location='${base.contextPath}/login.html';
                    //updated by 13525 at 2018.03.09

                }else{
                    $("#prompt").html(data.message);
                }
               // changeImg();
            },
            callback:function (data) {
                //console.log(data.success)
            }
        });
        $( "input[name='verifiCode']").val("");
    }

   function sendCheckCode(){

		   var phone = $("#checkPhone").val();
           var areaCode = $("#areaCode").val();
           var areaPhone = areaCode+phone;

		   //区号不能为空
           if($("#areaCode").val() == ""){
               $("#prompt").html('<@spring.message "msg.error.user.area_code_not_isempty"/>');
               return;
           }
		   //发送验证码的时候电话不能为空
		    if($("#checkPhone").val() == ""){
		    	$("#prompt").html('<@spring.message "msg.error.user.phone_not_isempty"/>');
                return;
           }

       //手机号码格式校验
       var regexPhone = /^1\d{10}$/;
       if(!regexPhone.test(phone) ){
           $("#prompt").html('手机号格式不对');
           return false;
       }
	   // }
	   $.ajax({
           type: "POST",
           url: "${base.contextPath}/register/sendCheckCode",
           data: {
        	   email : "null",
        	   phoneNo :phone,
        	   areaPhone:areaPhone,
        	   type :"PHONE"
           },
           dataType: "json",
           success: function(data){
	               if(data.success){
	            	   if($("#checkSelect").val() == "EMAIL"){
	            		   $("#prompt").html('<@spring.message "msg.info.sys.verification_sent_email"/>');
	            	   }else{
	            	       $("#prompt").html('<@spring.message "msg.info.sys.verification_sent_phone"/>');
	            	   }
	                   //按钮不可点击
                       curWay = $("#checkSelect").val();
                       if(curWay == "EMAIL"){
                           $("#sendEmail").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>(60)");
                           $("#sendEmail").attr("disabled", "disabled");
                           $("#sendEmail").attr("style", "background-color:grey;");
                           emailRemainingSec = 60;
                       }else if(curWay == "PHONE"){
                           $("#sendPhone").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>(60)");
                           $("#sendPhone").attr("disabled", "disabled");
                           $("#sendPhone").attr("style", "background-color:grey;");
                           phoneRemainingSec = 60;
                       }
	                setTimer();
                   }else{
                       $("#prompt").html(data.message);
                   }
           }
       });
   }
   function setTimer(){
	   if(curWay == "EMAIL"){
           if(emailRemainingSec >= 0){//距离上次点击发送验证码不足一小时
               $("#sendEmail").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>("+(emailRemainingSec--)+")");
               t = setTimeout("setTimer()",1000)
           }else{
               $("#sendEmail").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.send.verifycode'/>");
               $("#sendEmail").removeAttr("disabled");
               $("#sendEmail").attr("style", "background-color:#FFFFFF;");
           }
       }else if(curWay == "PHONE"){
           if(phoneRemainingSec >= 0){//距离上次点击发送验证码不足一小时
               $("#sendPhone").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>("+(phoneRemainingSec--)+")");
               t = setTimeout("setTimer()",1000)
           }else{
               $("#sendPhone").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.send.verifycode'/>");
               $("#sendPhone").removeAttr("disabled");
               $("#sendPhone").attr("style", "background-color:#FFFFFF;");
           }
       }

   }


</script>
    </header>
<section id="content">
    <div class="container center">
        <div class="row row-size">
            <!-- <div style="height: 676px;"> -->
			<form class="form-horizontal">
            <div class="form-group" style="color: red;">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-7" id="prompt" style="text-align: center;height: 30px;">
                </div>
            </div>

                <div class="form-group center">
                    <label for="uname" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.hand.hap.dto.sys.user.uname"/></label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" id="uname" name="uname">
                    </div>
                    <label class="control-label" style="color:red">* 请输入真实姓名</label>
                </div>

                <div class="form-group center">
                    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.common.member.dto.memberdetails.gender"/></label>
                    <div class="col-sm-3">
                       <!-- <input class="form-control" type="text" placeholder="" id="gender" name="gender">-->
                        <input type="radio" name="gender" checked value="M" >男
                        <input type="radio" name="gender"  value="F" style="margin-left: 10%">女
                        <!--<input type="radio" name="gender"  value="O" >其他-->

                    </div>
                    <label class="control-label" style="color:red">*</label>
                </div>

                <div class="form-group center">
                    <label for="dob" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.common.member.dto.memberdetails.dob"/></label>
                    <div class="col-sm-3">
                        <input class="form-control"  data-beatpicker="true"  id="dob" name="dob" >
                    </div>
                </div>
                <script>
                    $('#dob').datetimepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        todayBtn: true,
                        keyboardNavigation:true,
                        pickerPosition: "bottom-left",
                        language: "zh-CN" ,
                        startView:4,
                        minView:2,
                        maxView:3

                    });
                </script>

                <div class="form-group center" id="selectSalesOrg">
                    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.common.order.dto.salesreturn.salesorgid"/></label>
                    <div class="col-sm-3">
                        <!--<input class="form-control" type="select" placeholder="" id="makerId" name="makerId">-->
                        <select style="height: 35px;width: 263px;border: 1px solid #ccc" id="salesOrg" name="salesOrg">
                        </select>
                    </div>
                </div>

                <div class="form-group center"  id="phone">
                    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message"type.com.lkkhpg.dsis.common.member.dto.upstreamchange.phonenumber"/></label>
                    <div class="col-sm-1">
                        <!--<input class="form-control" style="width: 65px;float: left;" type="text" placeholder="" id="areaCode" name="areaCode" />-->
                        <select class="form-control" id="areaCode">
                        <option value="86">86</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" style="width: 200px;float: right;" type="text" placeholder="" id="checkPhone" name="checkPhone">
                    </div>

                    <div class="col-sm-3">
                        <button id="sendEmail" type="button" class="btn btn-default col-sm-12" onclick="sendCheckCode()"><@spring.message "type.com.lkkhpg.dsis.common.sc.send.verifycode"/></button>
                    </div>
                </div>

                <div class="form-group center">
                    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.hand.hap.dto.sys.user.verifycode"/></label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="" id="verifiCode" name="verifiCode">
                    </div>
                    <label class="control-label" style="color:red">*</label>
                </div>
                <div class="form-group center">
                    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.hand.hap.dto.sys.user.pwd"/></label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" placeholder="" id="password" name="passwd">
                    </div>
                    <label class="control-label" style="color:red">* 至少8位字母与数字组合</label>
                </div>

                <div class="form-group center">
                    <label for="confirm-passwd" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.hand.hap.dto.sys.user.confirm_pwd"/></label>
                    <div class="col-sm-3">
                        <input class="form-control" type="password" placeholder="" id="confirm-passwd" name="confirm-passwd">
                    </div>
                    <label class="control-label" style="color:red">* 至少8位字母与数字组合</label>
                </div>

			  <div class="form-group center" style="display:none;" id="email">
			    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.platform.dto.system.user.email"/></label>
			    <div class="col-sm-3">
			      <input class="form-control" type="text" placeholder="" id="checkEmail" name="checkEmail">
			    </div>
			  </div>

                <div class="form-group center" style="display: none">
                    <label class="col-sm-2 col-md-offset-2 control-label"><@spring.message"type.com.lkkhpg.dsis.common.sc.way.to.validate"/></label>
                    <div class="col-sm-3">
                        <select class="form-control" id="checkSelect">
                            <option value="PHONE"><@spring.message"type.com.lkkhpg.dsis.common.member.dto.marketchange.phonenumber"/></option>
                            <option value="EMAIL"><@spring.message"type.com.lkkhpg.dsis.common.member.dto.marketchange.email"/></option>
                        </select>
                    </div>
                </div>

			  <div class="form-group center">
			  <label class="col-sm-2 control-label"></label>
			    <div class="col-sm-3 col-md-offset-2">
			      <button type="button" class="btn btn-success col-sm-12" onclick="f_button()">注册<!--<@spring.message "type.com.lkkhpg.dsis.common.member.marketchange.submit.commit"/>--></button>
			    </div>
			  </div>
			</form>

            <script>
                $("#uname").blur(function(){
                     name = $("#uname").val();
                     $.ajax({
                     type: "POST",
                     url: "${base.contextPath}/register/sendDetectionName",
                     data: {
                        uname :name
                     },
                     dataType: "json",
                     success: function(data){
                         if(!data.success){
                             $("#prompt").html(data.message);
                         }
                        }
                     });

                    var regexName = /^([\u4e00-\u9fa5\·]{1,10})$/;
                    var uname = $("#uname").val();
                    if(regexName.test(uname) == false){
                     $("#prompt").html('请输入全中文名');
                     return;
                     }
                });

                $("#uname").focus(function(){
                    $("#prompt").html('');
                });
            </script>
		</div>
    </div>

    <script>


            $.ajax({
                type: "GET",
                url: "${base.contextPath}/register/salesOrganization/query",
                data: {
                    marketId :61000321
                },
                dataType: "json",
                success: function(data){
                    console.log(data.rows)
                    htmlContent = "";
                    if(data.rows.length>1){
                        $("#selectSalesOrg").show();
                        for(var i=0;i<data.rows.length;i++){
                            htmlContent = htmlContent+'<option value="'+data.rows[i].salesOrgId+'" >'+data.rows[i].name+'</option>';
                        }
                    } else if(data.rows.length==1) {
                        htmlContent = htmlContent+'<option selected value="'+data.rows[0].salesOrgId+'" >'+data.rows[0].name+'</option>';
                        $("#selectSalesOrg").hide();
                    }
                    $("#salesOrg").empty();
                    $("#salesOrg").append(htmlContent);
                }
            });

       /* $("#selectSalesOrg").hide();
        $("#checkPhone").focus(function(){
            $("#makerId").empty();
            $("#selectSalesOrg").hide();
        });*/
    </script>
</section>
<#include "/mws/include/footer.html">