<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>天府电商</title>
<link rel="shortcut icon" href="${base.contextPath}/resources/img/favicon.ico" />
<!-- Bootstrap -->
<link href="${base.contextPath}/resources/css/bootstrap${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.carousel${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.theme${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.transitions${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/style${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/config${resource_suffix!}.css" rel="stylesheet">
<!-- HTML5 Shim and Respond${resource_suffix!}.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond${resource_suffix!}.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="${base.contextPath}/resources/js/html5shiv${resource_suffix!}.js"></script>
  <![endif]-->
<script src="${base.contextPath}/resources/js/jquery-1.11.3${resource_suffix!}.js"></script>
</head>
<body>
    <header id="header">
        <div>
            <img src="${base.contextPath}/resources/img/top-line.jpg" style="width: 100%; height: 24px"/>
        </div>
        <!-- / #top-bar -->

        <!-- ========== TOP BAR START ========== -->

        <!-- ========== MENU START ========== -->

        <nav id="main-nav">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".main-nav">
                            <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="${base.contextPath}/login.html"><img
                            src="${base.contextPath}/resources/img/logo.png" alt="Infinitus"
                            class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </nav>
<style>
    .input{
        width: 270px;
    }
    .vait{
        font-size: 16px;
        font-weight :900;
        color: red;
        width: 50px;
        height: 30px;
        cursor:pointer;
        margin-left: 100px;
    }
    .form-group-div{
        width: 100%;
    }
    .center { MARGIN-RIGHT: auto !important; MARGIN-LEFT: auto !important; }
</style>
<script type="text/javascript">
	var uuidKey = '${RequestParameters.uuidKey!''}';
$(function(){
	var emailRemainingSec = -1;
	var phoneRemainingSec = -1;
	var curWay = null;
	//uuidKey = GetQueryString("uuidKey");
    //先注册select的change事件,因为之后要手动触发一次
    $("#checkSelect").change(function(){
    	curWay = $("#checkSelect").val();
        if($(this).val() == "EMAIL"){
            $("#emailDiv").show();
            $("#phoneDiv").hide();
            $("#emailButton").show();
            $("#phoneButton").hide();
        }else if($(this).val() == "PHONE"){
            $("#emailDiv").hide();
            $("#phoneDiv").show();
            $("#emailButton").hide();
            $("#phoneButton").show();
        }
    });
    
    //ajax请求填充数据
    $.ajax({
        type: "POST",
        url: "${base.contextPath}/account/getMemberInfo",
        data: {uuidKey:uuidKey},
        dataType: "json",
        success: function(data){
            $("#prompt span").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.modifying.password'/>".replace("{0}", data.rows[0].loginName));
            $("#prompt").show();
            //从快速编码里取值为下拉框添加option
            for(var i=0; i<identifyTypeData.length; i++){
                $("#checkSelect").append("<option value='"+identifyTypeData[i].value+"'>"+identifyTypeData[i].meaning+"</option>");
            }
            if(data.rows[0].phoneNo){//如果有phone
                $("input[name='phoneNo']").val(data.rows[0].phoneNo);
                $("#checkSelect").val("PHONE");
            }
            /*if(data.rows[0].email){//如果有email
                $("input[name='email']").val(data.rows[0].email);
                $("#checkSelect").val("EMAIL");
                $("#phoneDiv").hide();
            }else{
                $("#checkSelect").val("PHONE");
                $("#checkSelect").trigger("change");
                $("#checkSelect").attr("disabled", "disabled");
            }*/
        },
    });
	    $("input[name='email']").attr("readonly", "readonly");
	    $("input[name='phoneNo']").attr("readonly", "readonly");
	});
	
	function sendCaptcha(){
	    $.ajax({
	        type: "POST",
	        url: "${base.contextPath}/account/sendCaptcha",
	        data: {
	            way: $("#checkSelect").val(),
	            phoneNo : $("#phoneNo").val(),
	            email : $("#email").val(),
	            uuidKey : uuidKey
	        },
	        dataType: "json",
	        success: function(data){
	        	if(data.success){
	        	/* var data = data.rows;
	                if(data.length > 0){
	                    for (var i = 0, len = data.length; i < len; i++) {
	                        var item = data[i];
	                            //alert(item);
	                    }
	                } */
		            //按钮不可点击
		            //设置计时器
		            curWay = $("#checkSelect").val();
		            if(curWay == "EMAIL"){
			            $("#sendEmail").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>(60)");
			            $("#sendEmail").attr("disabled", "disabled");
			            $("#sendEmail").attr("style", "background-color:grey;");
		            	emailRemainingSec = 60;
		            }else if(curWay == "PHONE"){
		            	$("#sendPhone").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>(60)");
                        $("#sendPhone").attr("disabled", "disabled");
                        $("#sendPhone").attr("style", "background-color:grey;");
		            	phoneRemainingSec = 60;
                    }
		            setTimer();
	        	}else{
                    $("#prompt").html(data.message);
                }
	        }
	    });
	}

	function setTimer(){
        if(curWay == "EMAIL"){
            if(emailRemainingSec >= 0){//距离上次点击发送验证码不足一小时
                $("#sendEmail").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>("+(emailRemainingSec--)+")");
                t = setTimeout("setTimer()",1000)
            }else{
                $("#sendEmail").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.send.verifycode'/>");
                $("#sendEmail").removeAttr("disabled");
                $("#sendEmail").attr("style", "background-color:#FFFFFF;");
            }
        }else if(curWay == "PHONE"){
            if(phoneRemainingSec >= 0){//距离上次点击发送验证码不足一小时
                $("#sendPhone").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.already.sent.verifycode'/>("+(phoneRemainingSec--)+")");
                t = setTimeout("setTimer()",1000)
            }else{
                $("#sendPhone").text("<@spring.message 'type.com.lkkhpg.dsis.common.sc.send.verifycode'/>");
                $("#sendPhone").removeAttr("disabled");
                $("#sendPhone").attr("style", "background-color:#FFFFFF;");
            }
        }

	}
	
	function f_submit(){
        //测试显示验证码
        /* $("#testShowVerifyCode").hide(); */
        $.ajax({
            url: "${base.contextPath}/account/checkCaptcha",
            type: "POST",
            dataType: "json",
            data: {
            	verifiCode: $( "input[name='verifiCode']").val(),
            	way: $("#checkSelect").val(),
            	uuidKey : uuidKey
            },
            success: function(data){
                if(data.success){
                    window.location.href = "${base.contextPath}/user/update_password.html";
                }else{
                	$("#prompt").addClass("prompt_remind").html(data.message);
                }
            }
        });
    }
	
	//该方法用于取得url中的参数
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);//获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
</script>
<script src="${base.contextPath}/common/code?identifyTypeData=SYS.IDENTIFY_TYPE" type="text/javascript"></script>
    </header>
<section id="content">
    <div class="container center">
        <div class="row row-size">
            <!-- <div style="height: 676px;"> -->
            <form class="form-horizontal">
            <div class="form-group" style="color: red;">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-7" id="prompt" style="text-align: center;height: 30px;">
                </div>
            </div>
              <div class="form-group form-group-div center" style="display: none;">
                <label for="inputEmail3" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.common.sc.way.to.validate"/></label>
                <div class="col-sm-3">
                  <select class="form-control input" id="checkSelect">
                 </select>
                </div>
              </div>
              <div class="form-group center" id="emailDiv" style="display: none;" >
                <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.platform.dto.system.user.email"/></label>
                <div class="col-sm-3">
                  <input class="form-control input" type="text" placeholder="" id="email" name="email">
                </div>
              </div>
              <div class="form-group center" id="phoneDiv">
                <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "mws.accountinfo.phoneno"/></label>
                <div class="col-sm-3">
                  <input class="form-control input" type="text" placeholder="" id="phoneNo" name="phoneNo">
                </div>
              </div>
              <div class="form-group center">
                <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.platform.dto.system.user.verifycode"/></label>
                <div class="col-sm-3">
                  <input class="form-control input" type="text" placeholder="" id="verifiCode" name="verifiCode">
                </div>
              </div>
              <div class="form-group center" style="display: none;" id="emailButton">
              <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"></label>
                <div class="col-sm-3">
                  <button id="sendEmail" type="button" class="btn btn-default input" onclick="sendCaptcha()"><@spring.message "type.com.lkkhpg.dsis.common.sc.send.verifycode"/></button>
                </div>
              </div>
              <div class="form-group center" id="phoneButton">
              <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"></label>
                <div class="col-sm-3">
                  <button id="sendPhone" type="button" class="btn btn-default input" onclick="sendCaptcha()"><@spring.message "type.com.lkkhpg.dsis.common.sc.send.verifycode"/></button>
                </div>
              </div>
              <div class="form-group center">
              <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-3 col-md-offset-2">
                  <button type="button" class="btn btn-success input" onclick="f_submit()"><@spring.message "sys.hand.btn.submit"/></button>
                </div>
              </div>
            </form>
    <!-- </div> -->
  </div>
            </div>
</section>
<#include "/mws/include/footer.html">