<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>天府电商</title>
<link rel="shortcut icon" href="${base.contextPath}/resources/img/favicon.ico" />
<!-- Bootstrap -->
<link href="${base.contextPath}/resources/css/bootstrap${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.carousel${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.theme${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.transitions${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/style${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/config${resource_suffix!}.css" rel="stylesheet">
<!-- HTML5 Shim and Respond${resource_suffix!}.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond${resource_suffix!}.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="${base.contextPath}/resources/js/html5shiv${resource_suffix!}.js"></script>
  <![endif]-->
<script src="${base.contextPath}/resources/js/jquery-1.11.3${resource_suffix!}.js"></script>
</head>
<body>
    <header id="header">
        <div>
            <img src="${base.contextPath}/resources/img/top-line.jpg" style="width: 100%; height: 24px"/>
        </div>
        <!-- / #top-bar -->

        <!-- ========== TOP BAR START ========== -->

        <!-- ========== MENU START ========== -->

        <nav id="main-nav">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".main-nav">
                            <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="${base.contextPath}/login.html"><img
                            src="${base.contextPath}/resources/img/logo.png" alt="Infinitus"
                            class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </nav>
<style>
    .input{
        width: 270px;
    }
    .vait{
        font-size: 16px;
        font-weight :900;
        color: red;
        width: 50px;
        height: 30px;
        cursor:pointer;
        margin-left: 100px;
    }
    .form-group-div{
        width: 100%;
    }
    .center { MARGIN-RIGHT: auto !important; MARGIN-LEFT: auto !important; }
</style>
<script type="text/javascript">
    function changeImg() {
        var imgSrc = $("#imgObj");
        var src = imgSrc.attr("src");
        imgSrc.attr("src", chgUrl(src));
    }
    //时间戳   
    //为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳   
    function chgUrl(url) {
        var timestamp = (new Date()).valueOf();
        url = url.substring(0, 17);
        if ((url.indexOf("&") >= 0)) {
            url = url + "×tamp=" + timestamp;
        } else {
            url = url + "?timestamp=" + timestamp;
        }
        return url;
    }
    function f_button(){
        var memberName = $("#memberName").val();
        var verifiCode = $("#verifiCode").val();
        if(memberName == ""){
            $("#prompt").addClass("prompt_remind").html('<@spring.message "mws.myaccount.accountinfo.account_not_empty"/>');
            return;
        }
        if(verifiCode == ""){
            $("#prompt").addClass("prompt_remind").html('<@spring.message "mws.myaccount.accountinfo.verifycode_not_empty"/>');
            return;
        }
        $.ajax({
            url: "${base.contextPath}/account/isExistsMember",
            type: "POST",
            dataType: "json",
            data: {
                loginName: $("input[name='memberName']").val(),
                verifiCode: $("input[name='verifiCode']").val()
            },
            success: function(data){
                if(data.success){
                    window.location.href="${base.contextPath}/user/retrieve_password_way.html?uuidKey="+data.rows[0].uuidKey;
                }else{
                    $("#prompt").addClass("prompt_remind").html(data.message);
                    $("input[name='verifiCode']").val("");
                    changeImg();
                }
            }
        });
    }
</script>
    </header>
<section id="content">
    <div class="container center">
        <div class="row row-size">
            <!-- <div style="height: 676px;"> -->
            <form class="form-horizontal">
              <div class="form-group" style="color: red;">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-7" id="prompt" style="text-align: center;height: 30px;">
                </div>
              </div>
              <div class="form-group center">
                <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "mws.myaccount.accountinfo.input_account"/></label>
                <div class="col-sm-3">
                  <input class="form-control input" type="text" placeholder="" id="memberName" name="memberName">
                </div>
              </div>
              <div class="form-group center">
                <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"><@spring.message "type.com.lkkhpg.dsis.platform.dto.system.user.verifycode"/></label>
                <div class="col-sm-3">
                  <input class="form-control input" type="text" placeholder="" id="verifiCode" name="verifiCode">
                </div>
              </div>
              <div class="form-group center">
              <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label"></label>
                <div class="col-sm-3">
                   <img id="imgObj" src="${base.contextPath}/verifiCode" style="border:none;" onclick="changeImg()"/>
                   <i class="vait" title="Refresh" onclick="changeImg()">换一个</i>
                </div>
              </div>
              <div class="form-group center">
              <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <div class="col-sm-3 col-md-offset-2">
                  <button type="button" class="btn btn-success input" onclick="f_button()"><@spring.message "sys.hand.btn.submit"/></button>
                </div>
              </div>
            </form>
            <!-- </div> -->
        </div>
    </div>
</section>
<#include "/mws/include/footer.html">