<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.bonus.mapper.BonusRetransferMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer" >
    <id column="RETRANS_ID" property="retransId" jdbcType="DECIMAL" />
    <result column="RETRANS_CODE" property="retransCode" jdbcType="VARCHAR" />
    <result column="BONUS_ID" property="bonusId" jdbcType="DECIMAL" />
    <result column="FINAL_BONUS_ID" property="finalBonusId" jdbcType="DECIMAL" />
    <result column="MEMBER_ID" property="memberId" jdbcType="DECIMAL" />
    <result column="PERIOD_ID" property="periodId" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="RETRANS_AMT" property="retransAmt" jdbcType="DECIMAL" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    <result column="MARKET_ID" property="marketId" jdbcType="DECIMAL" />
    <result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
    <result column="MEMBER_CODE" property="memberCode" jdbcType="VARCHAR"/>
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR"/>
    <result column="MARKET_NAME" property="marketName" jdbcType="VARCHAR"/>
    <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
    <result column="PERIOD_NAME" property="periodName" jdbcType="VARCHAR"/>
    <result column="BONUS_CODE" property="bonusCode" jdbcType="VARCHAR"/>
    <result column="FINAL_BONUS_CODE" property="finalBonusCode" jdbcType="VARCHAR"/>
    <result column="BONUS_TYPE" property="bonusType" jdbcType="VARCHAR"/>
  </resultMap> 
  <sql id="Base_Column_List" >
    RETRANS_ID, RETRANS_CODE, BONUS_ID, FINAL_BONUS_ID, MEMBER_ID, PERIOD_ID, STATUS, 
    RETRANS_AMT, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, CREATION_DATE, CREATED_BY, 
    LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, 
    ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, 
    ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15, 
    MARKET_ID, CURRENCY_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BM_BONUS_RETRANSFER
    where RETRANS_ID = #{retransId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BM_BONUS_RETRANSFER
    where RETRANS_ID = #{retransId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer" >
    <selectKey resultType="java.lang.Long" keyProperty="retransId" order="BEFORE" >
      select BM_BONUS_RETRANSFER_S.nextval from dual
    </selectKey>
    insert into BM_BONUS_RETRANSFER (RETRANS_ID, RETRANS_CODE, BONUS_ID, 
      FINAL_BONUS_ID, MEMBER_ID, PERIOD_ID, 
      STATUS, RETRANS_AMT, OBJECT_VERSION_NUMBER, 
      REQUEST_ID, PROGRAM_ID, CREATION_DATE, 
      CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, 
      LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
      ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, 
      ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
      ATTRIBUTE14, ATTRIBUTE15, MARKET_ID, 
      CURRENCY_CODE)
    values (#{retransId,jdbcType=DECIMAL}, #{retransCode,jdbcType=VARCHAR}, #{bonusId,jdbcType=DECIMAL}, 
      #{finalBonusId,jdbcType=DECIMAL}, #{memberId,jdbcType=DECIMAL}, #{periodId,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{retransAmt,jdbcType=DECIMAL}, #{objectVersionNumber,jdbcType=DECIMAL}, 
      #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, 
      #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, 
      #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, 
      #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}, #{marketId,jdbcType=DECIMAL}, 
      #{currencyCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer" >
    <selectKey resultType="java.lang.Long" keyProperty="retransId" order="BEFORE" >
      select BM_BONUS_RETRANSFER_S.nextval from dual
    </selectKey>
    insert into BM_BONUS_RETRANSFER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      RETRANS_ID,
      <if test="retransCode != null" >
        RETRANS_CODE,
      </if>
      <if test="bonusId != null" >
        BONUS_ID,
      </if>
      <if test="finalBonusId != null" >
        FINAL_BONUS_ID,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="periodId != null" >
        PERIOD_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="retransAmt != null" >
        RETRANS_AMT,
      </if>
      <if test="objectVersionNumber != null" >
        OBJECT_VERSION_NUMBER,
      </if>
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
      <if test="marketId != null" >
        MARKET_ID,
      </if>
      <if test="currencyCode != null" >
        CURRENCY_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{retransId,jdbcType=DECIMAL},
      <if test="retransCode != null" >
        #{retransCode,jdbcType=VARCHAR},
      </if>
      <if test="bonusId != null" >
        #{bonusId,jdbcType=DECIMAL},
      </if>
      <if test="finalBonusId != null" >
        #{finalBonusId,jdbcType=DECIMAL},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=DECIMAL},
      </if>
      <if test="periodId != null" >
        #{periodId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="retransAmt != null" >
        #{retransAmt,jdbcType=DECIMAL},
      </if>
      <if test="objectVersionNumber != null" >
        #{objectVersionNumber,jdbcType=DECIMAL},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="marketId != null" >
        #{marketId,jdbcType=DECIMAL},
      </if>
      <if test="currencyCode != null" >
        #{currencyCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer" >
    update BM_BONUS_RETRANSFER
    <set >
      <if test="retransCode != null" >
        RETRANS_CODE = #{retransCode,jdbcType=VARCHAR},
      </if>
      <if test="bonusId != null" >
        BONUS_ID = #{bonusId,jdbcType=DECIMAL},
      </if>
      <if test="finalBonusId != null" >
        FINAL_BONUS_ID = #{finalBonusId,jdbcType=DECIMAL},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=DECIMAL},
      </if>
      <if test="periodId != null" >
        PERIOD_ID = #{periodId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="retransAmt != null" >
        RETRANS_AMT = #{retransAmt,jdbcType=DECIMAL},
      </if>
      <if test="objectVersionNumber != null" >
        OBJECT_VERSION_NUMBER = #{objectVersionNumber,jdbcType=DECIMAL},
      </if>
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="marketId != null" >
        MARKET_ID = #{marketId,jdbcType=DECIMAL},
      </if>
      <if test="currencyCode != null" >
        CURRENCY_CODE = #{currencyCode,jdbcType=VARCHAR},
      </if>
    </set>
    where RETRANS_ID = #{retransId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer" >
    update BM_BONUS_RETRANSFER
    set RETRANS_CODE = #{retransCode,jdbcType=VARCHAR},
      BONUS_ID = #{bonusId,jdbcType=DECIMAL},
      FINAL_BONUS_ID = #{finalBonusId,jdbcType=DECIMAL},
      MEMBER_ID = #{memberId,jdbcType=DECIMAL},
      PERIOD_ID = #{periodId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      RETRANS_AMT = #{retransAmt,jdbcType=DECIMAL},
      OBJECT_VERSION_NUMBER = #{objectVersionNumber,jdbcType=DECIMAL},
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      MARKET_ID = #{marketId,jdbcType=DECIMAL},
      CURRENCY_CODE = #{currencyCode,jdbcType=VARCHAR}
    where RETRANS_ID = #{retransId,jdbcType=DECIMAL}
  </update>
  <select id="selectBonusRetransfer"  resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer" >
    SELECT BBR.RETRANS_ID,
       BBR.RETRANS_CODE,
       BBR.BONUS_ID,
       (SELECT T.BONUS_CODE FROM BM_BONUS_FINAL T WHERE T.BONUS_ID = BBR.BONUS_ID) AS BONUS_CODE,
       BBR.FINAL_BONUS_ID,
       (SELECT F.BONUS_CODE FROM BM_BONUS_FINAL  F WHERE F.BONUS_ID = BBR.FINAL_BONUS_ID ) AS FINAL_BONUS_CODE,
       BBR.MEMBER_ID,
       BBR.PERIOD_ID,
       BBR.STATUS,
       BBR.RETRANS_AMT,
       BBR.OBJECT_VERSION_NUMBER,
       BBR.REQUEST_ID,
       BBR.PROGRAM_ID,
       BBR.CREATION_DATE,
       BBR.CREATED_BY,
       BBR.LAST_UPDATED_BY,
       BBR.LAST_UPDATE_DATE,
       BBR.LAST_UPDATE_LOGIN,
       BBR.ATTRIBUTE_CATEGORY,
       BBR.MARKET_ID,
       BBR.CURRENCY_CODE,
       SCT.NAME AS COMPANY_NAME,
       MM.MEMBER_CODE,
       CONCAT(CASE
                WHEN MM.ENGLISH_NAME IS NULL THEN
                 ''
                WHEN MM.CHINESE_NAME IS NULL THEN
                 MM.ENGLISH_NAME
                ELSE
                 CONCAT(MM.ENGLISH_NAME, '/')
              END,
              MM.CHINESE_NAME) AS MEMBER_NAME,
       SMT.NAME AS MARKET_NAME,
       SP.PERIOD_NAME ,
       BBF.BONUS_TYPE
  FROM BM_BONUS_RETRANSFER BBR
  LEFT OUTER JOIN BM_BONUS_FINAL BBF ON (BBR.BONUS_ID = BBF.BONUS_ID),
       MM_MEMBER_V          MM,
       SPM_PERIOD          SP,
       SPM_COMPANY_B       SCB
  LEFT OUTER JOIN SPM_COMPANY_TL SCT
    ON (SCB.COMPANY_ID = SCT.COMPANY_ID AND SCT.LANG =#{request.locale,jdbcType=VARCHAR}), SPM_MARKET_B SMB
  LEFT OUTER JOIN SPM_MARKET_TL SMT
    ON (SMB.MARKET_ID = SMT.MARKET_ID AND SMT.LANG =#{request.locale,jdbcType=VARCHAR})
 WHERE MM.MEMBER_ID = BBR.MEMBER_ID
   AND SP.PERIOD_ID = BBR.PERIOD_ID
   AND SP.PERIOD_TYPE = 'BM'
   AND SP.ORG_ID = BBR.MARKET_ID
   AND MM.COMPANY_ID = SCB.COMPANY_ID
   AND SMB.MARKET_ID = BBR.MARKET_ID
   <if test="marketId != null">
        AND BBR.MARKET_ID = #{marketId,jdbcType=DECIMAL}
   </if>
   <if test="marketId == null">
        AND BBR.MARKET_ID = #{request.marketId,jdbcType=DECIMAL}
   </if>
        <if test="memberId != null">
            AND BBR.MEMBER_ID = #{memberId, jdbcType = DECIMAL}
        </if>
        <if test="periodId != null ">
            AND BBR.PERIOD_ID = #{periodId , jdbcType=DECIMAL}
        </if>
        <if test="status !=null">
            AND BBR.STATUS = #{status,jdbcType=VARCHAR}
        </if>
        <if test="memberCode != null">
            AND MM.member_code like concat('%',concat(#{memberCode,jdbcType=VARCHAR},'%'))
        </if>
  </select>
  
  <update id="updateRetransferStatus" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusReleaseCombine">
  update bm_bonus_retransfer s
   set s.status = #{retransferStatus,jdbcType = VARCHAR},
    s.final_bonus_id =
       (select bbf.bonus_id
          from bm_bonus_final bbf
         where bbf.member_id = s.member_id
           and bbf.period_id = #{periodId,jdbcType = VARCHAR}
           and bbf.market_id = #{marketId,jdbcType = VARCHAR}
           and bbf.bonus_type =#{bonusType,jdbcType = VARCHAR})
  WHERE s.RETRANS_ID IN
  <foreach item="transfer" index="index" collection="retransfers" open="(" separator=","
                    close=")">
                    #{transfer.retransId}
                </foreach>
  </update>
  
  <update id="rollback">
  update bm_bonus_retransfer s
   set s.status = #{status,jdbcType = VARCHAR},
       s.final_bonus_id = null
  WHERE s.FINAL_BONUS_ID IN
  <foreach item="bonus" index="index" collection="bonusFinal" open="(" separator="," close=")">
        #{bonus.bonusId,jdbcType=DECIMAL}
  </foreach>
  </update>
  
  <delete id="deleteRecordByFinal" parameterType="com.lkkhpg.dsis.common.bonus.dto.BonusRetransfer">
  delete from BM_BONUS_RETRANSFER
  where BONUS_ID = #{bonusId,jdbcType=DECIMAL}
  </delete>
</mapper>