<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.bonus.mapper.IpointBonusMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    <id column="BONUS_ID" property="bonusId" jdbcType="DECIMAL" />
    <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL" />
    <result column="BONUS_NUMBER" property="bonusNumber" jdbcType="VARCHAR" />
    <result column="BONUS_TYPE" property="bonusType" jdbcType="VARCHAR" />
    <result column="ADJ_TYPE" property="adjType" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="DECIMAL" />
    <result column="PERIOD_ID" property="periodId" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="APPROVED_DATE" property="approvedDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    <result column="period_name" property="periodName" jdbcType="VARCHAR" />
    <result column="member_code" property="memberCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BONUS_ID, SALES_ORG_ID, BONUS_NUMBER, BONUS_TYPE, ADJ_TYPE, MEMBER_ID, PERIOD_ID, 
    STATUS, AMOUNT, APPROVED_DATE, REMARK, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, CREATION_DATE, 
    CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, 
    ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
    ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, 
    ATTRIBUTE15
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BM_IPOINT_BONUS
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BM_IPOINT_BONUS
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    insert into BM_IPOINT_BONUS (BONUS_ID, SALES_ORG_ID, BONUS_NUMBER, 
      BONUS_TYPE, ADJ_TYPE, MEMBER_ID, 
      PERIOD_ID, STATUS, AMOUNT, 
      APPROVED_DATE, REMARK, OBJECT_VERSION_NUMBER, REQUEST_ID, 
      PROGRAM_ID, CREATION_DATE, CREATED_BY, 
      LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
      ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, 
      ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, 
      ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, 
      ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, 
      ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, 
      ATTRIBUTE15)
    values (#{bonusId,jdbcType=DECIMAL}, #{salesOrgId,jdbcType=DECIMAL}, #{bonusNumber,jdbcType=VARCHAR}, 
      #{bonusType,jdbcType=VARCHAR}, #{adjType,jdbcType=VARCHAR}, #{memberId,jdbcType=DECIMAL}, 
      #{periodId,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{approvedDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 1, #{requestId,jdbcType=DECIMAL}, 
      #{programId,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, #{createdBy,jdbcType=DECIMAL}, 
      #{lastUpdatedBy,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, #{lastUpdateLogin,jdbcType=DECIMAL}, 
      #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, 
      #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, 
      #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, 
      #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, 
      #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, 
      #{attribute15,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
	<selectKey resultType="java.lang.Long" keyProperty="bonusId" order="BEFORE">
    	select BM_IPOINT_BONUS_S.nextval from dual
    </selectKey>
    insert into BM_IPOINT_BONUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
        BONUS_ID,
      <if test="salesOrgId != null" >
        SALES_ORG_ID,
      </if>
      <if test="bonusNumber != null" >
        BONUS_NUMBER,
      </if>
      <if test="bonusType != null" >
        BONUS_TYPE,
      </if>
      <if test="adjType != null" >
        ADJ_TYPE,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="periodId != null" >
        PERIOD_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="approvedDate != null" >
        APPROVED_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
        OBJECT_VERSION_NUMBER,
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
        CREATION_DATE,
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
        LAST_UPDATE_DATE,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{bonusId,jdbcType=DECIMAL},
      <if test="salesOrgId != null" >
        #{salesOrgId,jdbcType=DECIMAL},
      </if>
      <if test="bonusNumber != null" >
        #{bonusNumber,jdbcType=VARCHAR},
      </if>
      <if test="bonusType != null" >
        #{bonusType,jdbcType=VARCHAR},
      </if>
      <if test="adjType != null" >
        #{adjType,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=DECIMAL},
      </if>
      <if test="periodId != null" >
        #{periodId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="approvedDate != null" >
        #{approvedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
        1,
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    update BM_IPOINT_BONUS
    <set >
      <if test="salesOrgId != null" >
        SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL},
      </if>
      <if test="bonusNumber != null" >
        BONUS_NUMBER = #{bonusNumber,jdbcType=VARCHAR},
      </if>
      <if test="bonusType != null" >
        BONUS_TYPE = #{bonusType,jdbcType=VARCHAR},
      </if>
      <if test="adjType != null" >
        ADJ_TYPE = #{adjType,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=DECIMAL},
      </if>
      <if test="periodId != null" >
        PERIOD_ID = #{periodId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="approvedDate != null" >
        APPROVED_DATE = #{approvedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
    </set>
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    update BM_IPOINT_BONUS
    set SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL},
      BONUS_NUMBER = #{bonusNumber,jdbcType=VARCHAR},
      BONUS_TYPE = #{bonusType,jdbcType=VARCHAR},
      ADJ_TYPE = #{adjType,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=DECIMAL},
      PERIOD_ID = #{periodId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      APPROVED_DATE = #{approvedDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL}
  </update>
   
  <select id="queryIpointBonus" resultMap="BaseResultMap">
    SELECT ib.bonus_id,
       ib.sales_org_id,
       ib.bonus_number,
       ib.bonus_type,
       ib.adj_type,
       ib.member_id,
       ib.period_id,
       ib.status,
       ib.amount,
       ib.approved_date,
       ib.remark,
       m.member_code,
       sp.period_name
  FROM bm_ipoint_bonus ib,
       mm_member_v m,
       spm_period sp
  WHERE ib.member_id = m.member_id    
  AND   sp.period_id = ib.period_id
  <if test="ipointBonus.salesOrgId != null" >
  AND ib.sales_org_id = #{ipointBonus.salesOrgId,jdbcType=DECIMAL}
  </if>
  <if test="ipointBonus.salesOrgId == null" >
  AND ib.sales_org_id = #{request.salesOrgId,jdbcType=DECIMAL}
  </if>
      <if test="ipointBonus.bonusNumber != null" >
        AND Upper(ib.bonus_number) like concat('%',concat(Upper(#{ipointBonus.bonusNumber,jdbcType=VARCHAR}),'%')) 
      </if>
      <if test="ipointBonus.periodId != null" >
        AND ib.period_id = #{ipointBonus.periodId,jdbcType=DECIMAL}
      </if>
      <if test="statusList != null" >
        AND ib.status in
        <foreach collection="statusList" open="(" separator="," close=")" item="status" index="index">
                 #{status,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="ipointBonus.memberId != null" >
        AND ib.member_id = #{ipointBonus.memberId,jdbcType=DECIMAL}
      </if>
      <if test="ipointBonus.memberCode != null" >
		AND Upper(m.MEMBER_CODE) like concat('%',concat(Upper(#{ipointBonus.memberCode,jdbcType=VARCHAR}),'%'))
	  </if>
      <if test="ipointBonus.approvedDate != null" >
        AND ib.approved_date = #{ipointBonus.approvedDate,jdbcType=TIMESTAMP}
      </if>
  </select>
  
  <update id="submitIpointBonus" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    update BM_IPOINT_BONUS
    set STATUS = 'ALING',
        APPROVED_DATE = #{approvedDate,jdbcType=TIMESTAMP},
        REMARK = #{remark,jdbcType=VARCHAR},
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL}    
  </update>
  
  <update id="approveIpointBonus" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    update BM_IPOINT_BONUS
    set STATUS = 'ALED',
        APPROVED_DATE = #{approvedDate,jdbcType=TIMESTAMP},
        REMARK = #{remark,jdbcType=VARCHAR},
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL}    
  </update>
  
  <update id="rejectIpointBonus" parameterType="com.lkkhpg.dsis.common.bonus.dto.IpointBonus" >
    update BM_IPOINT_BONUS
    set STATUS = 'RJED',
        APPROVED_DATE = #{approvedDate,jdbcType=TIMESTAMP},
        REMARK = #{remark,jdbcType=VARCHAR},
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1
    where BONUS_ID = #{bonusId,jdbcType=DECIMAL} 
  </update>
</mapper>