.fodder-filter {
    background: #fff;
    padding: 10px 20px;
}

.filter-row {
    display: flex;
    align-items: center;
}

.filter-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-icon {
    height: 3.5rem;
}

.filter-title {
    color: #8d8d8d;
}

.filter-item {
    display: flex;
    flex: 1;
    padding: 10px 0;
    border-left: 1px solid #dbdbdb;
    margin-left: 10px;
}

.filter-cell {
    margin-left: 15px;
}

.filter-cell-active {
    color: #ff6000
}

.claim-bg1 {
    width: 100%;
}

.claim-list {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 5px;
}

.claim-list-item {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.list-img {
    width: 100%;
}

.list-img+p {
    color:#8d8d8d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 40px;
}
.claim-list-price1{
    font-size: 16px;
    color:#ff9967;
    margin-top: 5px;
}
.claim-list-price2{
    font-size: 12px;
}