<#include "/mws/include/header.html">
<!-- ========== MENU END ========== -->
<!-- ========== CSS START ========= -->
<link
	href="${base.contextPath}/resources/css/date/bootstrap-datetimepicker${resource_suffix!}.css"
	rel="stylesheet">
<link href="${base.contextPath}/resources/css/bootstrap-combobox${resource_suffix!}.css"
	rel="stylesheet">
<!-- ========== CSS END ========= -->
<!-- ========== JS START ========= -->
<script type="text/javascript">
$l('type.hand.commom.date.days.sunday','<@spring.message "type.hand.commom.date.days.sunday"/>');
$l('type.hand.commom.date.days.monday','<@spring.message "type.hand.commom.date.days.monday"/>');
$l('type.hand.commom.date.days.tuesday','<@spring.message "type.hand.commom.date.days.tuesday"/>');
$l('type.hand.commom.date.days.wednesday','<@spring.message "type.hand.commom.date.days.wednesday"/>');
$l('type.hand.commom.date.days.thursday','<@spring.message "type.hand.commom.date.days.thursday"/>');
$l('type.hand.commom.date.days.friday','<@spring.message "type.hand.commom.date.days.friday"/>');
$l('type.hand.commom.date.days.saturday','<@spring.message "type.hand.commom.date.days.saturday"/>');

$l('type.hand.commom.date.daysshort.sunday','<@spring.message "type.hand.commom.date.daysshort.sunday"/>');
$l('type.hand.commom.date.daysshort.monday','<@spring.message "type.hand.commom.date.daysshort.monday"/>');
$l('type.hand.commom.date.daysshort.tuesday','<@spring.message "type.hand.commom.date.daysshort.tuesday"/>');
$l('type.hand.commom.date.daysshort.wednesday','<@spring.message "type.hand.commom.date.daysshort.wednesday"/>');
$l('type.hand.commom.date.daysshort.thursday','<@spring.message "type.hand.commom.date.daysshort.thursday"/>');
$l('type.hand.commom.date.daysshort.friday','<@spring.message "type.hand.commom.date.daysshort.friday"/>');
$l('type.hand.commom.date.daysshort.saturday','<@spring.message "type.hand.commom.date.daysshort.saturday"/>');

$l('type.hand.commom.date.daysmin.sunday','<@spring.message "type.hand.commom.date.daysmin.sunday"/>');
$l('type.hand.commom.date.daysmin.monday','<@spring.message "type.hand.commom.date.daysmin.monday"/>');
$l('type.hand.commom.date.daysmin.tuesday','<@spring.message "type.hand.commom.date.daysmin.tuesday"/>');
$l('type.hand.commom.date.daysmin.wednesday','<@spring.message "type.hand.commom.date.daysmin.wednesday"/>');
$l('type.hand.commom.date.daysmin.thursday','<@spring.message "type.hand.commom.date.daysmin.thursday"/>');
$l('type.hand.commom.date.daysmin.friday','<@spring.message "type.hand.commom.date.daysmin.friday"/>');
$l('type.hand.commom.date.daysmin.saturday','<@spring.message "type.hand.commom.date.daysmin.saturday"/>');

$l('type.hand.commom.date.months.january','<@spring.message "type.hand.commom.date.months.january"/>');
$l('type.hand.commom.date.months.february','<@spring.message "type.hand.commom.date.months.february"/>');
$l('type.hand.commom.date.months.march','<@spring.message "type.hand.commom.date.months.march"/>');
$l('type.hand.commom.date.months.april','<@spring.message "type.hand.commom.date.months.april"/>');
$l('type.hand.commom.date.months.may','<@spring.message "type.hand.commom.date.months.may"/>');
$l('type.hand.commom.date.months.june','<@spring.message "type.hand.commom.date.months.june"/>');
$l('type.hand.commom.date.months.july','<@spring.message "type.hand.commom.date.months.july"/>');
$l('type.hand.commom.date.months.august','<@spring.message "type.hand.commom.date.months.august"/>');
$l('type.hand.commom.date.months.september','<@spring.message "type.hand.commom.date.months.september"/>');
$l('type.hand.commom.date.months.october','<@spring.message "type.hand.commom.date.months.october"/>');
$l('type.hand.commom.date.months.november','<@spring.message "type.hand.commom.date.months.november"/>');
$l('type.hand.commom.date.months.december','<@spring.message "type.hand.commom.date.months.december"/>');

$l('type.hand.commom.date.monthsshort.january','<@spring.message "type.hand.commom.date.monthsshort.january"/>');
$l('type.hand.commom.date.monthsshort.february','<@spring.message "type.hand.commom.date.monthsshort.february"/>');
$l('type.hand.commom.date.monthsshort.march','<@spring.message "type.hand.commom.date.monthsshort.march"/>');
$l('type.hand.commom.date.monthsshort.april','<@spring.message "type.hand.commom.date.monthsshort.april"/>');
$l('type.hand.commom.date.monthsshort.may','<@spring.message "type.hand.commom.date.monthsshort.may"/>');
$l('type.hand.commom.date.monthsshort.june','<@spring.message "type.hand.commom.date.monthsshort.june"/>');
$l('type.hand.commom.date.monthsshort.july','<@spring.message "type.hand.commom.date.monthsshort.july"/>');
$l('type.hand.commom.date.monthsshort.august','<@spring.message "type.hand.commom.date.monthsshort.august"/>');
$l('type.hand.commom.date.monthsshort.september','<@spring.message "type.hand.commom.date.monthsshort.september"/>');
$l('type.hand.commom.date.monthsshort.october','<@spring.message "type.hand.commom.date.monthsshort.october"/>');
$l('type.hand.commom.date.monthsshort.november','<@spring.message "type.hand.commom.date.monthsshort.november"/>');
$l('type.hand.commom.date.monthsshort.december','<@spring.message "type.hand.commom.date.monthsshort.december"/>');

$l('type.hand.commom.date.today','<@spring.message "type.hand.commom.date.today"/>');

$l('type.hand.commom.date.meridiem.am','<@spring.message "type.hand.commom.date.meridiem.am"/>');
$l('type.hand.commom.date.meridiem.pm','<@spring.message "type.hand.commom.date.meridiem.pm"/>');

</script>

<script
	src="${base.contextPath}/resources/js/date/bootstrap-datetimepicker${resource_suffix!}.js"></script>
<script
	src="${base.contextPath}/resources/js/date/bootstrap-datetimepicker.zh-CN${resource_suffix!}.js"></script>
<script src="${base.contextPath}/resources/js/bootstrap-combobox${resource_suffix!}.js"></script>
<!-- ========== JS END ========= -->

<!-- ========== CONTENT START ========== -->
<script type="text/javascript">
    //删除当前消息
    function deleteCurrent(readId){ 
    	$.ajax({
            type:'post',
            url:"${base.contextPath}/account/deleteCurrent",
            data:{readId:readId},
            dataTypee:'json',
            success:function(data){
                if(data.success){
                    window.location.href="${base.contextPath}/account/account-messagebox.html";
                }
            }
        });
    }
    //下一封
    function nextMessage(date){
    	$("#publiDate").val(date)
    	if($("#freeSort").text() == "desc"){ //如果是倒序--上一封我下一封也倒序
    		$("#sort").val('desc')
    	}
    	$("#nextMessageForm").submit();
    }
    //上一封
    function previousMessage(date){
    	$("#publiDate").val(date)
    	if($("#freeSort").text() != "desc"){
    	    $("#sort").val('desc')
    	}
        $("#nextMessageForm").submit();
    }
    
</script>
<section id="content">
<div>
    <#if sortEmpty??>
        <span id="sortEmpty">${sortEmpty}</span>
    </#if>
</div>
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><@spring.message "mws.myaccount.accountinfo.message_center"/></li>
		</ol>
		<#if sort??>
		    <span id="freeSort">${sort}</span>
		</#if>
		<div class="rows">
			<!-- Sidebar Start -->
			<#include "../include/account-menu.html">
			<!-- Sidebar End -->
			<div class="col-sm-8 col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><@spring.message "mws.myaccount.accountinfo.message_center"/></h3>
					</div>
					<div class="panel-body">
						<div class="portlet box ">
                            <div class="portlet-title" style="background-color: #FBD9D8;height: 40px;">
                                <div class="col-sm-4" style="margin-top: -5px;">
                                    <button class="btn btn-link" style="color: #BC2826;" onclick="deleteCurrent(${readId})"><@spring.message "mws.myaccount.accountinfo.message_delete"/></button>
<!--                                     <button class="btn btn-link" style="color: #BC2826;" onclick="javascript:history.go(-1);">返回</button> -->
                                    <a class="btn btn-link" style="color: #BC2826;" href="${base.contextPath}/account/account-messagebox.html"><@spring.message "mws.myaccount.accountinfo.return_message"/></a>
                                </div>
                                <!-- <div class="tools col-sm-2" style="margin-top: 0px;">
                                    <a id="beforeMessage" href="#" onclick="previousMessage('${(publishDate?string('yyyy-MM-dd HH:mm:ss'))!}')"><@spring.message "mws.myaccount.accountinfo.before_message"/></a>
                                    <a id="afterMessage" href="#" onclick="nextMessage('${(publishDate?string('yyyy-MM-dd HH:mm:ss'))!}')"><@spring.message "mws.myaccount.accountinfo.after_message"/></a>
                                </div> -->
                            </div>
                            <div style="background-color: #FCF0F0;">
                            <#if userName??>
                                <h3 style="text-align: center;font-weight: 600;padding-top: 20px;">${subject}</h3>
                            </#if>
                                <div style="text-align: right;">
                            <#if userName??>
                                <span>${userName}</span>
                            </#if>
                                <span>${(publishDate?string("yyyy-MM-dd HH:mm:ss"))!}</span>
                                </div>
                            </div>
                            <div class="portlet-body no-more-tables">
                                <div >
                                    <div class = "rows">
                                        <div>
                                             <#if content??>
                                                <span>${content}</span>
                                             </#if>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form id="nextMessageForm" method="post" action="${base.contextPath}/account/message/queryNext">
                                <input type="hidden" name="date" id="publiDate" value=""/>
                                <input type="hidden" name="sort" id="sort" value=""/>
                            </form>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- ========== CONTENT END ========== -->

<!-- ========== FOOTER START ========== -->
<#include "/mws/include/footer.html">
