<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Interface</title>
    <link href="${base.contextPath}/resources/favicon.ico" rel="shortcut icon"/>
    <style>
        .success-msg {
            font: 20px Verdana, Arial;
            margin: 20px auto;
        }

        #v {
            color: grey;
            font-size: 12px;
        }

        ul {
            margin: 20px auto;
            font: 14px Verdana, Arial;
        }

        li {
            margin: 2px 2px;
        }

    </style>
    <script type="text/javascript">


    </script>
</head>
<body style="padding: 20px;">
<p class="success-msg">
${interfaceName}
    <br/>
<#if interfaceVersion??>
    <span id="v">version:${interfaceVersion}</span>
</#if>
</p>
<ul>
<#list list as i>
    <li>${i}</li>
</#list>
</ul>
</body>
</html>