<#-- 
 * description: ÐÞ¸ÄÃÜÂë
 * version: 1.0 
 * author:Clerifen Li
 * Copyright LKK Health Products Group Limited 
 * 
-->
<#include "../include/head.html">
<body style="padding: 15px">
	<form id="mainForm" method="post" enctype="application/json;charset=UTF-8"></form>
	<script type="text/javascript">
      function saveDialog() {
          Hap.submitForm({
              form: dataForm,
              wrapArray: false,
          	  url: '${base.contextPath}/sys/messageSmsAccount/updatePasswordOnly',
              success:function(json, opt){
                  $.ligerDialog.success("<@spring.message "sys.hand.tip.success"/>", '<@spring.message "sys.hand.tip.info"/>', function(){
                      parent.dataGrid.reload();
                      cancelDialog();
                  });
              }
          });
      }
      function cancelDialog() {
          var dialog = frameElement.dialog;
          dialog.close();
      }

      Hap.setFormDefaultBtn(cancelDialog, saveDialog);
	  //-------------------------------------------------------------
      
        var mainForm = $("#mainForm");
        var dataForm  = mainForm.ligerForm({
            inputWidth: 280,
            fields: [{
                name: "accountId",
                type: "hidden"
            },{
                display: '<@spring.message "type.com.lkkhpg.dsis.platform.dto.system.messageaccount.password"/>',
                name: "password",
                type: "text",
                newline: true,
                validate: {
                	required: true
                }
            }]
        });
     Hap.loadForm({form: dataForm, url:'${base.contextPath}/sys/messageSmsAccount/queryAccount',para:{accountId:${RequestParameters.id}}, callback:function(){
    	 liger.get("password").setValue("");
     }})
    </script>
</body>
</html>
