<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.admin.system.mapper.MessageAddressMapper">
    <resultMap id="MemberResultMap" type="com.lkkhpg.dsis.common.member.dto.Member" extends="com.lkkhpg.dsis.platform.mapper.BaseMapper.STD">
        <id column="MEMBER_ID" property="memberId" jdbcType="DECIMAL" />
        <result column="MEMBER_TYPE" property="memberType" jdbcType="VARCHAR" />
        <result column="MARKET_ID" property="marketId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="MEMBER_ROLE" property="memberRole" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="BR_NUMBER" property="brNumber" jdbcType="VARCHAR" />
        <result column="REF_COMPANY" property="refCompany" jdbcType="VARCHAR" />
        <result column="ENGLISH_FIRST_NAME" property="englishFirstName" jdbcType="VARCHAR" />
        <result column="ENGLISH_LAST_NAME" property="englishLastName" jdbcType="VARCHAR" />
        <result column="CHINESE_FIRST_NAME" property="chineseFirstName" jdbcType="VARCHAR" />
        <result column="CHINESE_LAST_NAME" property="chineseLastName" jdbcType="VARCHAR" />
        <result column="ENGLISH_NAME" property="englishName" jdbcType="VARCHAR" />
        <result column="CHINESE_NAME" property="chineseName" jdbcType="VARCHAR" />
        <result column="GENDER" property="gender" jdbcType="VARCHAR" />
        <result column="DOB" property="dob" jdbcType="TIMESTAMP" />
        <result column="ID_TYPE" property="idType" jdbcType="VARCHAR" />
        <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
        <result column="NATIONALITY" property="nationality" jdbcType="VARCHAR" />
        <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
        <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
        <result column="RACE" property="race" jdbcType="VARCHAR" />
        <result column="EDUCATION" property="education" jdbcType="VARCHAR" />
        <result column="CITIZEN_TYPE" property="citizenType" jdbcType="VARCHAR" />
        <result column="NHI_TAX_EXCLUDED" property="nhiTaxExcluded" jdbcType="VARCHAR" />
        <result column="GST_ID_NUMBER" property="gstIdNumber" jdbcType="VARCHAR" />
        <result column="AD_OPT_IN" property="adOptIn" jdbcType="VARCHAR" />
        <result column="SYS_MSG_IN" property="sysMsgIn" jdbcType="VARCHAR" />
        <result column="JOINT_SITE" property="jointSite" jdbcType="VARCHAR" />
        <result column="JOINT_DATE" property="jointDate" jdbcType="TIMESTAMP" />
        <result column="APPROVAL_DATE" property="approvalDate" jdbcType="TIMESTAMP" />
        <result column="SPONSOR_ID" property="sponsorId" jdbcType="DECIMAL" />
        <result column="ACCEPT_BONUS" property="acceptBonus" jdbcType="VARCHAR" />
        <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL" />
        <result column="MEMBER_CODE" property="memberCode" jdbcType="VARCHAR" />
        <result column="PHONE_NO" property="phoneNo" jdbcType="VARCHAR" />
        <result column="OTH_PHONE_NO" property="othPhoneNo" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="WARNING_MSG" property="warningMsg" jdbcType="VARCHAR" />
        <result column="TRAVEL_PLAN_MONTH" property="travelPlanMonth" jdbcType="VARCHAR" />
        <result column="SYNC_FLAG" property="syncFlag" jdbcType="VARCHAR" />

        <!-- 关联属性 -->
        <result column="HOME_LOCATION_ID" property="homeLocationId" jdbcType="DECIMAL" />
        <result column="CONTACT_LOCATION_ID" property="contactLocationId" jdbcType="DECIMAL" />
        <result column="TRAVEL_COUNT" property="travelCount" jdbcType="DECIMAL" />
        <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
        <result column="STATUS_DESC" property="statusDesc" jdbcType="VARCHAR" />
        <result column="MARKET_CODE" property="marketCode" jdbcType="VARCHAR" />
        <result column="MARKET_NAME" property="marketName" jdbcType="VARCHAR" />
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
        <result column="SPONSOR_CHINESE_NAME" property="sponsorChineseName" jdbcType="VARCHAR" />
        <result column="SPONSOR_ENGLISH_NAME" property="sponsorEnglishName" jdbcType="VARCHAR" />
        <result column="RANK" property="rank" jdbcType="DECIMAL" />
        <result column="country_name" property="countryName" jdbcType="VARCHAR" />
        <result column="nationality_name" property="nationalityName" jdbcType="VARCHAR" />
        <result column="home_location" property="homeLocation" jdbcType="VARCHAR" />
        <result column="contact_location" property="contactLocation" jdbcType="VARCHAR" />
        <result column="deadline" property="deadline" jdbcType="DECIMAL" />
        <result column="signature_file_id" property="signatureFileId" jdbcType="DECIMAL" />
        <result column="salesPiont" property="salesPiont" jdbcType="DECIMAL" />
        <result column="exchangeBalance" property="exchangeBalance" jdbcType="DECIMAL" />
        <result column="remainingBalance" property="remainingBalance" jdbcType="DECIMAL" />
        <result column="currentPv" property="currentPv" jdbcType="DECIMAL" />
        <result column="SPONSOR_NO" property="sponsorNo" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="account_id" property="accountId" jdbcType="DECIMAL" />
        <result column="account_type" property="accountType" jdbcType="VARCHAR" />
        <result column="first_login_flag" property="firstLoginFlag" jdbcType="VARCHAR" />
        <result column="joint_site_code" property="jointSiteCode" jdbcType="VARCHAR" />

    </resultMap>

    <resultMap id="UserAccountMap" type="com.lkkhpg.dsis.platform.dto.system.User" extends="com.lkkhpg.dsis.platform.mapper.system.AccountMapper.BaseResultMap">
        <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
        <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="PHONE_NO" property="phoneNo" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PHONE_EXT_NO" property="phoneExtNo" jdbcType="VARCHAR" />
        <result column="COUNTRY_CODE" property="countryCode" jdbcType="VARCHAR" />
        <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        ATTRIBUTE_ID, ATTRIBUTE, VALUE, MEMBER_ID, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID,
        CREATION_DATE,
        CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
        ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2,
        ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6,
        ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11,
        ATTRIBUTE12, ATTRIBUTE13,
        ATTRIBUTE14, ATTRIBUTE15
    </sql>

    <!-- 根据会员ID查询 -->
    <select id="selectByMemberId" resultMap="MemberResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from MM_MEMBER
        where status != 'EXPR'
        <if test="memberId != null">
            and MEMBER_ID = #{memberId,jdbcType=DECIMAL}
        </if>
    </select>

    <select id="selectAllMember" resultMap="MemberResultMap">
        select
        <include refid="Base_Column_List" />
        from MM_MEMBER
        where status != 'EXPR'
    </select>

    <select id="selectUserByPrimaryKey" resultMap="UserAccountMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from SYS_USER
        where status != 'EXPR'
        where USER_ID = #{userId,jdbcType=DECIMAL}
    </select>

    <select id="selectByIdList" resultMap="UserAccountMap">
        select
        USER_ID, EMAIL, USER_NAME
        from SYS_USER
        where USER_ID in
        <foreach collection="list" open="(" separator="," close=")" item="userId" index="index">
            #{userId,jdbcType=DECIMAL}
        </foreach>
    </select>

    <select id="selectAllUser" resultMap="UserAccountMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where status != 'EXPR'
    </select>
    <select id="selectAllUserOfRole" resultMap="UserAccountMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        FROM sys_user su , sys_user_role sur
        where su.status != 'EXPR' and sur.role_id=#{roleId,jdbcType=DECIMAL} and
        su.user_id= sur.user_id;

    </select>


</mapper>