.swiper-pagination-bullet{
    opacity: 1 !important;
    background: #fff !important;
    box-sizing: border-box;
    height:6px !important;
    width:6px !important;
}
.swiper-pagination-bullet-active{
    border:1px solid #fff;
    background: transparent !important;
    opacity: 0;
}
.banner-img{
    width: 100%;
    display: block;
}
.menu{
    background: #fff;
    display: flex;
    box-sizing: border-box;
    height:8rem;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #f1f1f1;
    flex:1;

}
.menu-item:last-child{
    border-right: none;
}

.menu-icon{
    height:2.6rem;
    margin-bottom: 10px;
}
.trade-swiper{
    background: #fff;
    padding:5px 20px;
    /* display: flex; */
    margin:10px 0;
}
.trade-swiper-list{
    display: flex;
    align-items: center;
    height:20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.trade-swiper-icon{
    height:1.6rem;
    margin-right: 5px;
}
.customer-name{
    color:#e02e2e;
    margin:0 2px;
}
#successSwiper{
    height:20px;
    overflow: hidden;
}
.trade-list-wrapper{
    background: #fff;
    padding:0 15px;
}
.trade-title{
    display: flex;
    justify-content: space-between;
    padding:10px 5px 5px 5px;
    align-items: center;
}
.trade-list{
    display: flex;
    flex-wrap: wrap;
}
.trade-item{
    background: #f1f1f1;
    border-radius: 5px;
    width: calc(50% - 10px);
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding:5px 10px;
}
.trade-left-text{
    font-size: 18px;
    font-weight: bold;
}
.trade-item-img{
    height:8rem;
}
.trade-item-title{
    font-weight: bold;
    margin-top:5px;

}
.trade-item-subtitle{
    font-size: 12px;
    color:#666;
}
.trade-price{
    color:#df1b1b;
    font-size: 18px;
    font-weight: bold;
}