<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.inventory.mapper.InvOnhandQuantityMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    <id column="ONHAND_ID" property="onhandId" jdbcType="DECIMAL" />
    <result column="ORGANIZATION_ID" property="organizationId" jdbcType="DECIMAL" />
    <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="SUBINVENTORY_ID" property="subinventoryId" jdbcType="DECIMAL" />
    <result column="LOCATION_ID" property="locationId" jdbcType="DECIMAL" />
    <result column="LOT_NUMBER" property="lotNumber" jdbcType="VARCHAR" />
    <result column="UOM_CODE" property="uomCode" jdbcType="VARCHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="LAST_TRANSACTION_ID" property="lastTransactionId" jdbcType="DECIMAL" />
    <result column="INIT_TRANSACTION_ID" property="initTransactionId" jdbcType="DECIMAL" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    
    <!-- 商品包ID -->
    <result column="PARENT_ITEM_ID" property="packageItemId" jdbcType="DECIMAL" />
    <!-- 有效期 -->
    <result column="EXPIRY_DATE" property="expiryDate" jdbcType="TIMESTAMP" />
    <!-- 商品包商品分配量 -->
    <result column="QTY" property="qty" jdbcType="DECIMAL" />
    <result column="item_number" property="itemNumber" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_desc" property="itemDesc" jdbcType="VARCHAR" />
    <result column="pending_qty" property="pendingQty" jdbcType="DECIMAL" />
    <result column="available_qty" property="availableQty" jdbcType="DECIMAL" />
    <result column="currency_code" property="currencyCode" jdbcType="VARCHAR" />
    <result column="unit_cost" property="unitCost" jdbcType="DECIMAL" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="uom_name" property="uomName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ONHAND_ID, ORGANIZATION_ID, ITEM_ID, SUBINVENTORY_ID, LOCATION_ID, LOT_NUMBER, UOM_CODE, 
    QUANTITY, LAST_TRANSACTION_ID, INIT_TRANSACTION_ID, OBJECT_VERSION_NUMBER, REQUEST_ID, 
    PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from INV_ONHAND_QUANTITY
    where ONHAND_ID = #{onhandId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from INV_ONHAND_QUANTITY
    where ONHAND_ID = #{onhandId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    <selectKey resultType="java.lang.Long" keyProperty="onhandId" order="BEFORE" >
      select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into INV_ONHAND_QUANTITY (ONHAND_ID, ORGANIZATION_ID, ITEM_ID, 
      SUBINVENTORY_ID, LOCATION_ID, LOT_NUMBER, 
      UOM_CODE, QUANTITY, LAST_TRANSACTION_ID, 
      INIT_TRANSACTION_ID, OBJECT_VERSION_NUMBER, 
      REQUEST_ID, PROGRAM_ID, CREATION_DATE, 
      CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, 
      LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
      ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, 
      ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
      ATTRIBUTE14, ATTRIBUTE15)
    values (#{onhandId,jdbcType=DECIMAL}, #{organizationId,jdbcType=DECIMAL}, #{itemId,jdbcType=DECIMAL}, 
      #{subinventoryId,jdbcType=DECIMAL}, #{locationId,jdbcType=DECIMAL}, #{lotNumber,jdbcType=VARCHAR}, 
      #{uomCode,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL}, #{lastTransactionId,jdbcType=DECIMAL}, 
      #{initTransactionId,jdbcType=DECIMAL}, 1, 
      #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL},CURRENT_TIMESTAMP, 
      -1, -1, CURRENT_TIMESTAMP, 
      #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, 
      #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, 
      #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, 
      #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    <selectKey resultType="java.lang.Long" keyProperty="onhandId" order="BEFORE" >
      select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into INV_ONHAND_QUANTITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ONHAND_ID,
      <if test="organizationId != null" >
        ORGANIZATION_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="subinventoryId != null" >
        SUBINVENTORY_ID,
      </if>
      <if test="locationId != null" >
        LOCATION_ID,
      </if>
      <if test="lotNumber != null" >
        LOT_NUMBER,
      </if>
      <if test="uomCode != null" >
        UOM_CODE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="lastTransactionId != null" >
        LAST_TRANSACTION_ID,
      </if>
      <if test="initTransactionId != null" >
        INIT_TRANSACTION_ID,
      </if> 
      OBJECT_VERSION_NUMBER,
 
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if> 
       CREATION_DATE,

 
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if> 
       LAST_UPDATE_DATE,

 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{onhandId,jdbcType=DECIMAL},
      <if test="organizationId != null" >
        #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="subinventoryId != null" >
        #{subinventoryId,jdbcType=DECIMAL},
      </if>
      <if test="locationId != null" >
        #{locationId,jdbcType=DECIMAL},
      </if>
      <if test="lotNumber != null" >
        #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="uomCode != null" >
        #{uomCode,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="lastTransactionId != null" >
        #{lastTransactionId,jdbcType=DECIMAL},
      </if>
      <if test="initTransactionId != null" >
        #{initTransactionId,jdbcType=DECIMAL},
      </if> 
      1,
 
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
       CURRENT_TIMESTAMP,
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDate != null" >
        CURRENT_TIMESTAMP,
      </if>
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    update INV_ONHAND_QUANTITY
    <set >
      <if test="organizationId != null" >
        ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="subinventoryId != null" >
        SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL},
      </if>
      <if test="locationId != null" >
        LOCATION_ID = #{locationId,jdbcType=DECIMAL},
      </if>
      <if test="lotNumber != null" >
        LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR},
      </if>
      <if test="uomCode != null" >
        UOM_CODE = #{uomCode,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="lastTransactionId != null" >
        LAST_TRANSACTION_ID = #{lastTransactionId,jdbcType=DECIMAL},
      </if>
      <if test="initTransactionId != null" >
        INIT_TRANSACTION_ID = #{initTransactionId,jdbcType=DECIMAL},
      </if> 
       OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
 
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
    </set>
    where ONHAND_ID = #{onhandId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    update INV_ONHAND_QUANTITY
    set ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      ITEM_ID = #{itemId,jdbcType=DECIMAL},
      SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL},
      LOCATION_ID = #{locationId,jdbcType=DECIMAL},
      LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR},
      UOM_CODE = #{uomCode,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      LAST_TRANSACTION_ID = #{lastTransactionId,jdbcType=DECIMAL},
      INIT_TRANSACTION_ID = #{initTransactionId,jdbcType=DECIMAL},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where ONHAND_ID = #{onhandId,jdbcType=DECIMAL}
  </update>
  
  
  <select id="selectForLock"  resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    select 
    <include refid="Base_Column_List" />
    from INV_ONHAND_QUANTITY ioq
    <where>
      ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL}
      and ITEM_ID = #{itemId,jdbcType=DECIMAL}
      <if test="subinventoryId != null">
        AND SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="lotNumber != null">
        AND LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      </if>
    </where>
    order by init_transaction_id asc
    for update
  </select>
    <!-- 根据itemId查询库存现有量 -->
  <select id="selectByItemId" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    select 
    sum(ioq.QUANTITY) quantity
    from 
    INV_ONHAND_QUANTITY_V ioq , 
    inv_item_b ii
    where 
    ioq.item_id = ii.item_id
    and 
    ii.item_id = #{packageItemId,jdbcType=DECIMAL}
    and  
    ioq.ORGANIZATION_ID=#{organizationId,jdbcType=DECIMAL}
  </select>
  
  <!-- 根据库存组织和批次获取商品ID -->
  <select id="getItemId" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity">
  select 
      i.ITEM_ID 
  from 
      INV_ONHAND_QUANTITY_LOT_V i,
      inv_item_hierarchy iih
  where
      i.LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      and i.ORGANIZATION_ID =#{organizationId, jdbcType=DECIMAL}
      and iih.PARENT_ITEM_ID = #{packageItemId,jdbcType=DECIMAL}
      and iih.ITEM_ID = i .ITEM_ID
  </select>
  <!-- 根据库存组织ID，以及对应的商品ID和批次号统计库存现有量@author Mclin -->
  <!-- <select id="queryTotalQuantity" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.StockTrx">
      select ORGANIZATION_ID, ITEM_ID, LOT_NUMBER, sum(QUANTITY) as QUANTITY
      from INV_ONHAND_QUANTITY
     where ORGANIZATION_ID = #{organizationId, jdbcType=DECIMAL}
     group by ORGANIZATION_ID, ITEM_ID, LOT_NUMBER
  </select> -->
  
 <select id="queryOnhandQuantity"  resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    select ioq.organization_id,
           <if test="subinventoryId != null">
               ioq.subinventory_id,
           </if>
           <if test="locationId != null">
               ioq.location_id,
           </if>
           ioq.item_id,
           <if test="lotNumber != null">
               ioq.lot_number,
           </if>
           ioq.uom_code,
           SUM(ioq.quantity) quantity
    from INV_ONHAND_QUANTITY ioq
     left join INV_ITEM_PROPERTY_V itpv
    on itpv.item_id = ioq.item_id
    and coalesce(cast(itpv.organization_id as number),ioq.organization_id) =  ioq.organization_id
    <where>
      ioq.ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL}
      and itpv.ITEM_ID = #{itemId,jdbcType=DECIMAL}
      <if test="subinventoryId != null">
        AND ioq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="lotNumber != null">
        AND ioq.LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      </if>
    </where>
    GROUP BY ioq.organization_id,
      <if test="subinventoryId != null">
          ioq.subinventory_id,
      </if>
      <if test="locationId != null">
          ioq.location_id,
      </if>
          ioq.item_id,
      <if test="lotNumber != null">
          ioq.lot_number,
      </if>
          ioq.uom_code
   order by min(ioq.init_transaction_id) asc
  </select>

 <select id="getAvailableQuantity"  resultType="java.math.BigDecimal" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    SELECT SUM(ioq.quantity) -
       
       coalesce((SELECT
                    <if test="lotNumber != null">
                       SUM(dodlt.outstanding_qty - coalesce(dodlt.return_qty,0))
                    </if>
                    <if test="lotNumber == null">
                       SUM(dodl.outstanding_qty)
                    </if>
                  FROM om_sales_line          osl,
                       dm_order_delivery      dod,
                       dm_order_delivery_line dodl
                       <if test="lotNumber != null">
                       ,dm_order_delivery_lot  dodlt
                       </if>
                 WHERE dod.delivery_id = dodl.delivery_id
                   <if test="lotNumber != null">
                   AND dodl.line_id = dodlt.delivery_line_id
                   </if>
                   AND dodl.order_line_id = osl.line_id
                   AND dod.inv_org_id = ioq.organization_id
                   AND osl.item_id = itpv.item_id
                   <if test="lotNumber != null">
                   AND coalesce(dodlt.lot_number, chr(10)) =
                       coalesce(ioq.lot_number, chr(10))
                   </if>
                   AND (dod.delivery_status = 'PDDL'
                        or dod.delivery_status = 'NEW'
                   )),0) quantity
  FROM inv_onhand_quantity ioq
     left join INV_ITEM_PROPERTY_V itpv
    on itpv.count_item_id = ioq.item_id
    and cast(itpv.organization_id as number) =  ioq.organization_id
  <where>
      ioq.ORGANIZATION_ID IN (SELECT spma.INV_ORG_ID
                                FROM SPM_SUPPLY spma
                              WHERE spma.SALES_ORG_ID = #{organizationId,jdbcType=DECIMAL})
      and itpv.ITEM_ID = #{itemId,jdbcType=DECIMAL}
      <if test="subinventoryId != null">
        AND ioq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="lotNumber != null">
        AND ioq.LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      </if>
    </where>
 GROUP BY ioq.organization_id
         ,itpv.item_id
         <if test="subinventoryId != null">
            ,ioq.subinventory_id
         </if>
         <if test="locationId != null">
            ,ioq.location_id
         </if>
         <if test="lotNumber != null">
         ,ioq.lot_number
         </if>
 </select>

  <select id="getAvailableQuantity2"  resultType="java.math.BigDecimal" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    SELECT SUM(ioq.quantity) -
    (COALESCE((SELECT
            <if test="lotNumber != null">
                SUM(dodlt.outstanding_qty - coalesce(dodlt.return_qty,0))
            </if>
            <if test="lotNumber == null">
                SUM(dodl.outstanding_qty)
            </if>
            FROM om_sales_line          osl,
                dm_order_delivery      dod,
                dm_order_delivery_line dodl
            <if test="lotNumber != null">
                ,dm_order_delivery_lot  dodlt
            </if>
                WHERE dod.delivery_id = dodl.delivery_id
            <if test="lotNumber != null">
                AND dodl.line_id = dodlt.delivery_line_id
            </if>
            AND dodl.order_line_id = osl.line_id
            AND dod.inv_org_id = ioq.organization_id
            AND osl.item_id = itpv.item_id
            <if test="lotNumber != null">
                AND coalesce(dodlt.lot_number, chr(10)) =
                coalesce(ioq.lot_number, chr(10))
            </if>
            AND dod.delivery_status IN ('NEW','PDDL')
            AND NOT exists(SELECT *
                              FROM OM_SALES_ORDER oso
                            WHERE
                              dod.ORDER_HEADER_ID = oso.HEADER_ID
                              AND oso.ORDER_STATUS IN ('REF'))),0)
    +
    COALESCE((SELECT SUM(osl.QUANTITY)
    FROM OM_SALES_ORDER oso, OM_SALES_LINE osl
    WHERE oso.header_id = osl.header_id
    AND osl.DEFAULT_INV_ORG_ID = ioq.organization_id
    AND OSL.ITEM_ID = itpv.item_id
    AND OSO.ORDER_STATUS IN ('CHECK','WPAY','COMP','REFUN','REFU')
    AND NOT EXISTS(SELECT *
    FROM om_sales_line osl, dm_order_delivery dod, dm_order_delivery_line dodl
    WHERE dod.delivery_id = dodl.delivery_id
    AND dodl.order_line_id = osl.line_id
    AND dod.inv_org_id = ioq.organization_id
    AND dod.ORDER_HEADER_ID = oso.HEADER_ID
    AND osl.item_id = itpv.item_id
    AND dod.delivery_status IN ('NEW','PCKUP','SHIPP','PDDL','CANCL'))),0)
    <!--+
    COALESCE((SELECT SUM(osl.QUANTITY)
    FROM OM_SALES_ORDER oso INNER JOIN OM_SALES_LINE osl
    ON OSO.HEADER_ID = OSL.HEADER_ID
    WHERE osl.DEFAULT_INV_ORG_ID = ioq.organization_id
    AND OSL.ITEM_ID = itpv.item_id
    AND OSO.ORDER_STATUS IN ('CHECK','WPAY')),0)-->) quantity
    FROM inv_onhand_quantity ioq
    left join INV_ITEM_PROPERTY_V itpv
    on itpv.count_item_id = ioq.item_id
    and cast(itpv.organization_id as number) =  ioq.organization_id
    <where>
      ioq.organization_id IN (SELECT IAS.ASSIGN_VALUE
                                FROM INV_ITEM_B IB
                                LEFT OUTER JOIN INV_ITEM_ASSIGN IAS ON IAS.ITEM_ID = IB.ITEM_ID
                                WHERE IB.ITEM_ID = itpv.ITEM_ID
      AND IAS.ASSIGN_TYPE = 'INV'
      AND IAS.ENABLED_FLAG = 'Y'
      AND IAS.ATTRIBUTE1 = 'Y')
      and itpv.ITEM_ID = #{itemId,jdbcType=DECIMAL}
      <if test="subinventoryId != null">
        AND ioq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="lotNumber != null">
        AND ioq.LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      </if>
    </where>
    GROUP BY ioq.organization_id
    ,itpv.item_id
    <if test="subinventoryId != null">
      ,ioq.subinventory_id
    </if>
    <if test="locationId != null">
      ,ioq.location_id
    </if>
    <if test="lotNumber != null">
      ,ioq.lot_number
    </if>
  </select>

  <select id="getAvailableQuantity3"  resultType="java.math.BigDecimal" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    SELECT SUM(ioq.quantity) -
    (COALESCE((SELECT
    <if test="lotNumber != null">
      SUM(dodlt.outstanding_qty - coalesce(dodlt.return_qty,0))
    </if>
    <if test="lotNumber == null">
      SUM(dodl.outstanding_qty)
    </if>
    FROM om_sales_line          osl,
    dm_order_delivery      dod,
    dm_order_delivery_line dodl
    <if test="lotNumber != null">
      ,dm_order_delivery_lot  dodlt
    </if>
    WHERE dod.delivery_id = dodl.delivery_id
    <if test="lotNumber != null">
      AND dodl.line_id = dodlt.delivery_line_id
    </if>
    AND dodl.order_line_id = osl.line_id
    AND dod.inv_org_id = ioq.organization_id
    AND osl.item_id = itpv.item_id
    <if test="lotNumber != null">
      AND coalesce(dodlt.lot_number, chr(10)) =
      coalesce(ioq.lot_number, chr(10))
    </if>
    AND dod.delivery_status IN ('NEW','PDDL')
    AND NOT exists(SELECT *
                    FROM OM_SALES_ORDER oso
                      WHERE
                    dod.ORDER_HEADER_ID = oso.HEADER_ID
                    AND oso.ORDER_STATUS IN ('REF'))),0)
    +
    COALESCE((SELECT SUM(osl.QUANTITY)
    FROM OM_SALES_ORDER oso, OM_SALES_LINE osl
    WHERE oso.header_id = osl.header_id
    AND osl.DEFAULT_INV_ORG_ID = ioq.organization_id
    AND OSL.ITEM_ID = itpv.item_id
    AND OSO.ORDER_STATUS IN ('WPAY','COMP','REFUN','REFU')
    AND NOT EXISTS(SELECT *
    FROM om_sales_line osl, dm_order_delivery dod, dm_order_delivery_line dodl
    WHERE dod.delivery_id = dodl.delivery_id
    AND dodl.order_line_id = osl.line_id
    AND dod.inv_org_id = ioq.organization_id
    AND dod.ORDER_HEADER_ID = oso.HEADER_ID
    AND osl.item_id = itpv.item_id
    AND dod.delivery_status IN ('NEW','PCKUP','SHIPP','PDDL','CANCL'))),0)
    ) quantity
    FROM inv_onhand_quantity ioq
    left join INV_ITEM_PROPERTY_V itpv
    on itpv.count_item_id = ioq.item_id
    and cast(itpv.organization_id as number) =  ioq.organization_id
    <where>
      ioq.organization_id IN (SELECT IAS.ASSIGN_VALUE
                                FROM INV_ITEM_B IB
                              LEFT OUTER JOIN INV_ITEM_ASSIGN IAS ON IAS.ITEM_ID = IB.ITEM_ID
                                WHERE IB.ITEM_ID = itpv.ITEM_ID
                                  AND IAS.ASSIGN_TYPE = 'INV'
                                  AND IAS.ENABLED_FLAG = 'Y'
                                  AND IAS.ATTRIBUTE1 = 'Y')
      and itpv.item_id = #{itemId,jdbcType=DECIMAL}
      <if test="subinventoryId != null">
        AND ioq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="lotNumber != null">
        AND ioq.LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      </if>
    </where>
    GROUP BY ioq.organization_id
    ,itpv.item_id
    <if test="subinventoryId != null">
      ,ioq.subinventory_id
    </if>
    <if test="locationId != null">
      ,ioq.location_id
    </if>
    <if test="lotNumber != null">
      ,ioq.lot_number
    </if>
  </select>


  <select id="getQuantity"  resultType="java.math.BigDecimal" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    SELECT SUM(ioq.quantity)
    FROM inv_onhand_quantity ioq
    left join INV_ITEM_PROPERTY_V itpv
    on itpv.count_item_id = ioq.item_id
    and cast(itpv.organization_id as number) =  ioq.organization_id
    <where>
      ioq.organization_id IN (SELECT spma.INV_ORG_ID
      FROM SPM_SUPPLY spma
      WHERE spma.SALES_ORG_ID = #{organizationId,jdbcType=DECIMAL})
      and itpv.ITEM_ID = #{itemId,jdbcType=DECIMAL}
      <if test="subinventoryId != null">
        AND ioq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="lotNumber != null">
        AND ioq.LOT_NUMBER = #{lotNumber,jdbcType=VARCHAR}
      </if>
    </where>
    GROUP BY ioq.organization_id
    ,itpv.item_id
    <if test="subinventoryId != null">
      ,ioq.subinventory_id
    </if>
    <if test="locationId != null">
      ,ioq.location_id
    </if>
    <if test="lotNumber != null">
      ,ioq.lot_number
    </if>
  </select>

  <select id="getPendingQuantity" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity">
    SELECT oso.ORDER_NUMBER lotNumber,osl.QUANTITY itemId
    FROM OM_SALES_ORDER oso, OM_SALES_LINE osl
    <where>
      OSO.HEADER_ID = OSL.HEADER_ID
      AND OSO.SALES_ORG_ID = #{organizationId,jdbcType=DECIMAL}
      AND OSL.ITEM_ID = #{itemId,jdbcType=DECIMAL}
      AND OSO.ORDER_STATUS = 'IEAP'
    </where>
  </select>
 
 <select id="getQuantityByItemAndLotNumber" resultType="java.math.BigDecimal" parameterType="java.util.Map">
     SELECT SUM(ioqq.quantity-ioqq.pending_qty)
	  FROM inv_onhand_quantity_qry_v ioqq
	 <where>
	 	ioqq.organization_id = #{organizationId,jdbcType=DECIMAL}
	 	AND ioqq.item_id = #{itemId,jdbcType=DECIMAL}
	 <if test="lotNumber != null">
        AND ioqq.lot_number = #{lotNumber,jdbcType=VARCHAR}
     </if>
	 </where>
  </select>

  <select id="queryOnhandQty"  resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    SELECT iit.organization_id,
           iit.item_id,
           iit.item_number,
           iit.item_name,
           iit.description item_desc,
           ioqq.subinventory_id,
           ioqq.location_id,
           ioqq.lot_number,
           ioqq.uom_code,
           ioqq.quantity,
           ioqq.pending_qty,
           (ioqq.quantity - ioqq.pending_qty) available_qty,
           ioqq.lot_expiry_date expiryDate,
           ioqq.currency_code,
           ioqq.unit_cost,
           (ioqq.unit_cost * ioqq.quantity) cost,
           (SELECT coalesce(iuot.name, iuo.name)
              FROM inv_unit_of_measure_b  iuo,
                   inv_unit_of_measure_tl iuot
             WHERE iuo.uom_code = iuot.uom_code
               AND iuo.uom_code = ioqq.uom_code
               AND iuot.lang = #{request.locale,jdbcType=VARCHAR}) uom_name
      FROM inv_onhand_quantity_qry_v ioqq,
           inv_item_tl_v             iit
     <where>
           ioqq.organization_id = iit.organization_id
       AND ioqq.item_id = iit.item_id
       AND iit.lang = #{request.locale,jdbcType=VARCHAR}      
      <!--  AND ioqq.organization_id = #{request.invOrgId,jdbcType=DECIMAL} -->
      <if test="organizationId != null">
        AND iit.ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL}
      </if>
      <if test="subinventoryId != null">
        AND ioqq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioqq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="itemId != null">
        AND iit.item_id = #{itemId,jdbcType=DECIMAL}
      </if>
      <if test="itemNumber != null">
        AND upper(iit.item_number) like concat('%',concat(upper(#{itemNumber,jdbcType=VARCHAR}),'%'))
      </if>
      <if test="expiryDateFrom != null">
        AND ioqq.lot_expiry_date >= #{expiryDateFrom,javaType=java.util.Date}
      </if>
      <if test="expiryDateTo != null">
        AND ioqq.lot_expiry_date <![CDATA[<]]>= #{expiryDateTo,javaType=java.util.Date}
      </if>
      <if test="lotNumber != null">
        AND upper(ioqq.LOT_NUMBER) like concat('%',concat(upper(#{lotNumber,jdbcType=VARCHAR}),'%'))
      </if>
     </where>
     ORDER BY iit.organization_id,
              iit.item_number,
              ioqq.lot_number,
              ioqq.quantity
  </select>


  <select id="queryOnhandQty2"  resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.InvOnhandQuantity" >
    SELECT iit.organization_id,
    iit.item_id,
    iit.item_number,
    iit.item_name,
    iit.description item_desc,
    ioqq.subinventory_id,
    ioqq.location_id,
    ioqq.lot_number,
    ioqq.uom_code,
    ioqq.quantity,
    ioqq.pending_qty,
    (ioqq.quantity - ioqq.pending_qty) available_qty,
    ioqq.lot_expiry_date expiryDate,
    ioqq.currency_code,
    ioqq.unit_cost,
    (ioqq.unit_cost * ioqq.quantity) cost,
    (SELECT coalesce(iuot.name, iuo.name)
    FROM inv_unit_of_measure_b  iuo,
    inv_unit_of_measure_tl iuot
    WHERE iuo.uom_code = iuot.uom_code
    AND iuo.uom_code = ioqq.uom_code
    AND iuot.lang = #{request.locale,jdbcType=VARCHAR}) uom_name
    FROM inv_onhand_quantity_qryb_v ioqq,
    inv_item_tl_v             iit
    <where>
      ioqq.organization_id = iit.organization_id
      AND ioqq.item_id = iit.item_id
      AND iit.lang = #{request.locale,jdbcType=VARCHAR}
      <!--  AND ioqq.organization_id = #{request.invOrgId,jdbcType=DECIMAL} -->
      <if test="organizationId != null">
        AND iit.ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL}
      </if>
      <if test="subinventoryId != null">
        AND ioqq.SUBINVENTORY_ID = #{subinventoryId,jdbcType=DECIMAL}
      </if>
      <if test="locationId != null">
        AND ioqq.LOCATION_ID = #{locationId,jdbcType=DECIMAL}
      </if>
      <if test="itemId != null">
        AND iit.item_id = #{itemId,jdbcType=DECIMAL}
      </if>
      <if test="itemNumber != null">
        AND upper(iit.item_number) like concat('%',concat(upper(#{itemNumber,jdbcType=VARCHAR}),'%'))
      </if>
      <if test="expiryDateFrom != null">
        AND ioqq.lot_expiry_date >= #{expiryDateFrom,javaType=java.util.Date}
      </if>
      <if test="expiryDateTo != null">
        AND ioqq.lot_expiry_date <![CDATA[<]]>= #{expiryDateTo,javaType=java.util.Date}
      </if>
      <if test="lotNumber != null">
        AND upper(ioqq.LOT_NUMBER) like concat('%',concat(upper(#{lotNumber,jdbcType=VARCHAR}),'%'))
      </if>
    </where>
    ORDER BY iit.organization_id,
    iit.item_number,
    ioqq.lot_number,
    ioqq.quantity
  </select>


  <select id="queryItemNumberLike" resultMap="BaseResultMap" parameterType="java.lang.String">
     select 
        item_number 
     from inv_item_b
     where 
        item_number like concat(lower(#{itemNumber,jdbcType=VARCHAR}),'%')
  </select>
  
  <select id="queryLotNumberLike" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
        lot_number
    from inv_lot
    where
        lot_number like concat(lower(#{lotNumber,jdbcType=VARCHAR}),'%')
         <if test="sortname != null">
            <bind name = '_colName' value='@com.lkkhpg.dsis.platform.util.CommonUtils@toColumnName(sortname)'/>
             ORDER BY ${_colName} ${sortorder}
        </if>
        
  </select>
  
  <!-- 根据库存组织ID，以及对应的商品ID和批次号统计商品的可用量@author Mclin -->
  <select id="queryTotalQuantity" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.StockTrx">
      select ioqq.ORGANIZATION_ID, ioqq.ITEM_ID, ioqq.LOT_NUMBER, (ioqq.QUANTITY - ioqq.PENDING_QTY) as available_qty
      from inv_onhand_quantity_qry_v ioqq
     where ORGANIZATION_ID = #{organizationId, jdbcType=DECIMAL}
  </select>
</mapper>