<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.inventory.mapper.RepackTrxMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
    <id column="TRX_ID" property="trxId" jdbcType="DECIMAL" />
    <result column="ORGANIZATION_ID" property="organizationId" jdbcType="DECIMAL" />
    <result column="TRX_NUMBER" property="trxNumber" jdbcType="VARCHAR" />
    <result column="PACKAGE_ITEM_ID" property="packageItemId" jdbcType="DECIMAL" />
    <result column="REPACK_QTY" property="repackQty" jdbcType="DECIMAL" />
    <result column="TRX_DATE" property="trxDate" jdbcType="TIMESTAMP" />
    <result column="OPER_TYPE" property="operType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    <!-- 商品包代码 -->
    <result column="ITEM_NUMBER" property="itemNumber" jdbcType="VARCHAR" />
    <!-- 商品包名稱 -->
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TRX_ID, ORGANIZATION_ID, TRX_NUMBER, PACKAGE_ITEM_ID, REPACK_QTY, TRX_DATE, OPER_TYPE, 
    STATUS, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, CREATION_DATE, CREATED_BY, 
    LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, 
    ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, 
    ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15,REMARK,ITEM_NAME,ITEM_NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
  select 
      t.TRX_ID,t.ORGANIZATION_ID,t.TRX_NUMBER,t.PACKAGE_ITEM_ID,t.REPACK_QTY,t.TRX_DATE,t.OPER_TYPE,
      t.STATUS,t.OBJECT_VERSION_NUMBER,t.REQUEST_ID,t.PROGRAM_ID,t.CREATION_DATE,t.CREATED_BY,t.LAST_UPDATED_BY,
      t.LAST_UPDATE_DATE,t.LAST_UPDATE_LOGIN,t.ATTRIBUTE_CATEGORY,t.ATTRIBUTE1,t.ATTRIBUTE2,t.ATTRIBUTE3,t.ATTRIBUTE4,
      t.ATTRIBUTE5,t.ATTRIBUTE6,t.ATTRIBUTE7,t.ATTRIBUTE8,t.ATTRIBUTE9,t.ATTRIBUTE10,t.ATTRIBUTE11,t.ATTRIBUTE12,
      t.ATTRIBUTE13,t.ATTRIBUTE14,t.ATTRIBUTE15,b.ITEM_NUMBER,t.REMARK,b.ITEM_NAME
      from INV_REPACK_TRX t,INV_ITEM_B b
	    where t.TRX_ID = #{trxId,jdbcType=DECIMAL}
	    AND b.ITEM_ID = t.PACKAGE_ITEM_ID
        AND  t.organization_id=#{request.invOrgId,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByTrxNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
  select 
      t.TRX_ID,t.ORGANIZATION_ID,t.TRX_NUMBER,t.PACKAGE_ITEM_ID,t.REPACK_QTY,t.TRX_DATE,t.OPER_TYPE,
      t.STATUS,t.OBJECT_VERSION_NUMBER,t.REQUEST_ID,t.PROGRAM_ID,t.CREATION_DATE,t.CREATED_BY,t.LAST_UPDATED_BY,
      t.LAST_UPDATE_DATE,t.LAST_UPDATE_LOGIN,t.ATTRIBUTE_CATEGORY,t.ATTRIBUTE1,t.ATTRIBUTE2,t.ATTRIBUTE3,t.ATTRIBUTE4,
      t.ATTRIBUTE5,t.ATTRIBUTE6,t.ATTRIBUTE7,t.ATTRIBUTE8,t.ATTRIBUTE9,t.ATTRIBUTE10,t.ATTRIBUTE11,t.ATTRIBUTE12,
      t.ATTRIBUTE13,t.ATTRIBUTE14,t.ATTRIBUTE15,b.ITEM_NUMBER,t.REMARK,b.ITEM_NAME
      from INV_REPACK_TRX t,INV_ITEM_B b
	    where t.TRX_NUMBER = #{trxNumber,jdbcType=VARCHAR}
	    AND b.ITEM_ID = t.PACKAGE_ITEM_ID  
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from INV_REPACK_TRX
    where TRX_ID = #{trxId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
    <selectKey resultType="java.lang.Long" keyProperty="trxId" order="BEFORE" >
      select INV_REPACK_TRX_NUMBER_S.nextval from dual
    </selectKey>
    insert into INV_REPACK_TRX (TRX_ID, ORGANIZATION_ID, TRX_NUMBER, 
      PACKAGE_ITEM_ID, REPACK_QTY, TRX_DATE, 
      OPER_TYPE, STATUS, OBJECT_VERSION_NUMBER, 
      REQUEST_ID, PROGRAM_ID, CREATION_DATE, 
      CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, 
      LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
      ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, 
      ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
      ATTRIBUTE14, ATTRIBUTE15,REMARK)
    values (#{trxId,jdbcType=DECIMAL}, #{organizationId,jdbcType=DECIMAL}, #{trxNumber,jdbcType=VARCHAR}, 
      #{packageItemId,jdbcType=DECIMAL}, #{repackQty,jdbcType=DECIMAL}, #{trxDate,jdbcType=TIMESTAMP}, 
      #{operType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 1, 
      #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL},CURRENT_TIMESTAMP, 
      -1, -1, CURRENT_TIMESTAMP, 
      #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, 
      #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, 
      #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, 
      #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
    <selectKey resultType="java.lang.Long" keyProperty="trxId" order="BEFORE" >
      select INV_REPACK_TRX_NUMBER_S.nextval from dual
    </selectKey>
    insert into INV_REPACK_TRX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      TRX_ID,
      <if test="organizationId != null" >
        ORGANIZATION_ID,
      </if>
      <if test="trxNumber != null" >
        TRX_NUMBER,
      </if>
      <if test="packageItemId != null" >
        PACKAGE_ITEM_ID,
      </if>
      <if test="repackQty != null" >
        REPACK_QTY,
      </if>
      <if test="trxDate != null" >
        TRX_DATE,
      </if>
      <if test="operType != null" >
        OPER_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if> 
      OBJECT_VERSION_NUMBER,
 
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if> 
       CREATION_DATE,

 
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if> 
       LAST_UPDATE_DATE,

 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{trxId,jdbcType=DECIMAL},
      <if test="organizationId != null" >
        #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="trxNumber != null" >
        #{trxNumber,jdbcType=VARCHAR},
      </if>
      <if test="packageItemId != null" >
        #{packageItemId,jdbcType=DECIMAL},
      </if>
      <if test="repackQty != null" >
        #{repackQty,jdbcType=DECIMAL},
      </if>
      <if test="trxDate != null" >
        #{trxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if> 
      1,
 
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
      <if test="creationDate != null" >
       CURRENT_TIMESTAMP,
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDate != null" >
        CURRENT_TIMESTAMP,
      </if>
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
    update INV_REPACK_TRX
    <set >
      <if test="organizationId != null" >
        ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="trxNumber != null" >
        TRX_NUMBER = #{trxNumber,jdbcType=VARCHAR},
      </if>
      <if test="packageItemId != null" >
        PACKAGE_ITEM_ID = #{packageItemId,jdbcType=DECIMAL},
      </if>
      <if test="repackQty != null" >
        REPACK_QTY = #{repackQty,jdbcType=DECIMAL},
      </if>
      <if test="trxDate != null" >
        TRX_DATE = #{trxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operType != null" >
        OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if> 
       OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
 
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>      
    </set>
    where TRX_ID = #{trxId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
    update INV_REPACK_TRX
    set ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      TRX_NUMBER = #{trxNumber,jdbcType=VARCHAR},
      PACKAGE_ITEM_ID = #{packageItemId,jdbcType=DECIMAL},
      REPACK_QTY = #{repackQty,jdbcType=DECIMAL},
      TRX_DATE = #{trxDate,jdbcType=TIMESTAMP},
      OPER_TYPE = #{operType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where TRX_ID = #{trxId,jdbcType=DECIMAL}
  </update>
  <!-- 查询分包记录 -->
  <select id="selectRepack" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
      select t.TRX_ID,t.ORGANIZATION_ID,t.TRX_NUMBER,t.PACKAGE_ITEM_ID,t.REPACK_QTY,t.TRX_DATE,t.OPER_TYPE,
      t.STATUS,t.OBJECT_VERSION_NUMBER,t.REQUEST_ID,t.PROGRAM_ID,t.CREATION_DATE,t.CREATED_BY,t.LAST_UPDATED_BY,
      t.LAST_UPDATE_DATE,t.LAST_UPDATE_LOGIN,t.ATTRIBUTE_CATEGORY,t.ATTRIBUTE1,t.ATTRIBUTE2,t.ATTRIBUTE3,t.ATTRIBUTE4,
      t.ATTRIBUTE5,t.ATTRIBUTE6,t.ATTRIBUTE7,t.ATTRIBUTE8,t.ATTRIBUTE9,t.ATTRIBUTE10,t.ATTRIBUTE11,t.ATTRIBUTE12,
      t.ATTRIBUTE13,t.ATTRIBUTE14,t.ATTRIBUTE15,b.ITEM_NUMBER,t.REMARK,b.ITEM_NAME
      from INV_REPACK_TRX t,INV_ITEM_B b
      <where>
          <if test="organizationId != null">
              AND t.organization_id=#{organizationId,jdbcType=DECIMAL}
          </if>
          <if test="trxNumber != null">
              AND Upper(t.trx_number) like concat('%',concat(Upper( #{trxNumber,jdbcType=VARCHAR}),'%'))
          </if>
          <if test="operType != null">
              AND t.oper_type = #{operType,jdbcType=VARCHAR}
          </if>
          <if test="itemNumber != null">
              AND Upper(b.ITEM_NUMBER ) like concat('%',concat(Upper( #{itemNumber,jdbcType=VARCHAR}),'%'))
          </if>
          <if test="status != null" >
              AND t.STATUS = #{status,jdbcType=VARCHAR}
          </if> 
          <if test="beforetrxDate != null">
               AND trunc(t.TRX_DATE) <![CDATA[ >= #{beforetrxDate,jdbcType=TIMESTAMP} ]]>
          </if>
          <if test="aftertrxDate != null">
               AND trunc(t.TRX_DATE) <![CDATA[ <= #{aftertrxDate,jdbcType=TIMESTAMP} ]]>
          </if>
          <if test="beforeCreationDate != null">
              AND trunc(t.CREATION_DATE) <![CDATA[ >= #{beforeCreationDate,jdbcType=TIMESTAMP}]]>
          </if>
          <if test="afterCreationDate != null">
              AND trunc(t.CREATION_DATE) <![CDATA[ <=  #{afterCreationDate,jdbcType=TIMESTAMP}]]>
          </if>
          <if test="trxId != null">
              AND t.TRX_ID = #{trxId,jdbcType=DECIMAL}
          </if>
              AND b.ITEM_ID = t.PACKAGE_ITEM_ID
<!--               AND  t.organization_id=#{request.invOrgId,jdbcType=DECIMAL} -->
      </where>
      <if test="sortname == null and sortorder == null">
        order by t.trx_number desc
       </if>
       <if test="sortname == 'trxNumber'">
        order by t.trx_number ${sortorder}
       </if>
       <if test="sortname == 'creationDate'">
        order by t.CREATION_DATE ${sortorder}
       </if>
       <if test="sortname == 'trxDate'">
        order by t.TRX_DATE ${sortorder}
       </if>
  </select>
  <!-- 删除 -->
   <delete id="deleteRepack" parameterType="java.lang.String" >
    delete from INV_REPACK_TRX 
    where trx_number = #{trxNumber,jdbcType=VARCHAR}
  </delete>
  <!-- 修改分包事务 -->
  <update id="updateByTrxNumber" parameterType="com.lkkhpg.dsis.common.inventory.dto.RepackTrx" >
    update INV_REPACK_TRX
    <set>
      <if test="organizationId != null" >
        ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="packageItemId != null" >
        PACKAGE_ITEM_ID = #{packageItemId,jdbcType=DECIMAL},
      </if>
      <if test="repackQty != null" >
        REPACK_QTY = #{repackQty,jdbcType=DECIMAL},
      </if>
      <if test="trxDate != null" >
        TRX_DATE = #{trxDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operType != null" >
        OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if> 
       OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
 
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>      
    </set>
    where TRX_NUMBER = #{trxNumber,jdbcType=VARCHAR}
  </update>
</mapper>