
﻿<html>
<head>
<title>Sample</title>
</head>

<body bgcolor="#FFFFFF" onload="document.RedirectForm.submit()">
	<form method="POST" action=${action} name="RedirectForm">
	<input type="hidden" name="aaaa" value="aaaa">
		<table width=540 bgcolor=#999999>
			<tr>
				<td><input type="hidden" name="merID" value=${model.merID}>merID:&nbsp;</td>
				<td>${model.merID}</td>
			</tr>
			<tr>
				<td><input type="hidden" name="URLEnc" value=${model.urlEnc}>URLEnc:&nbsp;</td>
				<td>${model.urlEnc}</td>
			</tr>
			<TR bgColor=#aedcff>
				<TD align=middle><INPUT type=submit value="Pay by credit card"
					border=0 name=imageField height="32"></TD>
			</TR>
			</tr>
		</table>
	</form>
	</center>
</body>
</html>
﻿
