<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.system.report.mapper.OmkRtlSalaryBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.system.report.dto.OmkRtlSalaryBalance" >
    <result column="DEALER_NO" property="dealerNo" jdbcType="VARCHAR" />
    <result column="DEALER_POST_CODE" property="dealerPostCode" jdbcType="DECIMAL" />
    <result column="SPONSOR_NO" property="sponsorNo" jdbcType="VARCHAR" />
    <result column="LEVEL_NO" property="levelNo" jdbcType="DECIMAL" />
    <result column="PS" property="ps" jdbcType="DECIMAL" />
    <result column="PR" property="pr" jdbcType="DECIMAL" />
    <result column="GP" property="gp" jdbcType="DECIMAL" />
    <result column="GPV" property="gpv" jdbcType="DECIMAL" />
    <result column="GPV_UPPER_FLAG" property="gpvUpperFlag" jdbcType="DECIMAL" />
    <result column="LAST_GV" property="lastGv" jdbcType="DECIMAL" />
    <result column="REF_PERIOD" property="refPeriod" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_TIME" property="lastUpdatedTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    
    <result column="ISLEAF" property="isleaf" jdbcType="DECIMAL" />
    <result column="LEVELQ" property="levelq" jdbcType="DECIMAL" />
    <result column="DEALERNO" property="dealerNo" jdbcType="VARCHAR" />
    <result column="SPONSORNO" property="sponsorNo" jdbcType="VARCHAR" />
    <result column="POSTCODE" property="dealerPostCode" jdbcType="DECIMAL" />
    <result column="DEALERNAME" property="dealername" jdbcType="VARCHAR" />
    <result column="TYPEEFFECTIVEDATE" property="typeeffectivedate" jdbcType="VARCHAR" />
    <result column="ISNEW" property="isnew" jdbcType="DECIMAL" />
    <result column="LASTGV" property="lastgv" jdbcType="DECIMAL" />
    
  </resultMap>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.system.report.dto.OmkRtlSalaryBalance" >
    insert into OMK_RTL_SALARY_BALANCE (DEALER_NO, DEALER_POST_CODE, SPONSOR_NO, 
      LEVEL_NO, PS, PR, GP, 
      GPV, GPV_UPPER_FLAG, LAST_GV, 
      REF_PERIOD, COMMENTS, LAST_UPDATED_TIME, 
      LAST_UPDATED_BY)
    values (#{dealerNo,jdbcType=VARCHAR}, #{dealerPostCode,jdbcType=DECIMAL}, #{sponsorNo,jdbcType=VARCHAR}, 
      #{levelNo,jdbcType=DECIMAL}, #{ps,jdbcType=DECIMAL}, #{pr,jdbcType=DECIMAL}, #{gp,jdbcType=DECIMAL}, 
      #{gpv,jdbcType=DECIMAL}, #{gpvUpperFlag,jdbcType=DECIMAL}, #{lastGv,jdbcType=DECIMAL}, 
      #{refPeriod,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{lastUpdatedTime,jdbcType=TIMESTAMP}, 
      #{lastUpdatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.system.report.dto.OmkRtlSalaryBalance" >
    insert into OMK_RTL_SALARY_BALANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dealerNo != null" >
        DEALER_NO,
      </if>
      <if test="dealerPostCode != null" >
        DEALER_POST_CODE,
      </if>
      <if test="sponsorNo != null" >
        SPONSOR_NO,
      </if>
      <if test="levelNo != null" >
        LEVEL_NO,
      </if>
      <if test="ps != null" >
        PS,
      </if>
      <if test="pr != null" >
        PR,
      </if>
      <if test="gp != null" >
        GP,
      </if>
      <if test="gpv != null" >
        GPV,
      </if>
      <if test="gpvUpperFlag != null" >
        GPV_UPPER_FLAG,
      </if>
      <if test="lastGv != null" >
        LAST_GV,
      </if>
      <if test="refPeriod != null" >
        REF_PERIOD,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
      <if test="lastUpdatedTime != null" >
        LAST_UPDATED_TIME,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dealerNo != null" >
        #{dealerNo,jdbcType=VARCHAR},
      </if>
      <if test="dealerPostCode != null" >
        #{dealerPostCode,jdbcType=DECIMAL},
      </if>
      <if test="sponsorNo != null" >
        #{sponsorNo,jdbcType=VARCHAR},
      </if>
      <if test="levelNo != null" >
        #{levelNo,jdbcType=DECIMAL},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=DECIMAL},
      </if>
      <if test="pr != null" >
        #{pr,jdbcType=DECIMAL},
      </if>
      <if test="gp != null" >
        #{gp,jdbcType=DECIMAL},
      </if>
      <if test="gpv != null" >
        #{gpv,jdbcType=DECIMAL},
      </if>
      <if test="gpvUpperFlag != null" >
        #{gpvUpperFlag,jdbcType=DECIMAL},
      </if>
      <if test="lastGv != null" >
        #{lastGv,jdbcType=DECIMAL},
      </if>
      <if test="refPeriod != null" >
        #{refPeriod,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null" >
        #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="queryRtlSalaryBalance" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.common.system.report.dto.OmkRtlSalaryBalance">
SELECT A.CONNECT_BY_ISLEAF AS ISLEAF,
       A.DL                AS LEVELQ,
       A.DEALER_NO         AS DEALERNO,
       A.SPONSOR_NO        AS SPONSORNO,
       A.DEALER_POST_CODE  AS POSTCODE,
       (CASE (select count(0) from mm_member_v mv where mv.member_code = B.DEALER_NO)
       WHEN 0 THEN 
       (CASE WHEN B.DEALER_NAME IS NOT NULL THEN 
       (CASE 
         WHEN B.SALE_ORG_CODE = 'HKG' THEN 
           NVL(B.DEALER_NAME || ' ' || B.ENGLISH_NAME, ' ')      
         WHEN B.SALE_ORG_CODE = 'CHN' AND B.DEALER_TYPE = '1' THEN 
           NVL(B.DEALER_NAME || '*', ' ')
         ELSE
           NVL(B.DEALER_NAME, ' ')
        END)
        ELSE
        (select c.dealer_name from omk.gds_dealer_ref_chn c where c.dealer_no = b.dealer_no)
       END)
       ELSE
       (select 
       NVL(MV.english_name || ' ' || MV.chinese_name,'') 
       from 
       mm_member_v mv 
       where mv.member_code = B.DEALER_NO) 
       END
       || 
       <![CDATA[
        CASE
          WHEN B.SALE_ORG_CODE = 'CHN' AND 'CHN' <> #{marketCode,jdbcType=VARCHAR} THEN 
           '(MK1)'
          WHEN B.SALE_ORG_CODE = 'HKG' AND 'HKG' <> #{marketCode,jdbcType=VARCHAR} THEN 
           '(MK2)'
          WHEN B.SALE_ORG_CODE = 'TPE' AND 'TPE' <> #{marketCode,jdbcType=VARCHAR} THEN
           '(MK3)'
          WHEN B.SALE_ORG_CODE = 'MAS' AND 'MAS' <> #{marketCode,jdbcType=VARCHAR} THEN 
           '(MK4)'
          WHEN B.SALE_ORG_CODE = 'SIN' AND 'SIN' <> #{marketCode,jdbcType=VARCHAR} THEN 
           '(MK5)'
          WHEN B.SALE_ORG_CODE = 'CAN' AND 'CAN' <> #{marketCode,jdbcType=VARCHAR} THEN 
           '(MK6)'
          ELSE
           ''
       ]]>
       END
       ) AS DEALERNAME,
       NVL(B.DEALER_APP_PERIOD, '') AS TYPEEFFECTIVEDATE,
       CASE
         WHEN A.REF_PERIOD = B.DEALER_APP_PERIOD THEN
           1
         ELSE
           0
       END AS ISNEW,
       A.PS AS PS,
       A.GPV AS GPV,
       A.LAST_GV AS LASTGV
FROM (SELECT CONNECT_BY_ISLEAF,
             LEVEL AS DL,
             A.DEALER_NO,
             A.SPONSOR_NO,
             A.DEALER_POST_CODE,
             A.REF_PERIOD,
             A.PS,
             A.GPV,
             A.LAST_GV,
             A.GP
        FROM omk.OMK_RTL_SALARY_BALANCE A
        <if test="memberNo != null">
            START WITH A.DEALER_NO = #{memberNo,jdbcType=VARCHAR}
        </if>
        <!-- START WITH A.DEALER_NO = 151699575 -->
        CONNECT BY NOCYCLE PRIOR A.DEALER_NO = SPONSOR_NO
            <!-- AND CASE
                   WHEN PRIOR A.DEALER_NO = ? THEN       
                    -1
                   ELSE
                    PRIOR A.DEALER_POST_CODE
                 END < ?                               
            AND CASE 
                   WHEN PRIOR A.DEALER_NO = ? THEN      
                    -1
                   ELSE
                    PRIOR A.DEALER_POST_CODE
                 END < ?                            -->       
            <if test="level != null">
            <![CDATA[
            AND LEVEL  <= #{level,jdbcType=DECIMAL}
            ]]>
            </if>
                                        
       ORDER SIBLINGS BY A.DEALER_POST_CODE DESC) A, omk.OMK_DEALER_INFO B
WHERE A.DEALER_NO = B.DEALER_NO
        <if test="sponsorNo != null">
            and A.SPONSOR_NO = #{sponsorNo,jdbcType=VARCHAR}
        </if>
  </select>
  
  
</mapper>