<#-- 
 * description: 税管理年度查询. 
 * version: 1.0 
 * author: lin.gu@hand-china.com 
 * CopyrightLKK Health Products Group Limited. 
 * 
--> 
<#include "../include/head.html">
<script
	src="${base.contextPath}/common/code?releaseType=BM.REALEASE_STATUS&&bonusType=BM.RE_BONUS_TYPE"
	type="text/javascript"></script>
	<script type="text/javascript" src="${base.contextPath}/sys/org/current"></script>
<body style="padding: 10px;">
	<form id="tax_year_form"></form>
	<div id="tax_year_grid"></div>
	
	<script type="text/javascript">
		var yearList = [];
		var marketId = _marketId;
	    //原值保存
	    var oldValue = null;
		
		$(function(){
			initPeriodList();
			intiForm();
			/* liger.get("tax_year_formmarketId").setValue(_marketId);
	        liger.get("tax_year_formmarketId").setText(_marketName); */
			initGrid(initColums());
		});
		
		function initPeriodList() {
			var date = new Date();
			var year = date.getFullYear();
			for (var i = year ; i > year - 5; i--) {
				yearList.push({"value" : i , "meaning" : i});
			}
		}
		
		function intiForm(){
			window['tax_year_form'] = $("#tax_year_form").ligerForm({
				prefixID:'tax_year_form',
				fields : [ {
					display : '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.memberdetails.belongmarket"/>',
			    	name : "marketId",
			    	newline : false,
			    	type : "combobox",
			    	options : {
			        	value : marketId,
		                valueField : 'marketId',
		                textField : 'name',
		                url : '${base.contextPath}/spm/market/queryMarketsByRole',
		                isShowCheckBox: false,
		                isMultiSelect: false,
		                cancelable : false,
		                onSuccess : function(){
		                	this.setValue(marketId);
		                },
		                onBeforeSelect : function(){ //该事件用于将初次加载标志置false,记录原值以及将重复标记置为true
		                	oldValue = $.ligerui.get('tax_year_formmarketId').getValue();
		                },
		                onSelected :function (value,text){
		                	if (!value) {
		                		return false;
		                	}
		                	if (marketId != value) {
		                		marketId = value;
		                		Hap.gridQuery({
				                     form : tax_year_form,
				                     grid : tax_year_grid
				                })
		                		/* $.ligerDialog.confirm( '<@spring.message "dsis.lkkhpg.tip.refresh_page"/>', $l('sys.hand.tip.info'),function(yes) {
		                            if(yes){
		                                var newMarketId = $.ligerui.get('marketId').getValue();
		                                var tabid = window.top.tab.selectedTabId;
		              			    	var tabname = $(window.top.tab.tab).find('.l-selected').find('a').text();
		                                window.top.f_removeTab(tabid);
		                                parent.f_addTab(tabid,tabname,"${base.contextPath}/bm/bm_final_bonus.html?marketId="+newMarketId);
		                            }else { //选择否则重置为原值,并重置标记置false防止重复调用该方法
		                                $.ligerui.get('marketId').setValue(oldValue);
		                            }
		                        }); */
		                	}
		                }
		            },
		            validate : {
		                required : true
		            }
			    },
				{
		            display : '<@spring.message "type.com.lkkhpg.dsis.common.bonus.dto.bonusretransfer.memberid"/>',
		            name : "memberCode",
		            newline: true,
		            type : "popup",
		            textField:'memberCode',
		            options: $.extend(${lovService.getLov(base.contextPath,base.locale, "lov_member")},{
		             	onLoadData: function(){
		                this.setParm('marketId', marketId)
		            } ,
		              	onChangeValue: function(){
		                this.setParm('marketId', marketId)
		            }  
		        	},{parms:{"marketId" : marketId}})
		        },
		        {
		            display : '<@spring.message "type.com.lkkhpg.dsis.common.member.dto.member.year"/>',
		            name : "periodYear",
		            newline: false,
		            type : "select",
		            options : {
		                valueField : 'value',
		                textField : 'meaning',
		                data : yearList
		            }
		        },
		        {
		            display : '<@spring.message "type.com.lkkhpg.dsis.common.bonus.dto.release.min_amt"/>',
		            name : "minBonusAmt",
		            newline: false,
		            type: "number"
		        }],
		        buttons : [ {
		        	text : '<@spring.message "sys.hand.btn.query"/>',
		            width : 60,
		            click : function() {
		                 Hap.gridQuery({
		                     form : tax_year_form,
		                     grid : tax_year_grid
		                 })
		            }
		        }]
			});
		}
		
		function initColums(){
			var columns =[
				{
					display:'<@spring.message "type.com.lkkhpg.dsis.common.member.dto.member.year"/>',
		            name:"periodYear",
		            width : 150,
				},
				{
					display:'<@spring.message "type.com.lkkhpg.dsis.common.bonus.dto.bonusadjust.market"/>',
		            name:"marketName",
		            width : 150,
				},
				{
					display:'<@spring.message "type.com.lkkhpg.dsis.common.bonus.dto.bonusretransfer.memberid"/>',
		            name:"memberCode",
		            width : 180,
				},
				{
		            display : '<@spring.message "type.com.lkkhpg.dsis.common.bonus.dto.bonusretransfer.membername"/>',
		            name : 'memberName',
		            width : 180,
		        },
		        {
		        	display : '<@spring.message "type.com.lkkhpg.dsis.common.bonus.amount"/>',
		        	name : 'preTaxAmt',
		        	width : 150
		        }
			];
			return columns;
		}
		
		function initGrid(columns){
			window['tax_year_grid'] = $("#tax_year_grid").ligerGrid({
				columns : columns,
				url:"${base.contextPath}/bm/tax/query/year",
	            enabledEdit :false,
	            resizable: false,  
	            delayLoad :true,
	            width : '99%',
	            height : '98%',
	            pageSize :20,
	            toolbar:{
	            	items : [
	            		{
	            			text : '<@spring.message "type.com.lkkhpg.dsis.common.bonus.report_download"/>',
                       	 	icon: 'save'
	            		}
	            	]
	            }
			});
		}
	</script>
</body>
</html>