<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.order.mapper.PaymentRefundMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
    <id column="REFUND_ID" property="refundId" jdbcType="DECIMAL" />
    <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
    <result column="SOURCE_ID" property="sourceId" jdbcType="DECIMAL" />
    <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL" />
    <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="PAYMENT_METHOD_INFO" property="paymentMethodInfo" jdbcType="VARCHAR" />
    <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="TRANSACTION_NUMBER" property="transactionNumber" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="CREDIT_CARD_TYPE" property="creditCardType" jdbcType="VARCHAR" />
    <result column="TAIL_NUMBER" property="tailNumber" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    REFUND_ID, SOURCE_TYPE, SOURCE_ID, SALES_ORG_ID, PAYMENT_METHOD, PAYMENT_METHOD_INFO, 
    PAYMENT_AMOUNT, TRANSACTION_NUMBER, BANK_CODE, CREDIT_CARD_TYPE, TAIL_NUMBER, REMARK,
    OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, 
    LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, 
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
    ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OM_PAYMENT_REFUND
    where REFUND_ID = #{refundId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OM_PAYMENT_REFUND
    where REFUND_ID = #{refundId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
    <selectKey keyProperty="refundId" order="BEFORE" resultType="java.lang.Long">
      select OM_PAYMENT_REFUND_S.nextval from dual
    </selectKey>
    insert into OM_PAYMENT_REFUND (REFUND_ID, SOURCE_TYPE, SOURCE_ID, 
      SALES_ORG_ID, PAYMENT_METHOD, PAYMENT_METHOD_INFO, 
      PAYMENT_AMOUNT, TRANSACTION_NUMBER, BANK_CODE, 
      CREDIT_CARD_TYPE, TAIL_NUMBER, REMARK,
      OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
      CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, 
      ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
      )
    values (#{refundId,jdbcType=DECIMAL}, #{sourceType,jdbcType=VARCHAR}, #{sourceId,jdbcType=DECIMAL}, 
      #{salesOrgId,jdbcType=DECIMAL}, #{paymentMethod,jdbcType=VARCHAR}, #{paymentMethodInfo,jdbcType=VARCHAR}, 
      #{paymentAmount,jdbcType=DECIMAL}, #{transactionNumber,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{creditCardType,jdbcType=VARCHAR}, #{tailNumber,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      1, #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, 
      CURRENT_TIMESTAMP, #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, 
      CURRENT_TIMESTAMP, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, 
      #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR} 
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
    <selectKey keyProperty="refundId" order="BEFORE" resultType="java.lang.Long">
      select OM_PAYMENT_REFUND_S.nextval from dual
    </selectKey>
    insert into OM_PAYMENT_REFUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
        REFUND_ID,
      <if test="sourceType != null" >
        SOURCE_TYPE,
      </if>
      <if test="sourceId != null" >
        SOURCE_ID,
      </if>
      <if test="salesOrgId != null" >
        SALES_ORG_ID,
      </if>
      <if test="paymentMethod != null" >
        PAYMENT_METHOD,
      </if>
      <if test="paymentMethodInfo != null" >
        PAYMENT_METHOD_INFO,
      </if>
      <if test="paymentAmount != null" >
        PAYMENT_AMOUNT,
      </if>
      <if test="transactionNumber != null" >
        TRANSACTION_NUMBER,
      </if>
      <if test="bankCode != null" >
        BANK_CODE,
      </if>
      <if test="creditCardType != null" >
        CREDIT_CARD_TYPE,
      </if>
      <if test="tailNumber != null" >
        TAIL_NUMBER,
      </if>
      <if test="remark != null" >
        REMARK,
      </if> 
      OBJECT_VERSION_NUMBER,
 
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if> 
       CREATION_DATE,

 
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if> 
       LAST_UPDATE_DATE,

 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{refundId,jdbcType=DECIMAL},
      <if test="sourceType != null" >
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=DECIMAL},
      </if>
      <if test="salesOrgId != null" >
        #{salesOrgId,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethodInfo != null" >
        #{paymentMethodInfo,jdbcType=VARCHAR},
      </if>
      <if test="paymentAmount != null" >
        #{paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="transactionNumber != null" >
        #{transactionNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="creditCardType != null" >
        #{creditCardType,jdbcType=VARCHAR},
      </if>
      <if test="tailNumber != null" >
        #{tailNumber,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if> 
      1,
 
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
    update OM_PAYMENT_REFUND
    <set >
      <if test="sourceType != null" >
        SOURCE_TYPE = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        SOURCE_ID = #{sourceId,jdbcType=DECIMAL},
      </if>
      <if test="salesOrgId != null" >
        SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL},
      </if>
      <if test="paymentMethod != null" >
        PAYMENT_METHOD = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethodInfo != null" >
        PAYMENT_METHOD_INFO = #{paymentMethodInfo,jdbcType=VARCHAR},
      </if>
      <if test="paymentAmount != null" >
        PAYMENT_AMOUNT = #{paymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="transactionNumber != null" >
        TRANSACTION_NUMBER = #{transactionNumber,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="creditCardType != null" >
        CREDIT_CARD_TYPE = #{creditCardType,jdbcType=VARCHAR},
      </if>
      <if test="tailNumber != null" >
        TAIL_NUMBER = #{tailNumber,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if> 
       OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
 
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
        CREATION_DATE = CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
 
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
    </set>
    where REFUND_ID = #{refundId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
    update OM_PAYMENT_REFUND
    set SOURCE_TYPE = #{sourceType,jdbcType=VARCHAR},
      SOURCE_ID = #{sourceId,jdbcType=DECIMAL},
      SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL},
      PAYMENT_METHOD = #{paymentMethod,jdbcType=VARCHAR},
      PAYMENT_METHOD_INFO = #{paymentMethodInfo,jdbcType=VARCHAR},
      PAYMENT_AMOUNT = #{paymentAmount,jdbcType=DECIMAL},
      TRANSACTION_NUMBER = #{transactionNumber,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      CREDIT_CARD_TYPE = #{creditCardType,jdbcType=VARCHAR},
      TAIL_NUMBER = #{tailNumber,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = CURRENT_TIMESTAMP,
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where REFUND_ID = #{refundId,jdbcType=DECIMAL}
  </update>
  
  <resultMap id="PaymentMap" type="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
  	<result column="PAYMENT_ID" property="paymentId" jdbcType="DECIMAL" />
    <result column="ORDER_HEADER_ID" property="orderHeaderId" jdbcType="DECIMAL"  />
    <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL" />
    <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="PAYMENT_METHOD_INFO" property="paymentMethodInfo" jdbcType="VARCHAR" />
    <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="TRANSACTION_NUMBER" property="transactionNumber" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="CREDIT_CARD_TYPE" property="creditCardType" jdbcType="VARCHAR" />
    <result column="TAIL_NUMBER" property="tailNumber" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="VOUCHER_ID" property="voucherId" jdbcType="DECIMAL"  />
    <result column="DISCOUNT_VALUE" property="discountValue" jdbcType="DECIMAL"  />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryPaymentByHeadId" parameterType="java.lang.Long" resultMap="PaymentMap">
    SELECT
    oop.PAYMENT_ID,
    oop.ORDER_HEADER_ID,
    oop.SALES_ORG_ID,
    oop.PAYMENT_METHOD,
    oop.PAYMENT_METHOD_INFO,
    oop.PAYMENT_AMOUNT,
    oop.TRANSACTION_NUMBER,
    oop.BANK_CODE,
    oop.CREDIT_CARD_TYPE,
    oop.TAIL_NUMBER,
    oop.REMARK,
    oop.VOUCHER_ID,
    oop.ATTRIBUTE1,
    oop.ATTRIBUTE2,
    oop.ATTRIBUTE3,
    pv.DISCOUNT_VALUE,
    pv.NAME
    FROM
    OM_ORDER_PAYMENT oop
    LEFT OUTER JOIN PDM_VOUCHER pv on oop.VOUCHER_ID = pv.VOUCHER_ID
    where ORDER_HEADER_ID = #{headerId,jdbcType=DECIMAL}
  </select>
  
  <resultMap id="RefundMap" type="com.lkkhpg.dsis.common.order.dto.PaymentRefund" >
    <result column="SOURCE_ID" property="orderHeaderId" jdbcType="DECIMAL"  />
    <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL" />
    <result column="PAYMENT_METHOD" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="PAYMENT_METHOD_INFO" property="paymentMethodInfo" jdbcType="VARCHAR" />
    <result column="PAYMENT_AMOUNT" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="TRANSACTION_NUMBER" property="transactionNumber" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="CREDIT_CARD_TYPE" property="creditCardType" jdbcType="VARCHAR" />
    <result column="TAIL_NUMBER" property="tailNumber" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryRefundByHeadId" parameterType="java.lang.Long" resultMap="RefundMap">
    select 
    SOURCE_ID,SALES_ORG_ID,PAYMENT_METHOD,PAYMENT_METHOD_INFO,PAYMENT_AMOUNT,TRANSACTION_NUMBER,BANK_CODE,CREDIT_CARD_TYPE,TAIL_NUMBER,REMARK
    from OM_PAYMENT_REFUND
    where SOURCE_ID = #{headerId,jdbcType=DECIMAL} and SOURCE_TYPE = 'ORDER'
  </select>
</mapper>