<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.common.order.mapper.SalesRtnLineMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.common.order.dto.SalesRtnLine" >
    <id column="RETURN_LINE_ID" property="returnLineId" jdbcType="DECIMAL" />
    <result column="RETURN_ID" property="returnId" jdbcType="DECIMAL" />
    <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL" />
    <result column="ORDER_LINE_ID" property="orderLineId" jdbcType="DECIMAL" />
    <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="COUNT_ITEM_ID" property="countItemId" jdbcType="DECIMAL" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="RETURN_PROMOTION" property="returnPromotion" jdbcType="DECIMAL" />
    <result column="RETURN_INV_FLAG" property="returnInvFlag" jdbcType="VARCHAR" />
    <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL" />
    <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR" />
    <result column="CONVERSION_RATE" property="conversionRate" jdbcType="DECIMAL" />
    
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="ITEM_NUMBER" property="itemNumber" jdbcType="VARCHAR" />
    <result column="ITEM_TYPE" property="itemType" jdbcType="VARCHAR" />
    <result column="COUNT_ITEM_NUMBER" property="countItemNumber" jdbcType="VARCHAR" />
    <result column="COUNT_ITEM_NAME" property="countItemName" jdbcType="VARCHAR" />
    <result column="UOM_NAME" property="uomName" jdbcType="VARCHAR" />
    <result column="ORDER_QUANTITY" property="orderQuantity" jdbcType="DECIMAL" />
    <result column="COUNT_STOCK_FLAG" property="countStockFlag" jdbcType="VARCHAR" />
    <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL" />
    <result column="UNIT_REDEEM_POINT" property="unitRedeemPoint" jdbcType="DECIMAL" />
    <result column="UNIT_DISCOUNT_PRICE" property="unitDiscountPrice" jdbcType="DECIMAL" />
    <result column="LOT_CTRL_FLAG" property="lotCtrlFlag" jdbcType="VARCHAR" />
    <result column="OUTSTANDING_QTY" property="outstandingQty" jdbcType="DECIMAL" />
    <result column="DISCOUNT_TYPE" property="discountType" jdbcType="VARCHAR" />
    <result column="DISCOUNT_VALUE" property="discountValue" jdbcType="DECIMAL" />
    <result column="ADJUSTMENT_AMOUNT" property="adjustmentAmount" jdbcType="DECIMAL" />
    <result column="ENABLED_RTN_QUANTITY" property="enabledRtnQuantity" jdbcType="DECIMAL" />
    <result column="PARENT_LINE_ID" property="parentLineId" jdbcType="DECIMAL" />
    <result column="COUNT_TYPE" property="countType" jdbcType="DECIMAL" />
    <!-- 商品是否计税标识 -->
    <result column="DISABLE_TAX_FLAG" property="disableTaxFlag" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 库存计算方式和批次控制标识 -->
  <resultMap type="java.util.Map" id="InvAndLotMap">
  	<result column="COUNT_STOCK_FLAG" property="countStockFlag" jdbcType="VARCHAR" />
  	<result column="LOT_CONTROL_FLAG" property="lotControlFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    RETURN_LINE_ID, RETURN_ID, SALES_ORG_ID, ORDER_LINE_ID, ITEM_ID, COUNT_ITEM_ID, QUANTITY, 
    RETURN_PROMOTION, RETURN_INV_FLAG, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
    CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, 
    ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
    ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
    ATTRIBUTE14, ATTRIBUTE15, CONVERSION_RATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OM_SALES_RTN_LINE
    where RETURN_LINE_ID = #{returnLineId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OM_SALES_RTN_LINE
    where RETURN_LINE_ID = #{returnLineId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.common.order.dto.SalesRtnLine" >
    <selectKey resultType="java.lang.Long" keyProperty="returnLineId" order="BEFORE" >
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into OM_SALES_RTN_LINE (RETURN_LINE_ID, RETURN_ID, SALES_ORG_ID, 
      ORDER_LINE_ID, ITEM_ID, COUNT_ITEM_ID, 
      QUANTITY, RETURN_PROMOTION, RETURN_INV_FLAG, 
      OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID, 
      CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, 
      ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15, CONVERSION_RATE
      )
    values (#{returnLineId,jdbcType=DECIMAL}, #{returnId,jdbcType=DECIMAL}, #{salesOrgId,jdbcType=DECIMAL}, 
      #{orderLineId,jdbcType=DECIMAL}, #{itemId,jdbcType=DECIMAL}, #{countItemId,jdbcType=DECIMAL}, 
      #{quantity,jdbcType=DECIMAL}, #{returnPromotion,jdbcType=DECIMAL}, #{returnInvFlag,jdbcType=VARCHAR}, 
      1, #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, 
      CURRENT_TIMESTAMP, #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, 
      CURRENT_TIMESTAMP, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, 
      #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR},
      #{conversionRate,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.common.order.dto.SalesRtnLine" >
    <selectKey resultType="java.lang.Long" keyProperty="returnLineId" order="BEFORE" >
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into OM_SALES_RTN_LINE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      RETURN_LINE_ID,
      <if test="returnId != null" >
        RETURN_ID,
      </if>
      <if test="salesOrgId != null" >
        SALES_ORG_ID,
      </if>
      <if test="orderLineId != null" >
        ORDER_LINE_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="countItemId != null" >
        COUNT_ITEM_ID,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="returnPromotion != null" >
        RETURN_PROMOTION,
      </if>
      <if test="returnInvFlag != null" >
        RETURN_INV_FLAG,
      </if>
        OBJECT_VERSION_NUMBER,
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
        CREATION_DATE,
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
        LAST_UPDATE_DATE,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
      <if test="conversionRate != null">
      	CONVERSION_RATE
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{returnLineId,jdbcType=DECIMAL},
      <if test="returnId != null" >
        #{returnId,jdbcType=DECIMAL},
      </if>
      <if test="salesOrgId != null" >
        #{salesOrgId,jdbcType=DECIMAL},
      </if>
      <if test="orderLineId != null" >
        #{orderLineId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="countItemId != null" >
        #{countItemId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="returnPromotion != null" >
        #{returnPromotion,jdbcType=DECIMAL},
      </if>
      <if test="returnInvFlag != null" >
        #{returnInvFlag,jdbcType=VARCHAR},
      </if>
        1,
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="conversionRate != null">
      	#{conversionRate,jdbcType=DECIMAL}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.common.order.dto.SalesRtnLine" >
    update OM_SALES_RTN_LINE
    <set >
      <if test="returnId != null" >
        RETURN_ID = #{returnId,jdbcType=DECIMAL},
      </if>
      <if test="salesOrgId != null" >
        SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL},
      </if>
      <if test="orderLineId != null" >
        ORDER_LINE_ID = #{orderLineId,jdbcType=DECIMAL},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="countItemId != null" >
        COUNT_ITEM_ID = #{countItemId,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="returnPromotion != null" >
        RETURN_PROMOTION = #{returnPromotion,jdbcType=DECIMAL},
      </if>
      <if test="returnInvFlag != null" >
        RETURN_INV_FLAG = #{returnInvFlag,jdbcType=VARCHAR},
      </if>
        OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER +1,
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
        CREATION_DATE = CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
      <if test="conversionRate != null">
      	CONVERSION_RATE = #{conversionRate,jdbcType=DECIMAL}
      </if>
    </set>
    where RETURN_LINE_ID = #{returnLineId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.common.order.dto.SalesRtnLine" >
    update OM_SALES_RTN_LINE
    set RETURN_ID = #{returnId,jdbcType=DECIMAL},
      SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL},
      ORDER_LINE_ID = #{orderLineId,jdbcType=DECIMAL},
      ITEM_ID = #{itemId,jdbcType=DECIMAL},
      COUNT_ITEM_ID = #{countItemId,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      RETURN_PROMOTION = #{returnPromotion,jdbcType=DECIMAL},
      RETURN_INV_FLAG = #{returnInvFlag,jdbcType=VARCHAR},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = CURRENT_TIMESTAMP,
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      CONVERSION_RATE = #{conversionRate,jdbcType=DECIMAL}
    where RETURN_LINE_ID = #{returnLineId,jdbcType=DECIMAL}
  </update>
  <!-- 根据销售订单行ID查询已退货数量 (特殊)-->
  <select id="selectSumQtyByOrderLineId" resultType="java.math.BigDecimal">
  	select SUM(rl.QUANTITY)
  	from OM_SALES_RTN_LINE rl
  	where rl.ORDER_LINE_ID = #{orderLineId, jdbcType=DECIMAL}
  	     and rl.RETURN_ID in (select sr.RETURN_ID 
  	     					  from OM_SALES_RETURN sr
  	     					  <where>
  	     					  	1=1
					       		<if test="returnStatus == 'NEW' and returnId != null">
						       		AND sr.RETURN_ID != #{returnId,jdbcType=DECIMAL}
					       		</if>
  	     					  </where>
  	     					  )
  	     GROUP BY( rl.ORDER_LINE_ID)
  </select>
  
  <!-- 根据销售订单行ID查询返还优惠总和 -->
  <select id="selectSumPtnByOrderLineId" resultType="java.math.BigDecimal">
  	select SUM(rl.RETURN_PROMOTION)
  	from OM_SALES_RTN_LINE rl
  	where rl.ORDER_LINE_ID = #{orderLineId, jdbcType=DECIMAL}
  	  GROUP BY( rl.ORDER_LINE_ID)
  </select>
  
  <!-- 查询商品在库存组织中的计算库存和批次控制标识 -->
  <select id="selectByItemAndOrgId" resultMap="InvAndLotMap">
  	select v.COUNT_STOCK_FLAG, v.LOT_CONTROL_FLAG 
  	from inv_item_property_v v 
  	where v.item_id = #{itemId, jdbcType=DECIMAL} and v.ORGANIZATION_ID = #{orgId, jdbcType=DECIMAL}
  </select>
  
  <!-- 根据退货单头Id删除对应行信息 -->
  <delete id="deleteByReturnId">
  	delete from OM_SALES_RTN_LINE
  	where RETURN_ID = #{returnId, jdbcType=DECIMAL}
  </delete>
  
  <!-- 查询退货单行信息 -->
  <select id="selectDetailByReturnId" resultMap="BaseResultMap">
  	SELECT 
  		osrl.RETURN_LINE_ID, 
  		osrl.RETURN_ID, 
  		osrl.SALES_ORG_ID, 
  		osrl.ORDER_LINE_ID, 
  		osrl.ITEM_ID, 
  		osrl.COUNT_ITEM_ID, 
  		osrl.QUANTITY, 
    	osrl.RETURN_PROMOTION, 
    	osrl.RETURN_INV_FLAG,
    	osrl.CONVERSION_RATE,
  		salesline.ITEM_NUMBER, 
  		salesline.ITEM_NAME, 
  		salesline.ITEM_TYPE, 
  		salesline.COUNT_STOCK_FLAG, 
  		salesline.COUNT_ITEM_NUMBER, 
  		salesline.COUNT_ITEM_NAME, 
  		salesline.UNIT_REDEEM_POINT,
  		salesline.UNIT_SELLING_PRICE, 
  		salesline.UNIT_DISCOUNT_PRICE, 
  		salesline.UOM_NAME, 
  		salesline.LOT_CTRL_FLAG, 
  		salesline.ORDER_QUANTITY, 
  		salesline.OUTSTANDING_QTY, 
  		salesline.DISCOUNT_TYPE, 
  		salesline.DISCOUNT_VALUE, 
  		salesline.ADJUSTMENT_AMOUNT, 
  		salesline.PV, 
  		osrl.QUANTITY, 
  		(salesline.OUTSTANDING_QTY-salesline.return_qty) ENABLED_RTN_QUANTITY, 
  		salesline.PARENT_LINE_ID, 
  		salesline.COUNT_TYPE,
  		salesline.DISABLE_TAX_FLAG
  	FROM OM_SALES_RTN_LINE osrl
  		LEFT OUTER JOIN (
  					SELECT 
  						  osl.line_id
                         ,osl.item_id
                         ,itemuom.item_number
                         ,itemuom.name                 uom_name
                         ,itemuom.item_type
                         ,itl.item_name
                         ,countitem.item_id            count_item_id
                         ,countitem.item_number        count_item_number
                         ,countitem.item_name          count_item_name
                         ,countitem.count_stock_flag   count_stock_flag
                         ,countitem.lot_control_flag   lot_ctrl_flag
                         ,countitem.count_type 		   count_type
                         ,osl.unit_selling_price	   unit_selling_price
                         ,osl.unit_discount_price      unit_discount_price
                         ,osl.unit_redeem_point		   unit_redeem_point
                         ,osl.quantity  			   order_quantity
                         ,coalesce(deliveryline.outstanding_qty,0) outstanding_qty
                         ,coalesce(returnline.return_qty,0)        return_qty
                         ,pv.discount_type             discount_type
                         ,pv.discount_value            discount_value
                         ,osa.adjustment_amount        adjustment_amount
                         ,osl.pv					   pv
                         ,osl.parent_line_id           parent_Line_Id
                         ,osl.ATTRIBUTE1			   disable_tax_flag
                     FROM om_sales_line osl
                     	LEFT OUTER JOIN om_sales_adjustment osa
                       		ON (osa.header_id = osl.header_id AND osa.adjustment_type = 'CP')
                     	LEFT OUTER JOIN pdm_voucher pv
                       		ON (pv.voucher_id = osl.voucher_id)
                     	LEFT OUTER JOIN inv_item_tl itl
                       		ON (osl.item_id = itl.item_id AND itl.lang = #{request.locale, jdbcType=VARCHAR})
                     	LEFT OUTER JOIN (
                     					SELECT iib.item_id
                                           ,iib.item_number
                                           ,iib.item_type
                                           ,uomtl.name
                                       	FROM inv_item_b iib
                                       		LEFT OUTER JOIN inv_unit_of_measure_tl uomtl 
                                       			ON (uomtl.uom_code = iib.uom_code AND uomtl.lang = #{request.locale, jdbcType=VARCHAR})
                                     ) itemuom ON (itemuom.item_id = osl.item_id)
                     	LEFT OUTER JOIN (
                     					SELECT dodl.order_line_id ,SUM(dodl.outstanding_qty) outstanding_qty
                                       	FROM dm_order_delivery_line dodl
                                       		LEFT JOIN dm_order_delivery dd ON dd.delivery_id = dodl.delivery_id
                                      	WHERE dd.delivery_status IN ('PCKUP', 'SHIPP')
                                      	GROUP BY (dodl.order_line_id)
                                     ) deliveryline ON osl.line_id = deliveryline.order_line_id
                      	LEFT OUTER JOIN (
				                     	SELECT osrl.ORDER_LINE_ID, SUM(osrl.QUANTITY) RETURN_QTY 
				                     	FROM OM_SALES_RTN_LINE osrl
				        					LEFT OUTER JOIN OM_SALES_RETURN osr ON (osr.RETURN_ID = osrl.RETURN_ID )
				        				-- where osr.RETURN_STATUS != 'NEW'
				       					<where>
				       						1=1
				       						<if test="returnId != null and returnId != '' and returnStatus == 'NEW' ">
					       						 AND osr.RETURN_ID != #{returnId, jdbcType=DECIMAL}
				       						</if>
				       					</where>
										GROUP BY(osrl.ORDER_LINE_ID)
 					 				) returnline ON osl.line_id = returnline.order_line_id
                     LEFT OUTER JOIN (
									SELECT v.ORGANIZATION_ID, iib.ITEM_ID, v.ITEM_ID COUNT_ITEM_ID, v.ITEM_NAME, v.ITEM_NUMBER, v.ITEM_TYPE, 
  	             							v.COUNT_STOCK_FLAG, v.LOT_CONTROL_FLAG, v.COUNT_TYPE
                                    FROM inv_item_b iib 
						            	LEFT OUTER JOIN inv_item_property_v v ON(COALESCE(iib.COUNT_ITEM_ID, iib.ITEM_ID) = v.ITEM_ID)        
						                LEFT OUTER JOIN inv_item_tl itl 
						                	ON (iib.COUNT_ITEM_ID = itl.ITEM_ID AND itl.lang = #{request.locale, jdbcType=VARCHAR})
                                     ) countitem ON (countitem.item_id = osl.item_id AND countitem.organization_id = #{invOrgId,jdbcType=DECIMAL})
                    WHERE EXISTS (
                    		SELECT 1
                            FROM inv_item_assign iia
                            WHERE iia.item_id = osl.item_id AND iia.assign_type = 'INV'
                              AND iia.assign_value = #{invOrgId, jdbcType=DECIMAL})) salesline 
      ON salesline.line_id = osrl.order_line_id
 	<where>
 		 osrl.RETURN_ID = #{returnId, jdbcType=DECIMAL}
 		 <if test="parentLineId != null">
 		 	 AND salesline.parent_Line_Id = #{parentLineId, jdbcType=DECIMAL}
 		 </if>
 		 <if test="parentLineId == null">
 		 	AND salesline.parent_Line_Id IS NULL
 		 </if>
 	</where>
  </select>
  <!-- 获取商品包已发运数量 -->
  <select id="getOutstandQtyByPkg" resultType="java.math.BigDecimal" >
	SELECT 
		SUM(dodl.OUTSTANDING_QTY)/(
			select iih.QUANTITY 
			from inv_item_hierarchy iih 
			where iih.ITEM_ID =dodl.ITEM_ID and iih.PARENT_ITEM_ID=dodl.PACKAGE_ITEM_ID) 
		OUTSTANDING_QTY  
    FROM DM_ORDER_DELIVERY_LINE dodl 
    	LEFT OUTER JOIN dm_order_delivery dd ON dd.delivery_id = dodl.delivery_id
        LEFT OUTER JOIN om_sales_line ol ON ol.LINE_ID = dodl.ORDER_LINE_ID
    WHERE dd.delivery_status in ('PCKUP','SHIPP')
    	AND dodl.PACKAGE_ITEM_ID = #{packItemId, jdbcType=DECIMAL}
    	AND ol.PARENT_LINE_ID = #{parentLineId, jdbcType=DECIMAL}
    	AND dodl.ORDER_LINE_ID = (SELECT max(dl.ORDER_LINE_ID) 
    							  FROM DM_ORDER_DELIVERY_LINE dl
                                       LEFT OUTER JOIN om_sales_line oline ON dl.ORDER_LINE_ID = oline.LINE_ID
                                  WHERE dl.PACKAGE_ITEM_ID = #{packItemId, jdbcType=DECIMAL} 
                                  	AND oline.PARENT_LINE_ID = #{parentLineId, jdbcType=DECIMAL}
                                 )
   GROUP BY(dodl.ORDER_LINE_ID, dodl.PACKAGE_ITEM_ID, dodl.ITEM_ID)
  </select>
  <select id="selectByReturnId" resultMap="BaseResultMap" parameterType="java.util.Map">
      select <include refid="Base_Column_List" />
      from OM_SALES_RTN_LINE
      where RETURN_ID = #{returnId,jdbcType=DECIMAL} 
        and SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL} 
  </select>
  
  <!-- 根据销售订单行ID查询已退货数量 , dapp专用-->
  <select id="selectSumQtyByOrderLineIdForDapp" resultType="java.math.BigDecimal">
  	select SUM(rl.QUANTITY)
  	from OM_SALES_RTN_LINE rl
  	where rl.ORDER_LINE_ID = #{orderLineId, jdbcType=DECIMAL}
  	     and rl.RETURN_ID in (select sr.RETURN_ID from OM_SALES_RETURN sr WHERE sr.RETURN_STATUS != 'NEW')
  	     GROUP BY( rl.ORDER_LINE_ID)
  </select>
</mapper>