<div class="col-sm-4 col-md-3 sidebar">                                                          
 <aside class="widget widget_recent_posts">                                               
     <h4 class="widget-title"><@spring.message "mws.menu.account"/></h4>                                            
     <ul class="submenu">                                                             
         <li class="active"><a href="${base.contextPath}/account/account-info.html"><@spring.message "mws.menu.myaccount"/></a></li>
         <li><a href="${base.contextPath}/user/cng-pw.html"><@spring.message "mws.menu.changepassword"/></a></li>
         <!--modified by furong.tang-->
        <!-- <li><a href="${base.contextPath}/account/account-preferences.html"><@spring.message "mws.menu.preferences"/></a></li> -->
     </ul>                                                                            
 </aside>
    <!--modified by furong.tang-->
 <!--<aside class="widget widget_recent_posts" id="walletMessage">
     <h4 class="widget-title"><@spring.message "mws.menu.wallet"/></h4>                                            
     <ul class="submenu">                                                             
         <li><a href="${base.contextPath}/account/account-bankcard.html"><@spring.message "mws.menu.mybankcard"/></a></li>
         <li><a href="${base.contextPath}/account/account-coupon.html"><@spring.message "mws.menu.mycoupon"/></a></li>                           
     </ul>                                                                            
 </aside>  -->
 <aside class="widget widget_recent_posts">                                               
     <h4 class="widget-title"><@spring.message "mws.menu.addressbook"/></h4>                                            
     <ul class="submenu">                                                             
         <li><a href="${base.contextPath}/account/account-ship-address.html"><@spring.message "mws.menu.deliveryaddress"/></a></li>
         <li><a href="${base.contextPath}/account/account-bill-address.html"><@spring.message "mws.menu.billingaddress"/></a></li>                           
     </ul>                                                                            
 </aside>                                                                                 
 <aside class="widget widget_recent_posts">                                               
     <h4 class="widget-title"><@spring.message "mws.menu.messagecenter"/></h4>                                            
     <ul class="submenu">                                                             
         <li><a href="${base.contextPath}/account/account-messagebox.html"><@spring.message "mws.menu.messagebox"/></a></li>
     </ul>                                                                            
 </aside>                                                                                 
 <aside class="widget widget_recent_posts">                                               
     <h4 class="widget-title"><@spring.message "mws.menu.home.orders"/></h4>                                            
     <ul class="submenu">                                                             
         <li><a href="${base.contextPath}/account/account-order-list.html"><@spring.message "mws.menu.orderhistory"/></a></li>
         <!--modified by furong.tang-->
         <!--<li><a href="${base.contextPath}/account/account-autoship.html"><@spring.message "mws.menu.autoship"/></a></li>-->
     </ul>                                                                            
 </aside>                                                                                 
</div>