<footer id="footer">
    <div id="copyright">
        <div class="container">
            <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">沪ICP备17052340号-2 </a> |  Copyright &copy; TianFu 2018 | All Rights Reserved</div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="${base.contextPath}/resources/js/bootstrap-3.3.5${resource_suffix!}.js"></script>
<script src="${base.contextPath}/resources/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="${base.contextPath}/resources/js/owl.carousel${resource_suffix!}.js"></script>
<script src="${base.contextPath}/resources/js/jquery.jpanelmenu${resource_suffix!}.js"></script>
<script src="${base.contextPath}/resources/js/main${resource_suffix!}.js"></script>

</body>
</html>
