<link href="${base.contextPath}/resources/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="${base.contextPath}/resources/img/favicon.ico" />
<!-- Bootstrap -->
<link href="${base.contextPath}/resources/css/bootstrap${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.carousel${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.theme${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/owl.transitions${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/style${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/config${resource_suffix!}.css" rel="stylesheet">
<link href="${base.contextPath}/resources/css/dialog${resource_suffix!}.css" rel="stylesheet">
<script src="${base.contextPath}/resources/js/html5shiv.js"></script>
<script src="${base.contextPath}/resources/js/jquery-1.11.3${resource_suffix!}.js"></script>
<script src="${base.contextPath}/resources/js/dialog${resource_suffix!}.js"></script>
<script src="${base.contextPath}/lib/json2${resource_suffix!}.js"></script>
<script src="${base.contextPath}/common/code?igiMapping=SYS.IGI_MAPPING " type="text/javascript"></script>
<script type="text/javascript">
    !function(){
        var p = {};
        $l = function(code,value){
            var al = arguments.length;
            if(al == 1){
                var v = p[code];
                return v ? v : code;
            }else if(al == 2){
                p[code] = value;
            }
        }
    }()
    $l('sys.hand.btn.cancel','<@spring.message "sys.hand.btn.cancel"/>');
    $l('sys.hand.btn.ok','<@spring.message "sys.hand.btn.ok"/>');
</script>







