<div class="col-sm-4 col-md-3 sidebar" style="margin: 10px 0px 0px 0px; padding: 0;">
 <aside class="widget widget_recent_posts">
     <div align="center" style="background-color: #CEE2FA;" class="form-group">
          <h3 style="height: 10px;line-height: 34px;"></h3>
     </div>
     <ul class="submenu">
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/team-travel_point_inquiry.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.tpsearch"/></a></li>
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/team-travel-integral.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.current.month.organization.inquiry"/></a></li>
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/team-org-structure.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.history.month.organazation.inquiry"/></a></li>
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/local_ov_recruitment_Inquiry.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.locov.recruit.inquiry"/></a></li>
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/team-history-inquiry-pv-ov.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.pv.ov.history.inquiry"/></a></li>
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/team-history-bonus-detail.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.member.bonus.history.inquiry"/></a></li>
                <li style="font-weight: 600;"><a href="${base.contextPath}/team/team-bonus-detail.html"><span class="glyphicon glyphicon-play"></span> <@spring.message "mws.myteam.member.bonus.detail.inquiry"/></a></li>
     </ul>
 </aside>
</div>