<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Interface</title>
    <link href="${base.contextPath}/resources/favicon.ico" rel="shortcut icon"/>
    <style>
        .success-msg {
            font: 20px Verdana, Arial;
            text-align: center;
            margin: 20px auto;
        }

    </style>
    <script type="text/javascript">


    </script>
</head>
<body>
<p class="success-msg">
    If you see this page, the <b>Interface Service</b> is successfully deployed and working.
</p>
</body>
</html>