<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.admin.integration.gds.mapper.IsgMemberDeleteMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMemberDelete" >
    <id column="INTERFACE_ID" property="interfaceId" jdbcType="DECIMAL" />
    <result column="ALTER_NO" property="alterNo" jdbcType="VARCHAR" />
    <result column="ALTER_DEALER_NO" property="alterDealerNo" jdbcType="VARCHAR" />
    <result column="ALTER_MODE" property="alterMode" jdbcType="VARCHAR" />
    <result column="ALTER_PERIOD" property="alterPeriod" jdbcType="VARCHAR" />
    <result column="ALTER_ORG_CODE" property="alterOrgCode" jdbcType="VARCHAR" />
    <result column="REF_FROM_SPONSOR_NO" property="refFromSponsorNo" jdbcType="VARCHAR" />
    <result column="REF_TO_SPONSOR_NO" property="refToSponsorNo" jdbcType="VARCHAR" />
    <result column="REF_SO_NO" property="refSoNo" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_TIME" property="lastUpdatedTime" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="UPLOAD_FLAG" property="uploadFlag" jdbcType="VARCHAR" />
    <result column="ADVISE_NO" property="adviseNo" jdbcType="VARCHAR" />
    <result column="APP_NO" property="appNo" jdbcType="VARCHAR" />
    <result column="PROCESS_STATUS" property="processStatus" jdbcType="VARCHAR" />
    <result column="PROCESS_DATE" property="processDate" jdbcType="TIMESTAMP" />
    <result column="PROCESS_MESSAGE" property="processMessage" jdbcType="VARCHAR" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    INTERFACE_ID, ALTER_NO, ALTER_DEALER_NO, ALTER_MODE, ALTER_PERIOD, ALTER_ORG_CODE, 
    REF_FROM_SPONSOR_NO, REF_TO_SPONSOR_NO, REF_SO_NO, COMMENTS, LAST_UPDATED_TIME, LAST_UPDATED_BY, 
    UPLOAD_FLAG, ADVISE_NO, APP_NO, PROCESS_STATUS, PROCESS_DATE, PROCESS_MESSAGE, REQUEST_ID, 
    PROGRAM_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ISG_MEMBER_DELETE
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ISG_MEMBER_DELETE
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMemberDelete" >
    <selectKey resultType="java.lang.Long" keyProperty="interfaceId" order="BEFORE" >
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into ISG_MEMBER_DELETE (INTERFACE_ID, ALTER_NO, ALTER_DEALER_NO, 
      ALTER_MODE, ALTER_PERIOD, ALTER_ORG_CODE, 
      REF_FROM_SPONSOR_NO, REF_TO_SPONSOR_NO, REF_SO_NO, 
      COMMENTS, LAST_UPDATED_TIME, LAST_UPDATED_BY, 
      UPLOAD_FLAG, ADVISE_NO, APP_NO, 
      PROCESS_STATUS, PROCESS_DATE, PROCESS_MESSAGE, 
      REQUEST_ID, PROGRAM_ID)
    values (#{interfaceId,jdbcType=DECIMAL}, #{alterNo,jdbcType=VARCHAR}, #{alterDealerNo,jdbcType=VARCHAR}, 
      #{alterMode,jdbcType=VARCHAR}, #{alterPeriod,jdbcType=VARCHAR}, #{alterOrgCode,jdbcType=VARCHAR}, 
      #{refFromSponsorNo,jdbcType=VARCHAR}, #{refToSponsorNo,jdbcType=VARCHAR}, #{refSoNo,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{lastUpdatedTime,jdbcType=VARCHAR}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{uploadFlag,jdbcType=VARCHAR}, #{adviseNo,jdbcType=VARCHAR}, #{appNo,jdbcType=VARCHAR}, 
      #{processStatus,jdbcType=VARCHAR}, current_timestamp, #{processMessage,jdbcType=VARCHAR}, 
      #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMemberDelete" useGeneratedKeys="true">
    <selectKey resultType="java.lang.Long" keyProperty="interfaceId" order="BEFORE" >
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into ISG_MEMBER_DELETE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      INTERFACE_ID,
      <if test="alterNo != null" >
        ALTER_NO,
      </if>
      <if test="alterDealerNo != null" >
        ALTER_DEALER_NO,
      </if>
      <if test="alterMode != null" >
        ALTER_MODE,
      </if>
      <if test="alterPeriod != null" >
        ALTER_PERIOD,
      </if>
      <if test="alterOrgCode != null" >
        ALTER_ORG_CODE,
      </if>
      <if test="refFromSponsorNo != null" >
        REF_FROM_SPONSOR_NO,
      </if>
      <if test="refToSponsorNo != null" >
        REF_TO_SPONSOR_NO,
      </if>
      <if test="refSoNo != null" >
        REF_SO_NO,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
      <if test="lastUpdatedTime != null" >
        LAST_UPDATED_TIME,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="uploadFlag != null" >
        UPLOAD_FLAG,
      </if>
      <if test="adviseNo != null" >
        ADVISE_NO,
      </if>
      <if test="appNo != null" >
        APP_NO,
      </if>
      <if test="processStatus != null" >
        PROCESS_STATUS,
      </if>
        PROCESS_DATE,
      <if test="processMessage != null" >
        PROCESS_MESSAGE,
      </if>
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{interfaceId,jdbcType=DECIMAL},
      <if test="alterNo != null" >
        #{alterNo,jdbcType=VARCHAR},
      </if>
      <if test="alterDealerNo != null" >
        #{alterDealerNo,jdbcType=VARCHAR},
      </if>
      <if test="alterMode != null" >
        #{alterMode,jdbcType=VARCHAR},
      </if>
      <if test="alterPeriod != null" >
        #{alterPeriod,jdbcType=VARCHAR},
      </if>
      <if test="alterOrgCode != null" >
        #{alterOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="refFromSponsorNo != null" >
        #{refFromSponsorNo,jdbcType=VARCHAR},
      </if>
      <if test="refToSponsorNo != null" >
        #{refToSponsorNo,jdbcType=VARCHAR},
      </if>
      <if test="refSoNo != null" >
        #{refSoNo,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null" >
        #{lastUpdatedTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="uploadFlag != null" >
        #{uploadFlag,jdbcType=VARCHAR},
      </if>
      <if test="adviseNo != null" >
        #{adviseNo,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null" >
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null" >
        #{processStatus,jdbcType=VARCHAR},
      </if>
      CURRENT_TIMESTAMP,
      <if test="processMessage != null" >
        #{processMessage,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMemberDelete" >
    update ISG_MEMBER_DELETE
    <set >
      <if test="alterNo != null" >
        ALTER_NO = #{alterNo,jdbcType=VARCHAR},
      </if>
      <if test="alterDealerNo != null" >
        ALTER_DEALER_NO = #{alterDealerNo,jdbcType=VARCHAR},
      </if>
      <if test="alterMode != null" >
        ALTER_MODE = #{alterMode,jdbcType=VARCHAR},
      </if>
      <if test="alterPeriod != null" >
        ALTER_PERIOD = #{alterPeriod,jdbcType=VARCHAR},
      </if>
      <if test="alterOrgCode != null" >
        ALTER_ORG_CODE = #{alterOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="refFromSponsorNo != null" >
        REF_FROM_SPONSOR_NO = #{refFromSponsorNo,jdbcType=VARCHAR},
      </if>
      <if test="refToSponsorNo != null" >
        REF_TO_SPONSOR_NO = #{refToSponsorNo,jdbcType=VARCHAR},
      </if>
      <if test="refSoNo != null" >
        REF_SO_NO = #{refSoNo,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null" >
        LAST_UPDATED_TIME = #{lastUpdatedTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="uploadFlag != null" >
        UPLOAD_FLAG = #{uploadFlag,jdbcType=VARCHAR},
      </if>
      <if test="adviseNo != null" >
        ADVISE_NO = #{adviseNo,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null" >
        APP_NO = #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null" >
        PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null" >
        PROCESS_DATE = #{processDate,jdbcType=TIMESTAMP},
      </if>
      <if test="processMessage != null" >
        PROCESS_MESSAGE = #{processMessage,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
    </set>
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMemberDelete" >
    update ISG_MEMBER_DELETE
    set ALTER_NO = #{alterNo,jdbcType=VARCHAR},
      ALTER_DEALER_NO = #{alterDealerNo,jdbcType=VARCHAR},
      ALTER_MODE = #{alterMode,jdbcType=VARCHAR},
      ALTER_PERIOD = #{alterPeriod,jdbcType=VARCHAR},
      ALTER_ORG_CODE = #{alterOrgCode,jdbcType=VARCHAR},
      REF_FROM_SPONSOR_NO = #{refFromSponsorNo,jdbcType=VARCHAR},
      REF_TO_SPONSOR_NO = #{refToSponsorNo,jdbcType=VARCHAR},
      REF_SO_NO = #{refSoNo,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      LAST_UPDATED_TIME = #{lastUpdatedTime,jdbcType=VARCHAR},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      UPLOAD_FLAG = #{uploadFlag,jdbcType=VARCHAR},
      ADVISE_NO = #{adviseNo,jdbcType=VARCHAR},
      APP_NO = #{appNo,jdbcType=VARCHAR},
      PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR},
      PROCESS_DATE = #{processDate,jdbcType=TIMESTAMP},
      PROCESS_MESSAGE = #{processMessage,jdbcType=VARCHAR},
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL}
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </update>
  <update id="updateUploadFlagToY" parameterType="java.util.Map" >
      update ISG_MEMBER_DELETE 
       set UPLOAD_FLAG = 'Y',
           PROCESS_DATE = CURRENT_TIMESTAMP
       where ALTER_NO = #{alterNo,jdbcType=VARCHAR}
             AND ADVISE_NO = #{adviseNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateStatusAndMessage" parameterType="java.util.Map">
    update ISG_MEMBER_DELETE
    <set>
      <if test="processMessage != null" >
        PROCESS_MESSAGE = #{processMessage,jdbcType=VARCHAR},
      </if>
        PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR},
    </set>
     where ALTER_NO = #{alterNo,jdbcType=VARCHAR}
           AND ADVISE_NO = #{adviseNo,jdbcType=VARCHAR}
  </update>
  
  <select id="selectProcessStatusIsS" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
     <include refid="Base_Column_List" />
    from ISG_MEMBER_DELETE 
    where alter_no = #{alterNo,jdbcType=VARCHAR} 
    and process_status = 'S'
   </select>
   
   <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
      from ISG_MEMBER_DELETE
    <where>
        PROCESS_DATE &gt; #{processDateFrom,jdbcType=TIMESTAMP}
        <if test="requestDateTo != null" >
            AND PROCESS_DATE &lt; #{processDateTo,jdbcType=TIMESTAMP}
        </if>
        <if test="processStatus != null" >
            AND PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR}
        </if>
        <if test="advoiseNo != null" >
            AND ADVISE_NO = #{advoiseNo,jdbcType=VARCHAR}
        </if>
    </where>
    order by interface_id desc
  </select>
</mapper>