<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.admin.integration.gds.mapper.IsgMarketChangeListMapper" >
  <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMarketChangeList" >
    <id column="INTERFACE_ID" property="interfaceId" jdbcType="DECIMAL" />
    <result column="OPERATION_TYPE" property="operationType" jdbcType="VARCHAR" />
    <result column="GDS_ID" property="gdsId" jdbcType="DECIMAL" />
    <result column="CREATEBY" property="createby" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="LAST_UPDATEBY" property="lastUpdateby" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="VARCHAR" />
    <result column="DEALER_NO" property="dealerNo" jdbcType="VARCHAR" />
    <result column="OLD_SALE_ORG_CODE" property="oldSaleOrgCode" jdbcType="VARCHAR" />
    <result column="NEW_SALE_ORG_CODE" property="newSaleOrgCode" jdbcType="VARCHAR" />
    <result column="NEW_DEALER_TYPE" property="newDealerType" jdbcType="VARCHAR" />
    <result column="NEW_DEALER_SUB_TYPE" property="newDealerSubType" jdbcType="VARCHAR" />
    <result column="APP_DATE" property="appDate" jdbcType="VARCHAR" />
    <result column="APP_DOC_NO" property="appDocNo" jdbcType="VARCHAR" />
    <result column="APP_ENTRY_TIME" property="appEntryTime" jdbcType="VARCHAR" />
    <result column="APP_ENTRY_BY" property="appEntryBy" jdbcType="VARCHAR" />
    <result column="APP_CHECKED_TIME" property="appCheckedTime" jdbcType="VARCHAR" />
    <result column="APP_CHECKED_BY" property="appCheckedBy" jdbcType="VARCHAR" />
    <result column="APP_CHECKED_MEMO" property="appCheckedMemo" jdbcType="VARCHAR" />
    <result column="APP_AUDITED_TIME" property="appAuditedTime" jdbcType="VARCHAR" />
    <result column="APP_AUDITED_BY" property="appAuditedBy" jdbcType="VARCHAR" />
    <result column="APP_AUDITED_MEMO" property="appAuditedMemo" jdbcType="VARCHAR" />
    <result column="GDS_TRAN_STATUS" property="gdsTranStatus" jdbcType="VARCHAR" />
    <result column="GDS_TRAN_SO_PERIOD" property="gdsTranSoPeriod" jdbcType="VARCHAR" />
    <result column="GDS_TRAN_EFFECTIVE_PERIOD" property="gdsTranEffectivePeriod" jdbcType="VARCHAR" />
    <result column="GDS_TRAN_TIME" property="gdsTranTime" jdbcType="VARCHAR" />
    <result column="GDS_TRAN_BY" property="gdsTranBy" jdbcType="VARCHAR" />
    <result column="GDS_TRAN_MEMO" property="gdsTranMemo" jdbcType="VARCHAR" />
    <result column="OLD_ORG_TRAN_FLAG" property="oldOrgTranFlag" jdbcType="VARCHAR" />
    <result column="OLD_ORG_TRAN_TIME" property="oldOrgTranTime" jdbcType="VARCHAR" />
    <result column="OLD_ORG_TRAN_BY" property="oldOrgTranBy" jdbcType="VARCHAR" />
    <result column="OLD_ORG_TRAN_MEMO" property="oldOrgTranMemo" jdbcType="VARCHAR" />
    <result column="NEW_ORG_TRAN_FLAG" property="newOrgTranFlag" jdbcType="VARCHAR" />
    <result column="NEW_ORG_TRAN_TIME" property="newOrgTranTime" jdbcType="VARCHAR" />
    <result column="NEW_ORG_TRAN_BY" property="newOrgTranBy" jdbcType="VARCHAR" />
    <result column="NEW_ORG_TRAN_MEMO" property="newOrgTranMemo" jdbcType="VARCHAR" />
    <result column="APP_FULL_NAME" property="appFullName" jdbcType="VARCHAR" />
    <result column="APP_LAST_NAME" property="appLastName" jdbcType="VARCHAR" />
    <result column="APP_FIRST_NAME" property="appFirstName" jdbcType="VARCHAR" />
    <result column="APP_CERTIFICATE_NATION_CODE" property="appCertificateNationCode" jdbcType="VARCHAR" />
    <result column="APP_CERTIFICATE_TYPE" property="appCertificateType" jdbcType="VARCHAR" />
    <result column="APP_CERTIFICATE_NO" property="appCertificateNo" jdbcType="VARCHAR" />
    <result column="NEW_SALE_BRANCH_NO" property="newSaleBranchNo" jdbcType="VARCHAR" />
    <result column="NEW_SALE_ZONE_NO" property="newSaleZoneNo" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    <result column="SUB_ORG" property="subOrg" jdbcType="VARCHAR" />
    <result column="PROCESS_STATUS" property="processStatus" jdbcType="VARCHAR" />
    <result column="PROCESS_DATE" property="processDate" jdbcType="TIMESTAMP" />
    <result column="PROCESS_MESSAGE" property="processMessage" jdbcType="VARCHAR" />
    <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    INTERFACE_ID, OPERATION_TYPE, GDS_ID, CREATEBY, CREATE_TIME, LAST_UPDATEBY, LAST_UPDATE_TIME, 
    DEALER_NO, OLD_SALE_ORG_CODE, NEW_SALE_ORG_CODE, NEW_DEALER_TYPE, NEW_DEALER_SUB_TYPE, 
    APP_DATE, APP_DOC_NO, APP_ENTRY_TIME, APP_ENTRY_BY, APP_CHECKED_TIME, APP_CHECKED_BY, 
    APP_CHECKED_MEMO, APP_AUDITED_TIME, APP_AUDITED_BY, APP_AUDITED_MEMO, GDS_TRAN_STATUS, 
    GDS_TRAN_SO_PERIOD, GDS_TRAN_EFFECTIVE_PERIOD, GDS_TRAN_TIME, GDS_TRAN_BY, GDS_TRAN_MEMO, 
    OLD_ORG_TRAN_FLAG, OLD_ORG_TRAN_TIME, OLD_ORG_TRAN_BY, OLD_ORG_TRAN_MEMO, NEW_ORG_TRAN_FLAG, 
    NEW_ORG_TRAN_TIME, NEW_ORG_TRAN_BY, NEW_ORG_TRAN_MEMO, APP_FULL_NAME, APP_LAST_NAME, 
    APP_FIRST_NAME, APP_CERTIFICATE_NATION_CODE, APP_CERTIFICATE_TYPE, APP_CERTIFICATE_NO, 
    NEW_SALE_BRANCH_NO, NEW_SALE_ZONE_NO, COMMENTS, SUB_ORG, PROCESS_STATUS, PROCESS_DATE, 
    PROCESS_MESSAGE, REQUEST_ID, PROGRAM_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ISG_MARKET_CHANGE_LIST
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ISG_MARKET_CHANGE_LIST
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMarketChangeList" >
    <selectKey resultType="java.lang.Long" keyProperty="interfaceId" order="BEFORE" >
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into ISG_MARKET_CHANGE_LIST (INTERFACE_ID, OPERATION_TYPE, GDS_ID, 
      CREATEBY, CREATE_TIME, LAST_UPDATEBY, 
      LAST_UPDATE_TIME, DEALER_NO, OLD_SALE_ORG_CODE, 
      NEW_SALE_ORG_CODE, NEW_DEALER_TYPE, NEW_DEALER_SUB_TYPE, 
      APP_DATE, APP_DOC_NO, APP_ENTRY_TIME, 
      APP_ENTRY_BY, APP_CHECKED_TIME, APP_CHECKED_BY, 
      APP_CHECKED_MEMO, APP_AUDITED_TIME, APP_AUDITED_BY, 
      APP_AUDITED_MEMO, GDS_TRAN_STATUS, GDS_TRAN_SO_PERIOD, 
      GDS_TRAN_EFFECTIVE_PERIOD, GDS_TRAN_TIME, GDS_TRAN_BY, 
      GDS_TRAN_MEMO, OLD_ORG_TRAN_FLAG, OLD_ORG_TRAN_TIME, 
      OLD_ORG_TRAN_BY, OLD_ORG_TRAN_MEMO, NEW_ORG_TRAN_FLAG, 
      NEW_ORG_TRAN_TIME, NEW_ORG_TRAN_BY, NEW_ORG_TRAN_MEMO, 
      APP_FULL_NAME, APP_LAST_NAME, APP_FIRST_NAME, 
      APP_CERTIFICATE_NATION_CODE, APP_CERTIFICATE_TYPE, 
      APP_CERTIFICATE_NO, NEW_SALE_BRANCH_NO, NEW_SALE_ZONE_NO, 
      COMMENTS, SUB_ORG, PROCESS_STATUS, 
      PROCESS_DATE, PROCESS_MESSAGE, REQUEST_ID, 
      PROGRAM_ID)
    values (#{interfaceId,jdbcType=DECIMAL}, #{operationType,jdbcType=VARCHAR}, #{gdsId,jdbcType=DECIMAL}, 
      #{createby,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{lastUpdateby,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=VARCHAR}, #{dealerNo,jdbcType=VARCHAR}, #{oldSaleOrgCode,jdbcType=VARCHAR}, 
      #{newSaleOrgCode,jdbcType=VARCHAR}, #{newDealerType,jdbcType=VARCHAR}, #{newDealerSubType,jdbcType=VARCHAR}, 
      #{appDate,jdbcType=VARCHAR}, #{appDocNo,jdbcType=VARCHAR}, #{appEntryTime,jdbcType=VARCHAR}, 
      #{appEntryBy,jdbcType=VARCHAR}, #{appCheckedTime,jdbcType=VARCHAR}, #{appCheckedBy,jdbcType=VARCHAR}, 
      #{appCheckedMemo,jdbcType=VARCHAR}, #{appAuditedTime,jdbcType=VARCHAR}, #{appAuditedBy,jdbcType=VARCHAR}, 
      #{appAuditedMemo,jdbcType=VARCHAR}, #{gdsTranStatus,jdbcType=VARCHAR}, #{gdsTranSoPeriod,jdbcType=VARCHAR}, 
      #{gdsTranEffectivePeriod,jdbcType=VARCHAR}, #{gdsTranTime,jdbcType=VARCHAR}, #{gdsTranBy,jdbcType=VARCHAR}, 
      #{gdsTranMemo,jdbcType=VARCHAR}, #{oldOrgTranFlag,jdbcType=VARCHAR}, #{oldOrgTranTime,jdbcType=VARCHAR}, 
      #{oldOrgTranBy,jdbcType=VARCHAR}, #{oldOrgTranMemo,jdbcType=VARCHAR}, #{newOrgTranFlag,jdbcType=VARCHAR}, 
      #{newOrgTranTime,jdbcType=VARCHAR}, #{newOrgTranBy,jdbcType=VARCHAR}, #{newOrgTranMemo,jdbcType=VARCHAR}, 
      #{appFullName,jdbcType=VARCHAR}, #{appLastName,jdbcType=VARCHAR}, #{appFirstName,jdbcType=VARCHAR}, 
      #{appCertificateNationCode,jdbcType=VARCHAR}, #{appCertificateType,jdbcType=VARCHAR}, 
      #{appCertificateNo,jdbcType=VARCHAR}, #{newSaleBranchNo,jdbcType=VARCHAR}, #{newSaleZoneNo,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{subOrg,jdbcType=VARCHAR}, #{processStatus,jdbcType=VARCHAR}, 
      current_timestamp, #{processMessage,jdbcType=VARCHAR}, #{requestId,jdbcType=DECIMAL}, 
      #{programId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMarketChangeList" >
    <selectKey resultType="java.lang.Long" keyProperty="interfaceId" order="BEFORE" >
select UNIX_TIMESTAMP()*1000+floor(rand()*1000) from dual
    </selectKey>
    insert into ISG_MARKET_CHANGE_LIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      INTERFACE_ID,
      <if test="operationType != null" >
        OPERATION_TYPE,
      </if>
      <if test="gdsId != null" >
        GDS_ID,
      </if>
      <if test="createby != null" >
        CREATEBY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastUpdateby != null" >
        LAST_UPDATEBY,
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME,
      </if>
      <if test="dealerNo != null" >
        DEALER_NO,
      </if>
      <if test="oldSaleOrgCode != null" >
        OLD_SALE_ORG_CODE,
      </if>
      <if test="newSaleOrgCode != null" >
        NEW_SALE_ORG_CODE,
      </if>
      <if test="newDealerType != null" >
        NEW_DEALER_TYPE,
      </if>
      <if test="newDealerSubType != null" >
        NEW_DEALER_SUB_TYPE,
      </if>
      <if test="appDate != null" >
        APP_DATE,
      </if>
      <if test="appDocNo != null" >
        APP_DOC_NO,
      </if>
      <if test="appEntryTime != null" >
        APP_ENTRY_TIME,
      </if>
      <if test="appEntryBy != null" >
        APP_ENTRY_BY,
      </if>
      <if test="appCheckedTime != null" >
        APP_CHECKED_TIME,
      </if>
      <if test="appCheckedBy != null" >
        APP_CHECKED_BY,
      </if>
      <if test="appCheckedMemo != null" >
        APP_CHECKED_MEMO,
      </if>
      <if test="appAuditedTime != null" >
        APP_AUDITED_TIME,
      </if>
      <if test="appAuditedBy != null" >
        APP_AUDITED_BY,
      </if>
      <if test="appAuditedMemo != null" >
        APP_AUDITED_MEMO,
      </if>
      <if test="gdsTranStatus != null" >
        GDS_TRAN_STATUS,
      </if>
      <if test="gdsTranSoPeriod != null" >
        GDS_TRAN_SO_PERIOD,
      </if>
      <if test="gdsTranEffectivePeriod != null" >
        GDS_TRAN_EFFECTIVE_PERIOD,
      </if>
      <if test="gdsTranTime != null" >
        GDS_TRAN_TIME,
      </if>
      <if test="gdsTranBy != null" >
        GDS_TRAN_BY,
      </if>
      <if test="gdsTranMemo != null" >
        GDS_TRAN_MEMO,
      </if>
      <if test="oldOrgTranFlag != null" >
        OLD_ORG_TRAN_FLAG,
      </if>
      <if test="oldOrgTranTime != null" >
        OLD_ORG_TRAN_TIME,
      </if>
      <if test="oldOrgTranBy != null" >
        OLD_ORG_TRAN_BY,
      </if>
      <if test="oldOrgTranMemo != null" >
        OLD_ORG_TRAN_MEMO,
      </if>
      <if test="newOrgTranFlag != null" >
        NEW_ORG_TRAN_FLAG,
      </if>
      <if test="newOrgTranTime != null" >
        NEW_ORG_TRAN_TIME,
      </if>
      <if test="newOrgTranBy != null" >
        NEW_ORG_TRAN_BY,
      </if>
      <if test="newOrgTranMemo != null" >
        NEW_ORG_TRAN_MEMO,
      </if>
      <if test="appFullName != null" >
        APP_FULL_NAME,
      </if>
      <if test="appLastName != null" >
        APP_LAST_NAME,
      </if>
      <if test="appFirstName != null" >
        APP_FIRST_NAME,
      </if>
      <if test="appCertificateNationCode != null" >
        APP_CERTIFICATE_NATION_CODE,
      </if>
      <if test="appCertificateType != null" >
        APP_CERTIFICATE_TYPE,
      </if>
      <if test="appCertificateNo != null" >
        APP_CERTIFICATE_NO,
      </if>
      <if test="newSaleBranchNo != null" >
        NEW_SALE_BRANCH_NO,
      </if>
      <if test="newSaleZoneNo != null" >
        NEW_SALE_ZONE_NO,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
      <if test="subOrg != null" >
        SUB_ORG,
      </if>
      <if test="processStatus != null" >
        PROCESS_STATUS,
      </if>
        PROCESS_DATE,
      <if test="processMessage != null" >
        PROCESS_MESSAGE,
      </if>
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{interfaceId,jdbcType=DECIMAL},
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        #{gdsId,jdbcType=DECIMAL},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateby != null" >
        #{lastUpdateby,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="dealerNo != null" >
        #{dealerNo,jdbcType=VARCHAR},
      </if>
      <if test="oldSaleOrgCode != null" >
        #{oldSaleOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="newSaleOrgCode != null" >
        #{newSaleOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="newDealerType != null" >
        #{newDealerType,jdbcType=VARCHAR},
      </if>
      <if test="newDealerSubType != null" >
        #{newDealerSubType,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null" >
        #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="appDocNo != null" >
        #{appDocNo,jdbcType=VARCHAR},
      </if>
      <if test="appEntryTime != null" >
        #{appEntryTime,jdbcType=VARCHAR},
      </if>
      <if test="appEntryBy != null" >
        #{appEntryBy,jdbcType=VARCHAR},
      </if>
      <if test="appCheckedTime != null" >
        #{appCheckedTime,jdbcType=VARCHAR},
      </if>
      <if test="appCheckedBy != null" >
        #{appCheckedBy,jdbcType=VARCHAR},
      </if>
      <if test="appCheckedMemo != null" >
        #{appCheckedMemo,jdbcType=VARCHAR},
      </if>
      <if test="appAuditedTime != null" >
        #{appAuditedTime,jdbcType=VARCHAR},
      </if>
      <if test="appAuditedBy != null" >
        #{appAuditedBy,jdbcType=VARCHAR},
      </if>
      <if test="appAuditedMemo != null" >
        #{appAuditedMemo,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranStatus != null" >
        #{gdsTranStatus,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranSoPeriod != null" >
        #{gdsTranSoPeriod,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranEffectivePeriod != null" >
        #{gdsTranEffectivePeriod,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranTime != null" >
        #{gdsTranTime,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranBy != null" >
        #{gdsTranBy,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranMemo != null" >
        #{gdsTranMemo,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranFlag != null" >
        #{oldOrgTranFlag,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranTime != null" >
        #{oldOrgTranTime,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranBy != null" >
        #{oldOrgTranBy,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranMemo != null" >
        #{oldOrgTranMemo,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranFlag != null" >
        #{newOrgTranFlag,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranTime != null" >
        #{newOrgTranTime,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranBy != null" >
        #{newOrgTranBy,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranMemo != null" >
        #{newOrgTranMemo,jdbcType=VARCHAR},
      </if>
      <if test="appFullName != null" >
        #{appFullName,jdbcType=VARCHAR},
      </if>
      <if test="appLastName != null" >
        #{appLastName,jdbcType=VARCHAR},
      </if>
      <if test="appFirstName != null" >
        #{appFirstName,jdbcType=VARCHAR},
      </if>
      <if test="appCertificateNationCode != null" >
        #{appCertificateNationCode,jdbcType=VARCHAR},
      </if>
      <if test="appCertificateType != null" >
        #{appCertificateType,jdbcType=VARCHAR},
      </if>
      <if test="appCertificateNo != null" >
        #{appCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="newSaleBranchNo != null" >
        #{newSaleBranchNo,jdbcType=VARCHAR},
      </if>
      <if test="newSaleZoneNo != null" >
        #{newSaleZoneNo,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="subOrg != null" >
        #{subOrg,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null" >
        #{processStatus,jdbcType=VARCHAR},
      </if>
        CURRENT_TIMESTAMP,
      <if test="processMessage != null" >
        #{processMessage,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMarketChangeList" >
    update ISG_MARKET_CHANGE_LIST
    <set >
      <if test="operationType != null" >
        OPERATION_TYPE = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="gdsId != null" >
        GDS_ID = #{gdsId,jdbcType=DECIMAL},
      </if>
      <if test="createby != null" >
        CREATEBY = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateby != null" >
        LAST_UPDATEBY = #{lastUpdateby,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="dealerNo != null" >
        DEALER_NO = #{dealerNo,jdbcType=VARCHAR},
      </if>
      <if test="oldSaleOrgCode != null" >
        OLD_SALE_ORG_CODE = #{oldSaleOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="newSaleOrgCode != null" >
        NEW_SALE_ORG_CODE = #{newSaleOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="newDealerType != null" >
        NEW_DEALER_TYPE = #{newDealerType,jdbcType=VARCHAR},
      </if>
      <if test="newDealerSubType != null" >
        NEW_DEALER_SUB_TYPE = #{newDealerSubType,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null" >
        APP_DATE = #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="appDocNo != null" >
        APP_DOC_NO = #{appDocNo,jdbcType=VARCHAR},
      </if>
      <if test="appEntryTime != null" >
        APP_ENTRY_TIME = #{appEntryTime,jdbcType=VARCHAR},
      </if>
      <if test="appEntryBy != null" >
        APP_ENTRY_BY = #{appEntryBy,jdbcType=VARCHAR},
      </if>
      <if test="appCheckedTime != null" >
        APP_CHECKED_TIME = #{appCheckedTime,jdbcType=VARCHAR},
      </if>
      <if test="appCheckedBy != null" >
        APP_CHECKED_BY = #{appCheckedBy,jdbcType=VARCHAR},
      </if>
      <if test="appCheckedMemo != null" >
        APP_CHECKED_MEMO = #{appCheckedMemo,jdbcType=VARCHAR},
      </if>
      <if test="appAuditedTime != null" >
        APP_AUDITED_TIME = #{appAuditedTime,jdbcType=VARCHAR},
      </if>
      <if test="appAuditedBy != null" >
        APP_AUDITED_BY = #{appAuditedBy,jdbcType=VARCHAR},
      </if>
      <if test="appAuditedMemo != null" >
        APP_AUDITED_MEMO = #{appAuditedMemo,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranStatus != null" >
        GDS_TRAN_STATUS = #{gdsTranStatus,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranSoPeriod != null" >
        GDS_TRAN_SO_PERIOD = #{gdsTranSoPeriod,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranEffectivePeriod != null" >
        GDS_TRAN_EFFECTIVE_PERIOD = #{gdsTranEffectivePeriod,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranTime != null" >
        GDS_TRAN_TIME = #{gdsTranTime,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranBy != null" >
        GDS_TRAN_BY = #{gdsTranBy,jdbcType=VARCHAR},
      </if>
      <if test="gdsTranMemo != null" >
        GDS_TRAN_MEMO = #{gdsTranMemo,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranFlag != null" >
        OLD_ORG_TRAN_FLAG = #{oldOrgTranFlag,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranTime != null" >
        OLD_ORG_TRAN_TIME = #{oldOrgTranTime,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranBy != null" >
        OLD_ORG_TRAN_BY = #{oldOrgTranBy,jdbcType=VARCHAR},
      </if>
      <if test="oldOrgTranMemo != null" >
        OLD_ORG_TRAN_MEMO = #{oldOrgTranMemo,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranFlag != null" >
        NEW_ORG_TRAN_FLAG = #{newOrgTranFlag,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranTime != null" >
        NEW_ORG_TRAN_TIME = #{newOrgTranTime,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranBy != null" >
        NEW_ORG_TRAN_BY = #{newOrgTranBy,jdbcType=VARCHAR},
      </if>
      <if test="newOrgTranMemo != null" >
        NEW_ORG_TRAN_MEMO = #{newOrgTranMemo,jdbcType=VARCHAR},
      </if>
      <if test="appFullName != null" >
        APP_FULL_NAME = #{appFullName,jdbcType=VARCHAR},
      </if>
      <if test="appLastName != null" >
        APP_LAST_NAME = #{appLastName,jdbcType=VARCHAR},
      </if>
      <if test="appFirstName != null" >
        APP_FIRST_NAME = #{appFirstName,jdbcType=VARCHAR},
      </if>
      <if test="appCertificateNationCode != null" >
        APP_CERTIFICATE_NATION_CODE = #{appCertificateNationCode,jdbcType=VARCHAR},
      </if>
      <if test="appCertificateType != null" >
        APP_CERTIFICATE_TYPE = #{appCertificateType,jdbcType=VARCHAR},
      </if>
      <if test="appCertificateNo != null" >
        APP_CERTIFICATE_NO = #{appCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="newSaleBranchNo != null" >
        NEW_SALE_BRANCH_NO = #{newSaleBranchNo,jdbcType=VARCHAR},
      </if>
      <if test="newSaleZoneNo != null" >
        NEW_SALE_ZONE_NO = #{newSaleZoneNo,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="subOrg != null" >
        SUB_ORG = #{subOrg,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null" >
        PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null" >
        PROCESS_DATE = #{processDate,jdbcType=TIMESTAMP},
      </if>
      <if test="processMessage != null" >
        PROCESS_MESSAGE = #{processMessage,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
    </set>
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lkkhpg.dsis.admin.integration.gds.dto.IsgMarketChangeList" >
    update ISG_MARKET_CHANGE_LIST
    set OPERATION_TYPE = #{operationType,jdbcType=VARCHAR},
      GDS_ID = #{gdsId,jdbcType=DECIMAL},
      CREATEBY = #{createby,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      LAST_UPDATEBY = #{lastUpdateby,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      DEALER_NO = #{dealerNo,jdbcType=VARCHAR},
      OLD_SALE_ORG_CODE = #{oldSaleOrgCode,jdbcType=VARCHAR},
      NEW_SALE_ORG_CODE = #{newSaleOrgCode,jdbcType=VARCHAR},
      NEW_DEALER_TYPE = #{newDealerType,jdbcType=VARCHAR},
      NEW_DEALER_SUB_TYPE = #{newDealerSubType,jdbcType=VARCHAR},
      APP_DATE = #{appDate,jdbcType=VARCHAR},
      APP_DOC_NO = #{appDocNo,jdbcType=VARCHAR},
      APP_ENTRY_TIME = #{appEntryTime,jdbcType=VARCHAR},
      APP_ENTRY_BY = #{appEntryBy,jdbcType=VARCHAR},
      APP_CHECKED_TIME = #{appCheckedTime,jdbcType=VARCHAR},
      APP_CHECKED_BY = #{appCheckedBy,jdbcType=VARCHAR},
      APP_CHECKED_MEMO = #{appCheckedMemo,jdbcType=VARCHAR},
      APP_AUDITED_TIME = #{appAuditedTime,jdbcType=VARCHAR},
      APP_AUDITED_BY = #{appAuditedBy,jdbcType=VARCHAR},
      APP_AUDITED_MEMO = #{appAuditedMemo,jdbcType=VARCHAR},
      GDS_TRAN_STATUS = #{gdsTranStatus,jdbcType=VARCHAR},
      GDS_TRAN_SO_PERIOD = #{gdsTranSoPeriod,jdbcType=VARCHAR},
      GDS_TRAN_EFFECTIVE_PERIOD = #{gdsTranEffectivePeriod,jdbcType=VARCHAR},
      GDS_TRAN_TIME = #{gdsTranTime,jdbcType=VARCHAR},
      GDS_TRAN_BY = #{gdsTranBy,jdbcType=VARCHAR},
      GDS_TRAN_MEMO = #{gdsTranMemo,jdbcType=VARCHAR},
      OLD_ORG_TRAN_FLAG = #{oldOrgTranFlag,jdbcType=VARCHAR},
      OLD_ORG_TRAN_TIME = #{oldOrgTranTime,jdbcType=VARCHAR},
      OLD_ORG_TRAN_BY = #{oldOrgTranBy,jdbcType=VARCHAR},
      OLD_ORG_TRAN_MEMO = #{oldOrgTranMemo,jdbcType=VARCHAR},
      NEW_ORG_TRAN_FLAG = #{newOrgTranFlag,jdbcType=VARCHAR},
      NEW_ORG_TRAN_TIME = #{newOrgTranTime,jdbcType=VARCHAR},
      NEW_ORG_TRAN_BY = #{newOrgTranBy,jdbcType=VARCHAR},
      NEW_ORG_TRAN_MEMO = #{newOrgTranMemo,jdbcType=VARCHAR},
      APP_FULL_NAME = #{appFullName,jdbcType=VARCHAR},
      APP_LAST_NAME = #{appLastName,jdbcType=VARCHAR},
      APP_FIRST_NAME = #{appFirstName,jdbcType=VARCHAR},
      APP_CERTIFICATE_NATION_CODE = #{appCertificateNationCode,jdbcType=VARCHAR},
      APP_CERTIFICATE_TYPE = #{appCertificateType,jdbcType=VARCHAR},
      APP_CERTIFICATE_NO = #{appCertificateNo,jdbcType=VARCHAR},
      NEW_SALE_BRANCH_NO = #{newSaleBranchNo,jdbcType=VARCHAR},
      NEW_SALE_ZONE_NO = #{newSaleZoneNo,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      SUB_ORG = #{subOrg,jdbcType=VARCHAR},
      PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR},
      PROCESS_DATE = #{processDate,jdbcType=TIMESTAMP},
      PROCESS_MESSAGE = #{processMessage,jdbcType=VARCHAR},
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL}
    where INTERFACE_ID = #{interfaceId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
      from ISG_MARKET_CHANGE_LIST
    <where>
        PROCESS_DATE &gt; #{processDateFrom,jdbcType=TIMESTAMP}
        <if test="requestDateTo != null" >
            AND PROCESS_DATE &lt; #{processDateTo,jdbcType=TIMESTAMP}
        </if>
        <if test="processStatus != null" >
            AND PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR}
        </if>
        <if test="advoiseNo != null" >
            AND ADVISE_NO = #{advoiseNo,jdbcType=VARCHAR}
        </if>
    </where>
    order by interface_id desc
  </select>
  
  <select id="selectByGdsIdAndMemberCode" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
      from ISG_MARKET_CHANGE_LIST
    <where>
        <if test="requestDateTo != null" >
            AND PROCESS_DATE &lt; #{processDateTo,jdbcType=TIMESTAMP}
        </if>
        <if test="processStatus != null" >
            AND PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR}
        </if>
        <if test="advoiseNo != null" >
            AND ADVISE_NO = #{advoiseNo,jdbcType=VARCHAR}
        </if>
        <if test="gdsId != null" >
            AND GDS_ID = #{gdsId,jdbcType=DECIMAL}
        </if>
        <if test="dealerNo != null" >
            AND DEALER_NO = #{dealerNo,jdbcType=VARCHAR}
        </if>
    </where>
    order by interface_id desc
  </select>
</mapper>