<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lkkhpg.dsis.integration.payment.mapper.ReportRefundsMapper">
    <resultMap id="BaseResultMap" type="com.lkkhpg.dsis.integration.payment.dto.ReportRefunds">
        <id column="OUT_REFUND_NO" property="outRefundNo" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="REFUND_FEE" property="refundFee" jdbcType="DECIMAL" />
        <result column="TOTAL_FEE" property="totalFee" jdbcType="DECIMAL" />
        <result column="TRANSPORT_FEE" property="transportFee" jdbcType="DECIMAL" />
        <result column="REDUND_REASON" property="redundReason" jdbcType="VARCHAR" />
        <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
        <result column="REFUND_EXPLAIN" property="refundExplain" jdbcType="VARCHAR" />
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL"/>
        <result column="SALE_PRICE" property="unitSellingPrice" jdbcType="DECIMAL"/>
        <result column="QUANTITY"  property="quantity" jdbcType="DECIMAL"/>
        <result column="ITEM_NUMBER"   property="itemNumber" jdbcType="VARCHAR"/>
        <result column="ITEM_NAME"   property="itemName" jdbcType="VARCHAR"/>
        <result column="CATEGORY_NAME"  property="categoryName"  jdbcType="VARCHAR"/>
        <result column="SALE_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="MEMBER_CODE" property="memberCode" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDateFrom" jdbcType="TIMESTAMP"/>
        <result column="CREATION_DATE" property="creationDateTo" jdbcType="TIMESTAMP"/>
        <result column="SALES_ORG_ID" property="salesOrgId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="reportRefunds" resultMap="BaseResultMap" parameterType="com.lkkhpg.dsis.integration.payment.dto.ReportRefunds">
     SELECT PRR.CREATION_DATE,
       PRR.OUT_REFUND_NO,
       MM.MEMBER_CODE, --申请退货账号
       NVL(SSOB.NAME, SSOT.NAME) SALE_NAME,
       NVL(ICB.CATEGORY_NAME, ICBT.CATEGORY_NAME) CATEGORY_NAME,
       IIB.ITEM_NAME,
       IIB.ITEM_NUMBER,
       OSL.WEIGHT,
       OSL.UNIT_SELLING_PRICE SALE_PRICE, --挂牌单价
       OSL.QUANTITY,
       PRR.REFUND_FEE, --         退款金额
       PRR.TOTAL_FEE, --          原订单金额
       PRR.TRANSPORT_FEE, --      物流费
       PRR.SERVICE_TYPE,
       PRR.REDUND_REASON,
       SCVB.MEANING,
       PRR.REFUND_EXPLAIN
  FROM MM_MEMBER                 MM,
       SPM_SALES_ORGANIZATION_B  SSOB,
       SPM_SALES_ORGANIZATION_TL SSOT,
       SYS_CODE_B                SCB,
       SYS_CODE_VALUE_B          SCVB,
       INV_CATEGORY_B            ICB,
       INV_CATEGORY_TL           ICBT,
       INV_ITEM_CATEGORY         IIC,
       INV_ITEM_B                IIB,
       OM_SALES_LINE             OSL,
       OM_SALES_ORDER            OSO,
       TF_PAY_REFUND_REQUEST     PRR
 WHERE PRR.OUT_TRADE_NO = OSO.ORDER_NUMBER
   AND OSO.HEADER_ID = OSL.HEADER_ID
   AND OSL.ITEM_ID = IIB.ITEM_ID(+)
   AND ICB.CATEGORY_ID = ICBT.CATEGORY_ID
   AND ICBT.LANG = 'zh_CN'
   AND ICB.CATEGORY_ID(+) = IIC.CATEGORY_ID
   AND IIC.ITEM_ID(+) = OSL.ITEM_ID
   AND SCB.CODE_ID = SCVB.CODE_ID
   AND SCB.CODE = 'RM.RETURN_REASON'
   AND SCVB.VALUE = PRR.REDUND_REASON(+)
   AND SSOB.SALES_ORG_ID = SSOT.SALES_ORG_ID
   AND SSOT.LANG = 'zh_CN'
   AND PRR.SALEES_OR_ID = SSOB.SALES_ORG_ID
   AND OSO.MEMBER_ID = MM.MEMBER_ID
        <if test="salesOrgId != null">
            AND OSO.SALES_ORG_ID = #{salesOrgId,jdbcType=DECIMAL}
        </if>
        <if test="memberCode != null">
            AND  MM.MEMBER_CODE= #{memberCode,jdbcType=VARCHAR}
        </if>
        <if test="creationDateFrom != null and creationDateTo != null">
            AND trunc(CREATION_DATE) between #{creationDateFrom, jdbcType=TIMESTAMP} and #{creationDateTo, jdbcType=TIMESTAMP}
        </if>
        <if test="creationDateFrom != null and creationDateTo == null">
            AND trunc(CREATION_DATE) <![CDATA[ >= ]]> #{creationDateFrom, jdbcType=TIMESTAMP}
        </if>
        <if test="creationDateFrom == null and creationDateTo != null">
            AND trunc(CREATION_DATE)  <![CDATA[ <= ]]> #{creationDateTo, jdbcType=TIMESTAMP}
        </if>

    </select>

</mapper>