.banner-img{
    height:15rem;
    width: 100%;
    background: #fff;
}

.swiper-pagination-bullet{
    opacity: 1 !important;
    background: #fff !important;
    box-sizing: border-box;
    height:6px !important;
    width:6px !important;
}
.swiper-pagination-bullet-active{
    border:1px solid #fff;
    background: transparent !important;
    opacity: 0;
}
.merchant-menu{
    background: #fff;
    padding:20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.merchant-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: #959595;
}
.merchant-menu-list-icon{
    width:3rem;
    box-shadow: 0px 3px 6px 0.1px rgba(56, 0, 0, 0.5);
    margin-bottom: 10px;
}
.bg-img{
    width: 100%;
    display: block;
}
.fodder-hange-title{
    background: #8d8d8d;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend-line{
    height:1px;
    width: 30px;
    background: #fff;
}
.fodder-hange-text{
    color:#fff;
    margin:0 5px;
    font-size: 16px;
}
.fodder-hange-list{
    padding:0 20px;
    padding-bottom: 8px;
    display: flex;
    background: #fff;
}
.fodder-hange-item{
    flex: 1;
    margin: 5px;
    background: #e4e4e4;
    border-radius: 5px;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0;
}
.fodder-hange-img{
    width: 75%;
    display: block;
}